<div id="about" style="padding: 0 24px">
  <div class="Header" fxLayout="row">
    <h2>Authorised Signatory Details / Admin Accounts</h2>
  </div>
  <div class="container" fxLayout="row wrap">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" (click)="openAddOpsTeam()">
      <div class="card">
        <div class="team_title">
          <img class="addnew" src="./assets/images/addnew.png">
          <div class="addnewtext">Add New <br>Admin</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget1" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of teamdata">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon class="deleteicon" (click)="editTeam(x)">mode_edit</mat-icon>
            <mat-slide-toggle class="togglestatus" [checked]="x.status == '1'" (change)="statuschange(x)"></mat-slide-toggle>
            <mat-icon class="deleteicon" (click)="deleteTeam(x._id)">delete</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" >
          <img class="avatar huge avicon" [src]="x.profilepic">
          </div>
          <div class="teamName">{{x.fname}} {{x.lname}}</div>
          <div class="designation align_center_top">{{x.designation}}</div>
          <div class="email align_center_top">{{x.email}}</div>
          <div class="phone align_center_top">{{x.mobileNo}}</div>
          <div class="phone align_center_top">{{x.landlineNo}}</div>
        </div>
      </div>
    </div>
  </div>
</div>




<ngx-smart-modal #addopsteam identifier="addopsteam">

  <div class="modal_container">
    <div class="modal_tile">Add Admin</div>
    <form [formGroup]="addteam">
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="First Name" formControlName="fname">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput  placeholder="Last Name" formControlName="lname">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Designation" formControlName="designation">
      </mat-form-field>
        <mat-form-field class="modal_input_50">
          <mat-select formControlName="role">
            <mat-option [value]="'Admin'">Admin</mat-option>
            <mat-option [value]="'Normal'">Normal</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Mobile Number" formControlName="mobileNo">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput  placeholder="Landline Number" formControlName="landlineNo">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Email (Username)" formControlName="email">
      </mat-form-field>
    </div>
    <div fxLayout="row" >
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Profile Picture" formControlName="profilepic_name">
      </mat-form-field>
      <div class="upload-btn-wrapper">
        <button class="uploadbtn">Upload a file</button>
        <input type="file" formControlName="profilepic" name="myfile" (change)="uploadpp($event)" />
      </div>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-slide-toggle  class="togglestatus" formControlName="confirm_email_sent">Email Credentials</mat-slide-toggle>
    </div>
    <!-- <div fxLayout="row" style="padding:10px">
    <div style="width:41%">Upload Profile Picture</div>
    <input type="file" (change)="upload($event.target.files)" placeholder="Profile Picture" style="width:65%;margin-left:10%">
    </div> -->
      <button type="button" class="tabbuttons primary" style="float:right" (click)="AddTeamDetails()">Add Team</button>
    </form>

  </div>

</ngx-smart-modal>

<ngx-smart-modal #editopsteam identifier="editopsteam">

  <div class="modal_container">
    <div class="modal_tile">Update Admin</div>
    <form [formGroup]="addteam">
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="First Name" formControlName="fname">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput  placeholder="Last Name" formControlName="lname">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Designation" formControlName="designation">
      </mat-form-field>
        <mat-form-field class="modal_input_50">
          <mat-select formControlName="role">
            <mat-option [value]="'Admin'">Admin</mat-option>
            <mat-option [value]="'Normal'">Normal</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Mobile Number" formControlName="mobileNo">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput  placeholder="Landline Number" formControlName="landlineNo">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Email (Username)" formControlName="email">
      </mat-form-field>
    </div>
    <div fxLayout="row" >
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Profile Picture" formControlName="profilepic_name">
      </mat-form-field>
      <div class="upload-btn-wrapper">
        <button class="uploadbtn">Upload a file</button>
        <input type="file" formControlName="profilepic" name="myfile" (change)="uploadpp($event)" />
      </div>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-slide-toggle  class="togglestatus" formControlName="confirm_email_sent">Email Credentials</mat-slide-toggle>
    </div>
    <!-- <div fxLayout="row" style="padding:10px">
    <div style="width:41%">Upload Profile Picture</div>
    <input type="file" (change)="upload($event.target.files)" placeholder="Profile Picture" style="width:65%;margin-left:10%">
    </div> -->
      <button type="button" class="tabbuttons primary" style="float:right" (click)="updateTeamDetails()">Update Team</button>
    </form>

  </div>

</ngx-smart-modal>
