<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

      <!-- HEADER -->
      <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
          <div fxLayout="row" fxLayoutAlign="start center">
            <h2>B2B Orders</h2>
          </div>

          <div class="top-search">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input #filter placeholder="Search">
              <mat-icon>search</mat-icon>
            </div>
            <!-- <button mat-raised-button class="cta-button" color="accent" [routerLink]="'/apps/catalogue/upload'">Upload Catalogue</button> -->
          </div>
        </div>

      </div>
      <!-- / HEADER -->

      <div class="content-wrapper">
        <div class="top-tabs">
          <div fxLayout="row" fxLayoutAlign="start center" >
            <div fxFlex="100" class="user-tab-menu">
              <ul>
                <li [ngClass]="{'active': activeTabType === 'ror'}" (click)="selectedType('ror')">
                    <button>Retailer OR</button>
                </li>
               <li [ngClass]="{'active': activeTabType === 'rsor'}" (click)="selectedType('rsor')">
                    <button>Retailer SOR</button>
                </li>
                <li [ngClass]="{'active': activeTabType === 'dor'}" (click)="selectedType('dor')">
                    <button>Distributor OR</button>
                </li>
                <li [ngClass]="{'active': activeTabType === 'dsor'}" (click)="selectedType('dsor')">
                    <button>Distributor SOR</button>
                </li>
                <li [ngClass]="{'active': activeTabType === 'rdor'}" (click)="selectedType('rdor')">
                    <button>Retailer - Distributor OR</button>
                </li>
                <li [ngClass]="{'active': activeTabType === 'rdsor'}" (click)="selectedType('rdsor')">
                    <button>Retailer - Distributor SOR</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="content content-wrapper">

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

          <!-- CONTENT -->
          <div class="content-section">

            <div class="table-section">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="100" class="tab-menu">
                    <ul>
                      <li [ngClass]="{'active': activeTabs === 'pending'}" (click)="selectedItem('pending')">
                        <button>Pending</button>
                      </li>
                      <li [ngClass]="{'active': activeTabs === 'approved'}" (click)="selectedItem('approved')">
                        <button>Approved</button>
                      </li>
                      <li [ngClass]="{'active': activeTabs === 'shipped'}" (click)="selectedItem('shipped')">
                        <button>Shipped</button>
                      </li>
                      <li [ngClass]="{'active': activeTabs === 'complete'}" (click)="selectedItem('complete')">
                        <button>Complete</button>
                      </li>
                    </ul>
                  </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="activeTabType === 'ror'">
                  <div fxFlex="100" class="tab-content">

                    <div *ngIf="activeTabs === 'pending'">
                      <div class="option-select">
                        <div class="radio-button">
                          <input type="radio" id="test1" name="radio-group" value="pending" (change)="handleChange('pending')" checked>
                          <label for="test1">Pending</label>
                        </div>
                        <div class="radio-button">
                          <input type="radio" id="test2" name="radio-group" value="revised" (change)="handleChange('revised')">
                          <label for="test2">Revised</label>
                        </div>
                      </div>

                      <div *ngIf="handleChangeValue === 'pending'">
                        <app-pending></app-pending>
                      </div>
                      <div *ngIf="handleChangeValue === 'revised'">
                        <app-revised></app-revised>
                      </div>

                    </div>

                    <div *ngIf="activeTabs === 'approved'">
                      <app-approved></app-approved>
                    </div>

                    <div *ngIf="activeTabs === 'shipped'">
                      <app-shipped></app-shipped>
                    </div>

                    <div *ngIf="activeTabs === 'complete'">
                      <app-complete></app-complete>
                    </div>

                  </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="activeTabType === 'rsor'">
                  <div fxFlex="100" class="tab-content">

                    <div *ngIf="activeTabs === 'pending'">
                      <div class="option-select">
                        <div class="radio-button">
                          <input type="radio" id="test1" name="radio-group" value="pending" (change)="handleChange('pending')" checked>
                          <label for="test1">Pending</label>
                        </div>
                        <div class="radio-button">
                          <input type="radio" id="test2" name="radio-group" value="revised" (change)="handleChange('revised')">
                          <label for="test2">Revised</label>
                        </div>
                      </div>

                      <div *ngIf="handleChangeValue === 'pending'">
                        <app-rsor-pending></app-rsor-pending>
                      </div>
                      <div *ngIf="handleChangeValue === 'revised'">
                        <app-rsor-revised></app-rsor-revised>
                      </div>

                    </div>

                    <div *ngIf="activeTabs === 'approved'">
                      <app-rsor-approved></app-rsor-approved>
                    </div>

                    <div *ngIf="activeTabs === 'shipped'">
                      <app-rsor-shipped></app-rsor-shipped>
                    </div>

                    <div *ngIf="activeTabs === 'complete'">
                      <app-rsor-complete></app-rsor-complete>
                    </div>

                  </div>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="activeTabType === 'dor'">
                  <div fxFlex="100" class="tab-content">

                    <div *ngIf="activeTabs === 'pending'">
                      <div class="option-select">
                        <div class="radio-button">
                          <input type="radio" id="test1" name="radio-group" value="pending" (change)="handleChange('pending')" checked>
                          <label for="test1">Pending</label>
                        </div>
                        <div class="radio-button">
                          <input type="radio" id="test2" name="radio-group" value="revised" (change)="handleChange('revised')">
                          <label for="test2">Revised</label>
                        </div>
                      </div>

                      <div *ngIf="handleChangeValue === 'pending'">
                        <app-dor-pending></app-dor-pending>
                      </div>
                      <div *ngIf="handleChangeValue === 'revised'">
                        <app-dor-revised></app-dor-revised>
                      </div>

                    </div>

                    <div *ngIf="activeTabs === 'approved'">
                      <app-dor-approved></app-dor-approved>
                    </div>

                    <div *ngIf="activeTabs === 'shipped'">
                      <app-dor-shipped></app-dor-shipped>
                    </div>

                    <div *ngIf="activeTabs === 'complete'">
                      <app-dor-complete></app-dor-complete>
                    </div>

                  </div>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="activeTabType === 'dsor'">
                  <div fxFlex="100" class="tab-content">

                    <div *ngIf="activeTabs === 'pending'">
                      <div class="option-select">
                        <div class="radio-button">
                          <input type="radio" id="test1" name="radio-group" value="pending" (change)="handleChange('pending')" checked>
                          <label for="test1">Pending</label>
                        </div>
                        <div class="radio-button">
                          <input type="radio" id="test2" name="radio-group" value="revised" (change)="handleChange('revised')">
                          <label for="test2">Revised</label>
                        </div>
                      </div>

                      <div *ngIf="handleChangeValue === 'pending'">
                        <app-dsor-pending></app-dsor-pending>
                      </div>
                      <div *ngIf="handleChangeValue === 'revised'">
                        <app-dsor-revised></app-dsor-revised>
                      </div>

                    </div>

                    <div *ngIf="activeTabs === 'approved'">
                      <app-dsor-approved></app-dsor-approved>
                    </div>

                    <div *ngIf="activeTabs === 'shipped'">
                      <app-dsor-shipped></app-dsor-shipped>
                    </div>

                    <div *ngIf="activeTabs === 'complete'">
                      <app-dsor-complete></app-dsor-complete>
                    </div>

                  </div>

                </div>

            </div>
          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

      </div>
      <!-- / CONTENT -->

    </div>
