@import "src/@fuse/scss/fuse";

.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }

        .top-search {
            
            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }

            button {
                border-radius: 0 50px 50px 0;
                font-weight: normal;
                background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }
        
    }

    .content-wrapper {

        .top-tabs {
            width: 100%;
            padding: 10px 24px;
            
            .user-tab-menu {
                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0;

                    li {
                        display: inline-block;
                        // margin-right: 15px;
                        width: 16.26%;

                        button {
                            background: transparent;
                            border: 1px solid #e0e0e0;
                            padding: 15px 10px;
                            cursor: pointer;
                            transition: all 0.3s;
                            width: 100%;
                            box-shadow: 0px 0px 6px 0px #d8d8d8;
                        }
                        &:nth-child(even){
                            margin-right: 15px;
                        }
                        &:nth-child(6) {
                            margin-right: 0 !important;
                        }
                    }
                    .active {
                        button {
                            color: #094cff;
                            border: 1px solid #094cff;
                        }
                    }
                }
            }
        }

        .content-section {
            padding: 10px 24px;

            .table-section {
                background: #ffffff;
                background: #ffffff;
                padding: 15px 15px;
                border-radius: 4px;
                box-shadow: 0px 1px 10px 2px #d8d8d8;

                .tab-menu {

                    ul {
                        padding: 0;
                        list-style: none;
                        margin: 0;

                        li {
                            display: inline-block;
                            margin-right: 15px;

                            button {
                                background: #ffffff;
                                border: 1px solid #9c9c9c;
                                border-radius: 22px;
                                padding: 5px 30px;
                                cursor: pointer;
                                transition: all 0.3s;
                            }
                        }
                        .active {
                            button {
                                background: #094cff;
                                color: #ffffff;
                                border: 1px solid #094cff;
                            }
                        }
                    }
                }

            }

            .tab-content {

                .option-select {
                    padding: 15px 0;
                    .radio-button {
                        display: inline-block;
                        padding: 5px 0;
                        min-width: 100px;

                        [type="radio"]:checked,
                        [type="radio"]:not(:checked) {
                            position: absolute;
                            left: -9999px;
                        }
                        [type="radio"]:checked + label,
                        [type="radio"]:not(:checked) + label {
                            position: relative;
                            padding-left: 28px;
                            cursor: pointer;
                            line-height: 20px;
                            display: inline-block;
                            color: #000000;
                            font-size: 15px;
                        }
                        [type="radio"]:checked + label:before,
                        [type="radio"]:not(:checked) + label:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 18px;
                            height: 18px;
                            border: 1px solid #000000;
                            border-radius: 100%;
                            background: #fff;
                        }
                        [type="radio"]:checked + label:after,
                        [type="radio"]:not(:checked) + label:after {
                            content: '';
                            width: 12px;
                            height: 12px;
                            background: #094cff;
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            border-radius: 100%;
                            -webkit-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                        }
                        [type="radio"]:not(:checked) + label:after {
                            opacity: 0;
                            -webkit-transform: scale(0);
                            transform: scale(0);
                        }
                        [type="radio"]:checked + label:after {
                            opacity: 1;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                        }
                    }
                }
                
            }
        }
            
    }

}
