@import "src/@fuse/scss/fuse";

.add-button {
    text-align: right;
    padding: 15px;
}

table {
    width: 100%;
}

form {
    width: 100%;
    padding-top: 32px;

    mat-form-field {
        width: 100%;

        @include media-breakpoint('xs') {
            width: 80%;
        }
    }

    .submit-button {
        width: 100%;
        margin: 16px auto;
        display: block;

        @include media-breakpoint('xs') {
            width: 80%;
        }
    }

    .fileSection {
        width: 100%;
        height: 60px;
        background: #fff;
        margin-bottom: 21px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        padding: 10px;
    }
}

.warehouseicon{
  height: 45px;
  width: 45px;
}
