<div id="about" style="padding: 0 10px">
  <div class="container" fxLayout="row wrap">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" (click)="openAddWarehouse()">
      <div class="card">
        <div class="team_title">
          <img class="addnew" src="./assets/images/addnew.png">
          <div class="addnewtext">Add New <br>Warehouse</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget1" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of warehouse">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon class="deleteicon" (click)="editWarehouse(x)">mode_edit</mat-icon>
            <mat-slide-toggle class="togglestatus" [checked]="x.status == '1'" (click)="changeStatus(x)"></mat-slide-toggle>
            <mat-icon class="deleteicon" (click)="deleteWarehouse(x._id)">delete</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
          <img class="warehouseicon" src="./assets/images/warehouse.png">
          </div>
          <div class="teamName">{{x.name}}</div>
          <div class="email align_center_top">{{x.type}}</div>
          <div class="email align_center_top"><a href="{{x.address_proof_file}}" target="_blank">{{x.address}}</a></div>
          <div class="phone align_center_top">{{x.city}} , {{x.state}} , {{x.pincode}}</div>
          <div class="phone align_center_top">{{x.mobile}} / {{x.landline}}</div>
          <div class="phone align_center_top"><a href="{{x.GST_file}}" target="_blank">{{x.GST_number}}</a></div>
        </div>
      </div>
    </div>
  </div>

</div>




<ngx-smart-modal #addwarehouse identifier="addwarehouse">

  <div class="modal_container">
    <div class="modal_tile">Add Warehouse</div>
    <form [formGroup]="form">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Warehouse Name" formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field class="modal_input_100">
          <mat-label>Warehouse Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="'Returns'">Return</mat-option>
            <mat-option [value]="'Dispatch'">Dispatch</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Mobile" formControlName="mobile">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput  placeholder="Landline" formControlName="landline">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>
      <!-- <mat-form-field class="modal_input_50">
        <input matInput  placeholder="State" formControlName="state">
      </mat-form-field> -->
      <mat-form-field class="modal_input_50">
        <mat-label>States</mat-label>
          <mat-select formControlName="state">
            <mat-option [value]="x.value" *ngFor="let x of states">
        {{x.value}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Pincode" formControlName="pincode">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="GSTIN" formControlName="GST_number">
      </mat-form-field>
    </div>

    <div fxLayout="row" >
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Address Proof" formControlName="address_proof_file_name">
      </mat-form-field>
      <div class="upload-btn-wrapper">
        <button class="uploadbtn">Upload a file</button>
        <input type="file" formControlName="address_proof_file" name="myfile" (change)="uploadadp($event)" />
      </div>
    </div>
    <div fxLayout="row" >
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="GST" formControlName="GST_file_name">
      </mat-form-field>
      <div class="upload-btn-wrapper">
        <button class="uploadbtn">Upload a file</button>
        <input type="file" formControlName="GST_file" name="myfile" (change)="uploadpp($event)" />
      </div>
    </div>
    <!-- <div fxLayout="row" style="padding:10px">
    <div style="width:41%">Upload Profile Picture</div>
    <input type="file" (change)="upload($event.target.files)" placeholder="Profile Picture" style="width:65%;margin-left:10%">
    </div> -->
      <button type="button" class="tabbuttons primary" style="float:right" (click)="addWarehouse()">Add Warehouse</button>
    </form>

  </div>

</ngx-smart-modal>

<ngx-smart-modal #editwarehouse identifier="editwarehouse">

  <div class="modal_container">
    <div class="modal_tile">Update Warehouse</div>
    <form [formGroup]="form">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Warehouse Name" formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field class="modal_input_100">
          <mat-label>Warehouse Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="'Returns'">Return</mat-option>
            <mat-option [value]="'Dispatch'">Dispatch</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Mobile" formControlName="mobile">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput  placeholder="Landline" formControlName="landline">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>
      <!-- <mat-form-field class="modal_input_50">
        <input matInput  placeholder="State" formControlName="state">
      </mat-form-field> -->
      <mat-form-field class="modal_input_50">
        <mat-label>States</mat-label>
          <mat-select formControlName="state">
            <mat-option [value]="x.value" *ngFor="let x of states">
        {{x.value}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Pincode" formControlName="pincode">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="GSTIN" formControlName="GST_number">
      </mat-form-field>
    </div>

    <div fxLayout="row" >
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Address Proof" formControlName="address_proof_file_name">
      </mat-form-field>
      <div class="upload-btn-wrapper">
        <button class="uploadbtn">Upload a file</button>
        <input type="file" formControlName="address_proof_file" name="myfile" (change)="uploadadp($event)" />
      </div>
    </div>
    <div fxLayout="row" >
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="GST" formControlName="GST_file_name">
      </mat-form-field>
      <div class="upload-btn-wrapper">
        <button class="uploadbtn">Upload a file</button>
        <input type="file" formControlName="GST_file" name="myfile" (change)="uploadpp($event)" />
      </div>
    </div>
    <!-- <div fxLayout="row" style="padding:10px">
    <div style="width:41%">Upload Profile Picture</div>
    <input type="file" (change)="upload($event.target.files)" placeholder="Profile Picture" style="width:65%;margin-left:10%">
    </div> -->
      <button type="button" class="tabbuttons primary" style="float:right" (click)="updateWarehouse()">Update Warehouse</button>
    </form>

  </div>

</ngx-smart-modal>
