.add-button {
    text-align: right;
    padding: 15px;
}

.BankName{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 0 10px;
  text-align: center;
}
.acctype{
  font-size: 14px;
  margin: 5px 0 0 10px;
    text-align: center;
}
.accNo{
  font-size: 14px;
  margin: 5px 0 0 10px;
    text-align: center;
}
.bankicon{
  height: 45px;
  width: 45px;
}
