<div id="about" style="padding: 0 10px">
  <div class="container" fxLayout="row wrap">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" (click)="openAddBank()">
      <div class="card">
        <div class="team_title">
          <img class="addnew" src="./assets/images/addnew.png">
          <div class="addnewtext">Add New <br>Bank Account</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget1" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of bankData">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon class="deleteicon" (click)="editBank(x)">mode_edit</mat-icon>
            <mat-slide-toggle class="togglestatus" [checked]="x.status == '1'" (change)="statuschange(x)"></mat-slide-toggle>
            <mat-icon class="deleteicon" (click)="deleteBank(x._id)">delete</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
          <img class="bankicon" src="./assets/images/Bank.png">
          </div>
          <div class="BankName">{{x.benificiary_name}}</div>
          <div class="acctype ">{{x.account_type}} Account</div>
          <div class="accNo ">Acc # : {{x.account_number}}</div>
          <div class="accNo ">{{x.branch_name}} Branch</div>
          <div class="accNo ">IFSC :{{x.ifsc_code}}</div>
          <div class="accNo ">SWIFT : {{x.swift_code}}</div>
        </div>
      </div>
    </div>
  </div>

</div>




<ngx-smart-modal #addbank identifier="addbank">

  <div class="modal_container">
    <div class="modal_tile">Add Bank</div>
    <form [formGroup]="form">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Beneficiary Name" formControlName="benificiary_name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Account Number" formControlName="account_number">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Bank Name" formControlName="bank_name">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Branch Name" formControlName="branch_name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="IFSC" formControlName="ifsc_code">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
          <mat-label>Account Type</mat-label>
            <mat-select formControlName="account_type">
              <mat-option [value]="'Current'">Current</mat-option>
              <mat-option [value]="'Savings'">Savings</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="swift_code" formControlName="swift_code">
      </mat-form-field>
    </div>

      <button type="button" class="tabbuttons primary" style="float:right" (click)="addBank()">Add Bank</button>
    </form>

  </div>

</ngx-smart-modal>

<ngx-smart-modal #editbank identifier="editbank">

  <div class="modal_container">
    <div class="modal_tile">Update Bank</div>
    <form [formGroup]="form">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Beneficiary Name" formControlName="benificiary_name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Account Number" formControlName="account_number">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Bank Name" formControlName="bank_name">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Branch Name" formControlName="branch_name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="IFSC" formControlName="ifsc_code">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
          <mat-label>Account Type</mat-label>
            <mat-select formControlName="account_type">
              <mat-option [value]="'Current'">Current</mat-option>
              <mat-option [value]="'Savings'">Savings</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="swift_code" formControlName="swift_code">
      </mat-form-field>
    </div>

      <button type="button" class="tabbuttons primary" style="float:right" (click)="updateBank()">Update Bank</button>
    </form>

  </div>

</ngx-smart-modal>
