<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>iK-Scan</h2>
      </div>
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content content-wrapper">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content-section">
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="start center">

          <div class="price-table style-1 mat-elevation-z4" fxLayout="column" fxFlex.gt-sm="14" fxFlex.gt-md="14" *ngFor="let venue of allVenues" >
            <div (click)="gotocart(venue)">
            <div class="price" fxLayout="row" fxLayoutAlign="center start">
              <div class="brand-profile" >
                <img src="./assets/images/venue_booking.png" alt="facebook">
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="terms" fxLayout="column" fxLayoutAlign="center center">
              <div class="term">
                <div class="text-bold text-uppercase" style="text-align:center">{{venue.venue_booking_id}}</div>
                <div class="" style="text-align:center;padding:10px">{{venue.address}},{{venue.city}},{{venue.state}}</div>
                <div class="brand_tagline">{{venue.starting_date | date:'dd, MMM yyyy'}} - {{venue.ending_date | date:'dd, MMM yyyy'}}</div>
              </div>
              <div class="retailer-store" fxLayoutAlign="center center">
                <div *ngIf="venue.status == '1'" style="color:orange;font-size:14px;"> Ongoing</div>
                <div *ngIf="venue.status == '0'" style="color:red"> Completed</div>
              </div>
            </div>
          </div>
          </div>

        </div>
      </div>


    </div>

  </div>
  <!-- / CONTENT -->

</div>
