@import "src/@fuse/scss/fuse";
.custom-layout{

    .catalogue_button{
      margin-right: 10px;
    }
    .catalogue_button:hover{
      background-image: linear-gradient(to right, #0046ff, #81a6fe);
      color: white;
    }

    .inventory_button{
      border-radius: 0px 25px 25px 0px;
    }
    .inventory_button:hover{
      background-image: linear-gradient(to right, #0046ff, #81a6fe);
      color: white;
    }


    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }

        .top-search {

            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }

    }

    .content-wrapper {

        .content-section {
            padding: 10px 24px;

            .custom-button{
                margin: 10px 0 10px 0;
                border-radius: 22px;
                color: #fff;
                padding: 0 15px;
                font-size: 12px;
                height: 30px;
                line-height: 30px;
                font-weight: normal;

                mat-icon{
                    font-size: 20px;
                }
            }

            .price-tables {
                margin-left: -12px;
                margin-right: -12px;

                .mat-divider {
                    margin: 10px 15px !important;
                }

                .terms {
                    padding: 5px 15px;
                    font-size: 14px;
                }

                .price-table.style-1 {
                    transition: all 0.3s;
                    cursor: pointer;
                    width: 230px;

                    &:hover {
                        transition: all 0.3s;
                        cursor: pointer;
                        box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
                    }

                    .price {
                        padding: 15px 15px;

                        .brand-profile {
                            height: 80px;
                            width: 100%;
                            text-align: center;
                            padding-top: 10px;
                            img {
                                height: 90px;
                                max-width: 100%;
                            }
                        }
                    }

                }
            }
        }

    }

}
.brand_tagline{
  height: 40px;
  max-height: 40px;
  color:#686868;
  text-align: center;
}

.retailer-store {
    text-align: right;

    .store-badge{
        padding: 3px 8px;
        background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
        color: #fff;
        font-size: 15px;
        border-radius: 22px;
        text-align: center;
    }
}
