<div id="about" style="padding: 0 24px">
  <div class="Header" fxLayout="row">
    <h2>Bank Accounts</h2>
  </div>
  <div class="container" fxLayout="row wrap">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" (click)="addbank.open()">
      <div class="card">
        <div class="team_title">
          <img class="addnew" src="./assets/images/addnew.png">
          <div class="addnewtext">Add New <br>Account</div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="banks.length > 0">
    <div class="operation_details widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor ="let x of banks">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="end end" >
            <mat-icon class="deleteicon" (click)="removeBank(x._id)">delete</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10%">
          <img class="avicon1" src="./assets/images/Bank.png">
          </div>
          <div style="font-size:16px;font-weight:600;margin-top:20px;text-align: center;">{{x.benificiary_name}}</div>
          <div class="phone1" style="margin-top:10px">Acc #: {{x.account_number}}</div>
          <div class="phone1 ">IFSC : {{x.ifsc_code}}</div>
          <div class="phone1 ">Branch Name: {{x.branch_name}}</div>
          <div class="phone1 ">Account Type: {{x.account_type}}</div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>

</div>
<ngx-smart-modal #addbank identifier="addbank">
<form [formGroup]="form">
  <div class="modal_container">
    <div class="modal_tile">Add Bank</div>
    <form [formGroup]="form">
    <div fxLayout="row">
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="bank_name" >
  <mat-radio-button class="example-radio-button" *ngFor="let x of allbanks" [value]="x._id">
    {{x.benificiary_name}} <br> {{x.bank_name}} <br> {{x.account_number}} ( {{x.account_type}})
  </mat-radio-button>
</mat-radio-group>

    </div>
      <button type="button" class="primary" style="height:35px;width:160px;border-radius:30px;float:right" (click)="bankaccounts()">Link Bank</button>
    </form>

  </div>

</form>
</ngx-smart-modal>
