<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

      <!-- HEADER -->
      <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
          <div fxLayout="row" fxLayoutAlign="start center">
            <h2>Reports</h2>
          </div>

          <div class="top-search">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input #filter placeholder="Search">
              <mat-icon>search</mat-icon>
            </div>
            <button mat-raised-button class="cta-button" color="accent">Generate Report</button>
          </div>
        </div>

      </div>
      <!-- / HEADER -->

      <div class="content-wrapper">
        <div class="top-tabs">
            <div fxLayout="column" fxFlex="20" class="user-tab-menu_main">
              <div class="main_title">Report Type</div>
                <mat-radio-group  aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" [value]="true" >Stock Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false" >Sale Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="true" >Sell Thru Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false" >Best Seller Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false" >Worst Seller Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false" >Margin Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false" >Discount Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false" >Region Contribution Report</mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false" >Use Report</mat-radio-button>
                </mat-radio-group>
              </div>
            <div fxLayout="column" fxFlex="20" class="user-tab-menu">
              <div class="subtitle">Brands</div>
              <div class="Sidebar">
                  <mat-selection-list #shoes>
                    <mat-list-option>Shree</mat-list-option>
                    <mat-list-option>MSFQ</mat-list-option>
                    <mat-list-option>Vance</mat-list-option>
                  </mat-selection-list>
                </div>
              <div class="subtitle">Locations</div>
              <div class="Sidebar">
                  <mat-selection-list #shoes>
                    <mat-list-option>All</mat-list-option>
                    <mat-list-option>North</mat-list-option>
                    <mat-list-option>East</mat-list-option>
                    <mat-list-option>South</mat-list-option>
                    <mat-list-option>West</mat-list-option>
                    <mat-list-option>Central</mat-list-option>
                  </mat-selection-list>
                </div>
            </div>
            <div fxLayout="column" fxFlex="20" class="user-tab-menu">
                <div class="subtitle">Locations</div>
              <div class="Sidebar">
                  <mat-selection-list #shoes>
                    <mat-list-option>Bangalore</mat-list-option>
                    <mat-list-option>Chennai</mat-list-option>
                    <mat-list-option>Mumbai</mat-list-option>
                    <mat-list-option>Delhi</mat-list-option>
                    <mat-list-option>Kolkata</mat-list-option>
                  </mat-selection-list>
                </div>
            <div class="subtitle"><mat-icon>people</mat-icon>Segments</div>
              <div class="Sidebar">
                  <mat-selection-list #shoes>
                    <mat-list-option>Men</mat-list-option>
                    <mat-list-option>Women</mat-list-option>
                    <mat-list-option>Kids</mat-list-option>
                  </mat-selection-list>
                </div>
            </div>
            <div fxLayout="column" fxFlex="20" class="user-tab-menu">

              <div class="subtitle">Portfolio</div>
              <div class="Sidebar">
                  <mat-selection-list #shoes>
                    <mat-list-option>Heritage</mat-list-option>
                    <mat-list-option>National</mat-list-option>
                    <mat-list-option>International</mat-list-option>
                  </mat-selection-list>
                </div>
              <div class="subtitle">Department</div>
              <div class="Sidebar">
                  <mat-selection-list #shoes>
                    <mat-list-option>Clothing</mat-list-option>
                    <mat-list-option>Footwear</mat-list-option>
                    <mat-list-option>Accessories</mat-list-option>
                  </mat-selection-list>
                </div>
                  <div class="subtitle"><mat-icon>av_timer</mat-icon>Duration</div>
                <div class="Sidebar">
                    <mat-selection-list #shoes>
                      <mat-list-option>Weekly</mat-list-option>
                      <mat-list-option>Monthly</mat-list-option>
                      <mat-list-option>Yearly</mat-list-option>
                    </mat-selection-list>
                </div>


            </div>
        </div>
      </div>

    </div>
