<div id="about" style="padding: 0 24px">
  <div class="Header" fxLayout="row">
    <h2>Team</h2>
  </div>
  <div class="container" fxLayout="row wrap">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" (click)="addopsteam.open()">
      <div class="card">
        <div class="team_title">
          <img class="addnew" src="./assets/images/addnew.png">
          <div class="addnewtext">Add New <br> Team</div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="authteam.length > 0">
    <div class="operation_details widget1" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of authteam">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="end end" >
            <mat-icon class="deleteicon" (click)="deleteopsteam(x._id)">delete</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" >
          <img class="avatar huge avicon" *ngIf="!x.profilepic" src="./assets/images/avatar/profile.png">
          <img class="avatar huge avicon" *ngIf="x.profilepic" src="{{x.profilepic}}">
          </div>

          <div class="teamName">{{x.fname}} {{x.lname}}</div>
          <div class="designation align_center_top">{{x.designation}}</div>
          <div class="email align_center_top">{{x.email}}</div>
          <div class="phone align_center_top">{{x.mobileNo}}</div>
          <div class="phone align_center_top">{{x.landlineNo}}</div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>

</div>




<ngx-smart-modal #addopsteam identifier="addopsteam">

  <div class="modal_container">
    <div class="modal_tile">Add Team</div>
    <form [formGroup]="addteam">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100" >
      <mat-label>Add Team</mat-label>
      <mat-select formControlName="firstname">
        <mat-option *ngFor="let x of companyteam" [value]="x._id">{{x.fname}} {{x.mname}} {{x.lname}}</mat-option>
      </mat-select>
    </mat-form-field>

    </div>
      <button type="button" class="modalbuttons primary" (click)="addteamtobrand()">Add Team</button>
    </form>

  </div>

</ngx-smart-modal>
