.shipnowcontainer{
  margin: 20px
}
.buttons{
  float:right;
  height: 30px;
}
.primarybtn1{
    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
    color: white !important;
    width: 100px;
    border-radius: 30px;
}
