  <!-- <form [formGroup]="form">
<div class="shipnowcontainer">
  <h3 style="font-weight:600;font-size:18px">Invoice</h3>

  <div fxLayout="row">
  <mat-form-field class="example-full-width" style="width:94%" >
      <input formControlName="invoice_id" matInput placeholder="Invoice ID">
  </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field class="modal_input_50">
      <input matInput placeholder="Invoice File" formControlName="invoice_file">
    </mat-form-field>
    <div class="upload-btn-wrapper">
      <button class="uploadbtn">Upload a file</button>
      <input type="file" formControlName="profilepic" name="myfile" (change)="uploadpp($event)" />
    </div>
  </div>
  <div fxLayout="row">
    <mat-form-field class="example-full-width" style="margin-right: 40px;" >
        <input type="number" formControlName="invoice_qty" matInput placeholder="Invoice Quantity">
    </mat-form-field>
    <mat-form-field class="example-full-width" style="margin-right: 40px;" >
        <input matInput formControlName="invoice_value" placeholder="Invoice Value">
    </mat-form-field>
  </div>
  <div style="height:2px;background:#fff;width:100%;margin: 10px 0 10px 0"></div>
  <h3 style="font-weight:600;font-size:18px">Shipment</h3>
  <div fxLayout="row">
  <mat-form-field class="example-full-width" style="margin-right: 40px;" >
      <input formControlName="transportName"  matInput placeholder="Transporter Name">
  </mat-form-field>

  <mat-form-field class="example-full-width" >
      <input formControlName="trackingID" matInput placeholder="Tracking ID">
  </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field style="margin-right: 10px;">
      <input matInput formControlName="Shipmentdate" [matDatepicker]="picker" placeholder="Choose Shipment date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="DeliveryDate" [matDatepicker]="picker2" placeholder="Choose Delivery date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    </div>
</div>

<div class="buttons" fxLayout="row">
  <button type="button" class="primarybtn1" (click)="shipnow()">
    Ship Now
  </button>
</div>
  </form > -->
