<div id="photos-videos" class="p-24">
  <div class="container" fxLayout="row wrap">
    <!-- <div class="operation_details widget2" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
      <div class="imagecard">
        <img class="addnewimage" src="./assets/images/addnew.png">
        <div style="font-size: 16px;text-align: center;padding-top: 15px;">Add New Image</div>
        <input class="inputwrapper" type="file" (change)="uploadgalimage($event)">
      </div>
    </div> -->
    <div class="operation_details widget2" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18"  *ngFor="let x of data.gallery; let i=index">
      <div class="imagecard" style="margin:10px;">
        <!-- <mat-icon style="position:absolute;margin-left:212px; margin-top:5px" (click)="deleteimage(i)">delete</mat-icon> -->
        <img style="height:100%;width:100%" [src]="x" (click)="open(i)">
      </div>
    </div>

  </div>
</div>
