    <div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">
          <div class="content content-wrapper">

            <!-- CENTER -->
            <div class="center p-24" fusePerfectScrollbar>

              <!-- CONTENT -->
              <div class="content inner-padding">
                <div fxLayout="row" style="display:inline-block">
                <h2 class="PageHeader">Request to Add Retail Partners</h2>
                </div>
                <div style="height:2px;background:#cacaca;width:100%"></div>
                <div class="Parent_Container">
                  <!-- <ul class="tabgroup" style="float:left">
                    <li >
                      <button [ngClass]="{'active':activetab1}" (click)="changetoConnected()">Distributor</button>
                    </li>
                    <li>
                      <button [ngClass]="{'active':activetab2}" (click)="changetoPWA()">Retailer</button>
                    </li>
                  </ul> -->
                  <!-- <div class="" *ngIf="status == 0">
                      <app-add-distributor></app-add-distributor>
                  </div> -->
                  <div class="" >
                      <app-add-retailer></app-add-retailer>
                  </div>
              </div>
              </div>
              <!-- / CONTENT -->

            </div>
            <!-- / CENTER -->

          </div>
          <!-- / CONTENT -->

        </div>
