@import "src/@fuse/scss/fuse";

.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;
        border-bottom: 1px solid #cacaca;

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            background: #fff;
            color: rgba(0,0,0,.54);
            @include mat-elevation(1);

            @include media-breakpoint('xs') {
                width: 100%;
            }

            .search {
                width: 100%;
                height: 40px;
                line-height: 40px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 40px;
                    min-height: 40px;
                    max-height: 40px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }

        @include media-breakpoint('xs') {
            padding: 8px 0;
            height: 160px !important;
            min-height: 160px !important;
            max-height: 160px !important;
        }
    }

    .content-wrapper {

        .inner-padding {
            padding: 15px 15px;

            table {
                width: 100%;
            }

            th.mat-sort-header-sorted {
            color: black;
            }

            .action-button{
                margin: 0 5px;
            }

        }

    }

}

.tabgroup{
      list-style: none;
      margin-top: 20px;
      padding: 0;
      margin-bottom:30px;
}

.tabgroup li {
  display: inline-block;
  margin-right: 10px;
}
.tabgroup li button {
  height: 40px;
  width: 150px;
  border-radius: 30px;
}

.active {
    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
    color: white;
}
