@import "src/@fuse/scss/fuse";
.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }


        .top-search {

            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }

            button {
                border-radius: 0 50px 50px 0;
                font-weight: normal;
                width: 100px;

            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }
    }
    .content{
      padding: 20px;
      .tableOptions{
        width: 180px;
        height: 40px;
        margin: 10px 10px 10px 0px;
      }
      .tableOptions2{
        width: 220px;
        height: 40px;
        margin: 10px 10px 10px 0px;
      }
      .tab-menu{
        width: 100%;
      }
    }
  }
