<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>Cart Report</h2>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" style="height:40px">
        <mat-form-field  appearance="fill" style="width: 300px;height: 56px;">
          <mat-label>Filter by Brands</mat-label>
          <mat-select [(ngModel)]="selectedoption" multiple>
            <mat-option *ngFor="let brand of Brands" [value]="brand._id">{{brand.brand_name}}</mat-option>
          </mat-select>
           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button  style="margin:0 10px" (click)="selectedoption = '';" [ngClass]="{'primarybtn': selectedoption == ''}"><mat-icon style="font-size:19px">library_add</mat-icon>All Brands</button> -->
      </div>
    </div>
  </div>
  <div class="content" style="overflow:auto">
    <div fxLayout="row wrap" fxFlex="100%">
     <div fxLayout="row" fxFlex="100%">
       <button mat-raised-button [ngClass]="{'primarybtn' : btn == 1}" class="tableOptions" (click)="generateReportatSku()"><mat-icon style="font-size:18px">table_chart</mat-icon>Report @ SKU</button>
       <button mat-raised-button [ngClass]="{'primarybtn' : btn == 2}" (click)="generateReportatoption()" class="tableOptions"><mat-icon style="font-size:18px">table_chart</mat-icon>Report @ Option</button>
       <button mat-raised-button [ngClass]="{'primarybtn' : btn == 3}" (click)="generateClosingReportatStylecode()" class="tableOptions2"><mat-icon style="font-size:18px">table_chart</mat-icon>Closing Report @ Style</button>
       <button mat-raised-button [ngClass]="{'primarybtn' : btn == 4}" (click)="generateClosingReportatCombocode()" class="tableOptions2"><mat-icon style="font-size:18px">table_chart</mat-icon>Closing Report @ Color</button>
       <button mat-raised-button matBadge="{{columnviscount}}" class="tableOptions" matBadgePosition="after" matBadgeColor="accent" [ngClass]="{'primarybtn' : columnvis}" (click)="togglecolumnvis()"><mat-icon style="font-size:18px">visibility_off</mat-icon>Column visibility</button>
       <button mat-raised-button (click)="exportAsXLSX()" class="tableOptions"><mat-icon style="font-size:18px">table_chart</mat-icon>Download Excel</button>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="columnvis" style="border: 1px solid #cacaca;padding: 16px;background: #f0f3ffc7;margin:0px 0px 10px 0px">
      <div fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex="90" fxLayoutAlign="start start">
      <span style="font-size:16px;font-weight:600; margin:15px 0px">Show/Hide Columns</span>
        </div>
        <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center">
          <mat-icon (click)="togglecolumnvis()">close</mat-icon>
        </div>
      </div>
      <div fxLayout="column" fxFlex="14" fxLayoutAlign="start start" *ngFor="let column of columns">
        <div class="checkboxcontainer">
          <mat-checkbox [(ngModel)]="column.visibility" (change)="setcolviscount()">{{column.value}}</mat-checkbox>
        </div>
      </div>
    </div>
          <div *ngIf="btn == 1 || btn == 2 || btn == 3 || btn == 4" fxLayout="row" fxFlex="100%" fxLayoutAlign="start center"  style="max-height:60vh;overflow-y:auto">
              <div class="tab-menu">
                <div class="inventory">
                    <div class="inventory_table" style="overflow-x:scroll" fxLayout="row">
                      <table class="inventory_tab">
                        <tr class="tab_header_bg">
                          <ng-container *ngFor="let column of columns">
                            <th class="Table_title" style="text-align:center" *ngIf="column.visibility">{{column.value}}</th>
                          </ng-container>
                        </tr>
                        <tr *ngFor="let data of cartData;let i = index">
                              <td class="Table_title" *ngIf="columns[0].visibility">{{data.EAN_code}}</td>
                              <td class="Table_title" *ngIf="columns[1].visibility">{{data.Style_Code}}</td>
                              <td class="Table_title" *ngIf="columns[2].visibility">{{data.Quantity}}</td>
                              <td class="Table_title" *ngIf="columns[3].visibility">{{data.Style_Name}}</td>
                              <td class="Table_title" *ngIf="columns[4].visibility">{{data.Style_Name}}</td>
                              <td class="Table_title" *ngIf="columns[5].visibility">{{data.IK_Colour_Name}}</td>
                              <td class="Table_title" *ngIf="columns[6].visibility">{{data.Size_Code}}</td>
                              <td class="Table_title" *ngIf="columns[7].visibility">{{data.MRP}}</td>
                              <td class="Table_title" *ngIf="columns[8].visibility">{{data.season_name}}</td>
                              <td class="Table_title" *ngIf="columns[9].visibility">{{data.season_code}}</td>
                              <td class="Table_title" *ngIf="columns[10].visibility">{{data.season_code}}</td>
                              <td class="Table_title" *ngIf="columns[11].visibility">{{data.Segment}}</td>
                              <td class="Table_title" *ngIf="columns[12].visibility">{{data.Portfolio}}</td>
                              <td class="Table_title" *ngIf="columns[13].visibility">{{data.Department}}</td>
                              <td class="Table_title" *ngIf="columns[14].visibility">{{data.Vertical}}</td>
                              <td class="Table_title" *ngIf="columns[15].visibility">{{data.Category}}</td>
                              <td class="Table_title" *ngIf="columns[16].visibility">{{data.Brick}}</td>
                              <td class="Table_title" *ngIf="columns[17].visibility">{{data.Occassion}}</td>
                              <td class="Table_title" *ngIf="columns[18].visibility">{{data.Sleeve}}</td>
                              <td class="Table_title" *ngIf="columns[19].visibility">{{data.Neck}}</td>
                              <td class="Table_title" *ngIf="columns[20].visibility">{{data.Collar}}</td>
                              <td class="Table_title" *ngIf="columns[21].visibility">{{data.Pattern}}</td>
                              <td class="Table_title" *ngIf="columns[22].visibility">{{data.Fabric}}</td>
                              <td class="Table_title" *ngIf="columns[23].visibility">{{data.Fit}}</td>
                              <td class="Table_title" *ngIf="columns[24].visibility">{{data.Material}}</td>
                              <td class="Table_title" *ngIf="columns[25].visibility">{{data.Material}}</td>
                              <td class="Table_title" *ngIf="columns[26].visibility">{{data.Material}}</td>
                              <td class="Table_title" *ngIf="columns[27].visibility">{{data.Material}}</td>
                              <td class="Table_title" *ngIf="columns[28].visibility">{{data.Material}}</td>
                              <td class="Table_title" *ngIf="columns[29].visibility">{{data.Material}}</td>
                              <td class="Table_title" *ngIf="columns[30].visibility">{{data.Closure_Type}}</td>
                              <td class="Table_title" *ngIf="columns[31].visibility">{{data.Closure_Type}}</td>
                              <td class="Table_title" *ngIf="columns[32].visibility">{{data.Closure_Type}}</td>
                              <td class="Table_title" *ngIf="columns[33].visibility">{{data.Closure_Type}}</td>
                              <td class="Table_title" *ngIf="columns[34].visibility">{{data.Closure_Type}}</td>
                              <td class="Table_title" *ngIf="columns[35].visibility">{{data.Weave}}</td>
                              <td class="Table_title" *ngIf="columns[36].visibility">{{data.Technique}}</td>
                              <td class="Table_title" *ngIf="columns[37].visibility">{{data.Length}}</td>
                              <td class="Table_title" *ngIf="columns[38].visibility">{{data.Hemline}}</td>
                              <td class="Table_title" *ngIf="columns[39].visibility">{{data.Rise}}</td>
                              <td class="Table_title" *ngIf="columns[40].visibility">{{data.Pack_Qty}}</td>
                              <td class="Table_title" *ngIf="columns[41].visibility">{{data.Pleat}}</td>
                              <td class="Table_title" *ngIf="columns[42].visibility">{{data.Closure_Type}}</td>
                              <td class="Table_title" *ngIf="columns[43].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[44].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[45].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[46].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[47].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[48].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[49].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[50].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[51].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[52].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[53].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[54].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[55].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[56].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[57].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[58].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[59].visibility">{{data.Weather}}</td>
                              <td class="Table_title" *ngIf="columns[60].visibility">{{data.Style_Type}}</td>
                              <td class="Table_title" *ngIf="columns[61].visibility">{{data.Style_Type}}</td>
                              <td class="Table_title" *ngIf="columns[62].visibility">{{data.Special_Feature_1}}</td>
                              <td class="Table_title" *ngIf="columns[63].visibility">{{data.Special_Feature_2}}</td>
                              <td class="Table_title" *ngIf="columns[64].visibility">{{data.Special_Feature_3}}</td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
<ngx-smart-modal #closingReportByStyle identifier="closingReportByStyle">
  <div class="modal_container">
    <div fxLayout="row wrap">
      <mat-form-field class="modal_input_100" >
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="styleType">
          <mat-option value = "top">Top</mat-option>
          <mat-option value = "bottom">Bottom</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="modal_input_100" >
        <input matInput [(ngModel)]="stylePercentage" placeholder="Percentage (Max 100)">
      </mat-form-field>
    </div>
      <button type="button" class="tabbuttons primary" style="margin-top:20px;float:right" mat-raised-button (click)="closingReportStyleApi()">Done</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #closingReportByCombo identifier="closingReportByCombo">
  <div class="modal_container">
    <div fxLayout="row wrap">
      <mat-form-field class="modal_input_100" >
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="comboType">
          <mat-option value = "top">Top</mat-option>
          <mat-option value = "bottom">Bottom</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="modal_input_100" >
        <input matInput [(ngModel)]="comboPercentage" placeholder="Percentage (Max 100)">
      </mat-form-field>
    </div>
      <button type="button" class="tabbuttons primary" style="margin-top:20px;float:right" mat-raised-button (click)="closingReportComboApi()">Done</button>
  </div>
</ngx-smart-modal>
