<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="start center">
          <h2 style="color:black">Payment</h2>
        </div>

      </div>

      <div class="content content-wrapper">

        <div class="center p-24" fusePerfectScrollbar>

          <div class="content inner-padding">
              <mat-tab-group>
                <mat-tab label="Brand Payments">
                    <app-brand-payment></app-brand-payment>
                </mat-tab>
                <mat-tab label="Retailer Payments">
                    <app-retailer-payments></app-retailer-payments>
                </mat-tab>
              </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
