<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>IK MARKETPLACE</h2>
      </div>

      <div class="top-search">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <input #filter placeholder="Search">
          <mat-icon>search</mat-icon>
        </div>
        <!-- <button mat-raised-button class="cta-button" color="accent" [routerLink]="'/apps/catalogue/list'">View Catalogue</button> -->
      </div>
    </div>

  </div>

  <div class="content content-wrapper">
    <div class="center" fusePerfectScrollbar>
      <div class="content-section">
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="price-table style-1 mat-elevation-z4" fxLayout="column" *ngFor="let retailers of allRetailers">
            <div class="price">
              <div class="retailer-store" fxLayoutAlign="end center">
                <div class="store-badge">{{retailers.data.number_ops_stores}} Stores</div>
              </div>
              <div class="brand-profile" (click)="gotoretailer(retailers.data)" >
                <img [src]="retailers.data.logo">
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="terms" fxLayout="column" fxLayoutAlign="center center">
              <div class="term">
                <span class="text-bold text-uppercase">{{retailers.data.retailer_name}}</span>
              </div>
            </div>
            <div class="" fxLayout="row" fxLayoutAlign="center center">
                <button class="primarybtn requestbtn" *ngIf="retailers.connectionData.length == 0" (click)="addopsteam.open();setretailerID(retailers)">Add Retailer</button>
                <span class="connectionstatus" *ngIf="retailers.connectionData.connectionStatus == 0 && retailers.connectionData.connectionInitiatedByBrand">Connection Initiated</span>
                <span class="connectionstatus" *ngIf="retailers.connectionData.connectionStatus == 1">Connection Rejected</span>
                <span class="connectionstatus" *ngIf="retailers.connectionData.connectionStatus == 2">Admin Approval Pending</span>
            </div>
            <div style="display:inline;margin-left:10%" *ngIf="retailers.connectionData.connectionStatus == 0 && retailers.connectionData.connectionInitiatedByRetailer">
              <a style="margin: 0px 10%" (click)="reject.open();selectconnectid(retailers.connectionData._id)">Reject</a>
              <button class="primarybtn" style="margin: 10px; height:25px; width:80px;border-radius:30px" (click)="changestatus(2,retailers.connectionData._id)">Accept</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #addopsteam identifier="addopsteam">

  <div class="modal_container">
    <div class="modal_tile">Initiate Connection</div>
    <form [formGroup]="addconnection">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100" >
      <mat-label>Select Brand</mat-label>
      <mat-select formControlName="brand_id">
        <mat-option *ngFor="let x of allBrands" [value]="x._id">{{x.brand_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end">
      <button type="button" class="modalbuttons1 primary" (click)="sendreq()">Send Request</button>
    </div>
    </form>

  </div>

</ngx-smart-modal>
<ngx-smart-modal #reject identifier="reject">
  <div class="modal_container">
    <div class="modal_tile">Reject Connection</div>
    <form [formGroup]="rejectconnection">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100" >
        <textarea matInput placeholder="Leave a comment" formControlName="comment"></textarea>
    </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end">
      <button type="button" class="modalbuttons1 primary" (click)="RejectConnection(1)">Reject Request</button>
    </div>
    </form>

  </div>

</ngx-smart-modal>
