<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-sm>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/intrakraft-logo-white.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
          iROMP - Integrated Retail Operations Management Platform
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo" fxHide.gt-sm>
                <img src="assets/images/intrakraft-logo.png">
            </div>

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm" fxLayout="column" [formGroup]="registerForm" novalidate>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <mat-label>Company Name</mat-label>
                        <input matInput formControlName="companyName">
                        <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                        <mat-error>
                            Company Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <mat-label>Brand Name</mat-label>
                        <input matInput formControlName="brandName">
                        <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                        <mat-error>
                            Brand Name is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field class="m15" fxFlex="50" class="pr-4">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="fname">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>
                            First Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="m15" fxFlex="50" >
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lname">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>
                            Last Name is required
                        </mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field class="m15" fxFlex="50" class="pr-4">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="registerForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="m15" fxFlex="50">
                        <mat-label>Designation</mat-label>
                        <input matInput formControlName="designation">
                        <mat-icon matSuffix class="secondary-text">perm_identity</mat-icon>
                        <mat-error>
                            Designation is required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field class="m15" fxFlex="50" class="pr-4">
                        <mat-label>Mobile number</mat-label>
                        <input matInput type="number" formControlName="mobileNo">
                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                        <mat-error>
                            Mobile Number is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="m15" fxFlex="50">
                        <mat-label>Landline number</mat-label>
                        <input matInput type="number" formControlName="landlineNo">
                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field class="m15" fxFlex="50" class="pr-4">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="m15" fxFlex="50">
                        <mat-label>Password (Confirm)</mat-label>
                        <input matInput type="password" formControlName="passwordConfirm">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                            registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="Accept" required>
                        <span>I Accept the</span>
                    </mat-checkbox>
                    <a href="http://intrakraft.com/Terms.html" target="_blank" >Terms and Conditions</a>
                </div>

                <button mat-raised-button class="submit-button primarybtn" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid" (click)="tryRegister()">
                    CREATE AN ACCOUNT
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/apps/auth/login'">Login</a>
            </div>
        </div>
    </div>
</div>
