<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="column">
        <div style="font-size:18px;font-weight:600">{{data.company_name}}</div>
        <small *ngIf="data.status == 1 ">Active Account</small>   <small *ngIf="data.status != 1 ">Suspended</small>
      </div>

      <div class="top-search">
        <ul class="tabbuttongroup">
          <li><button mat-raised-button class="tabbuttons" [ngClass]="{ primary : pagename == 'details' }" (click)="opendetails()">Details</button></li>
          <li><button mat-raised-button class="tabbuttons" [ngClass]="{ primary : pagename == 'teams' }" (click)="openTeams()">Teams</button></li>
          <li><button mat-raised-button class="tabbuttons" [ngClass]="{ primary : pagename == 'warehouses' }" (click)="openWarehouses()">Warehouses</button></li>
          <li><button mat-raised-button class="tabbuttons" [ngClass]="{ primary : pagename == 'banks' }" (click)="openBanks()">Banks</button></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content content-wrapper">

    <div class="center" fusePerfectScrollbar>
      <div class="content-section" *ngIf = "pagename == 'details'">
        <app-details></app-details>
      </div>
      <div class="content-section" *ngIf = "pagename == 'teams'">
        <app-team></app-team>
      </div>
      <div class="content-section" *ngIf = "pagename == 'warehouses'">
        <app-warehouse></app-warehouse>
      </div>
      <div class="content-section" *ngIf = "pagename == 'banks'">
        <app-banking></app-banking>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #myModal identifier="myModal">
  <p>Are you sure you want to suspend this company?</p>
  <div style="float:right">
  <button class="modalbuttons" (click)="myModal.close()">Close</button>
  <button class="modalbuttons primary">Yes</button>
  </div>
</ngx-smart-modal>
