@import "src/@fuse/scss/fuse";

form {
    width: 100%;
    padding-top: 32px;

    mat-form-field {
        width: 100%;

        @include media-breakpoint('xs') {
            width: 80%;
        }
    }

    .submit-button {
        width: 100%;
        margin: 16px auto;
        display: block;

        @include media-breakpoint('xs') {
            width: 80%;
        }
    }
}