<form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

    <mat-form-field appearance="outline">
        <mat-label>Enter PIN Code</mat-label>
        <input matInput formControlName="token">
        <mat-icon matSuffix class="secondary-text">fiber_pin</mat-icon>
        <mat-error>
            Email is required
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        <mat-error>
            Password is required
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password (Confirm)</mat-label>
        <input matInput type="password" formControlName="passwordConfirm">
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
            Password confirmation is required
        </mat-error>
        <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                           resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
            Passwords must match
        </mat-error>
    </mat-form-field>

    <button mat-raised-button class="submit-button" color="accent"
            aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid" (click)="tryResetPassword()">
        RESET MY PASSWORD
    </button>
</form>