<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        <div class="profile-box info-box general" fxLayout="column">
    
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Warehouse (Delivery)</div>
                <button mat-icon-button (click)="warehouseEdit()" *ngIf="showWarehouseEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="warehouseUpdate()" *ngIf="showWarehouseDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>
    
            <div class="content">
                <form fxLayout="column" [formGroup]="warehouseDelivery">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Address</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="address" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>City</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="city" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>State</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="state" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Postal Code</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="pincode" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Mobile Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="mobileNumber" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Landline Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="landlineNumber" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Proof of Address</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="addressProof" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>GSTIN/UIN</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="GSTIN" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
