<div id="about" style="padding: 0 24px">
  <div class="Header" fxLayout="row">
    <h2>Warehouses</h2>
  </div>
  <div class="container" fxLayout="row wrap">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" (click)="addDeliverloc.open()">
      <div class="card">
        <div class="team_title">
          <img class="addnew" src="./assets/images/addnew.png">
          <div class="addnewtext">Add New <br>Delivery Location</div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="warehouses.length > 0">
    <div class="operation_details widget1" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of warehouses">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="end end" >
            <mat-icon class="deleteicon" (click)="removeWarehouse(x._id)">delete</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10%">
          <img class="avicon1" src="./assets/images/warehouse.png">
          </div>
          <div class="teamName">{{x.name}}</div>
          <p class="designation align_center_top">{{x.address}}, {{x.city}} , {{x.state}} , {{x.pincode}}</p>
          <div class="phone align_center_top"> {{x.mobile}} <span *ngIf="x.landline"> or  {{x.landline}} </span></div>
          <div class="phone align_center_top" *ngIf="x.GST_number">GSTIN : {{x.GST_number}}</div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>

</div>

<ngx-smart-modal #addDeliverloc identifier="addDeliverloc">
<form [formGroup]="form">
  <div class="modal_container">
    <div class="modal_tile">Link Warehouse</div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100" >
      <mat-label>Select Warehouse</mat-label>
      <mat-select formControlName="warehouse_name">
        <mat-option *ngFor="let x of companywarehouse" [value]="x._id">{{x.name}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button type="button" class="primary" style="height:35px;width:160px;border-radius:30px;float:right" (click)="addwarehouses()">Add Warehouse</button>
</form>
</ngx-smart-modal>
