.catalogue-details {
  .devider {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  .catalogue-image {
    .content {
      // background-color: #ffffff;
      .image-view {
        background: white;
        .multi-image {
          border-right: 1px solid #cacaca;
          overflow-y: hidden;
          .image-box {
            border-bottom: 1px solid whitesmoke;
            width: 100%;
            padding: 10px;
            cursor: pointer;
            text-align: center;
            img {
              height: 90px;
            }
          }
          .active {
            border: 1px solid #039be5;
          }
        }
        .single-image {
          text-align: center;
          img {
          }
        }
      }
    }
  }
  .catalogue-info {
    padding-left: 25px;
    .content {
      // background-color: #ffffff;
      min-height: 500px;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      .product-details {
        padding: 15px;
        .product-info {
          h2 {
            margin: 0;
          }
          h3 {
            margin: 0;
          }
          .price-discount {
            padding: 15px 0;
            .price {
              p {
                span {
                  padding-right: 15px;
                }
                font-size: 18px;
                font-weight: 600;
                margin: 0;
              }
            }
            .discount {
              p {
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                text-align: right;
              }
            }
          }
        }
        .color-option {
          margin-bottom: 20px;
          h2 {
            font-size: 18px;
            font-weight: 600;
          }
          .color-ball {
            height: 30px;
            width: 30px;
            display: inline-block;
            border-radius: 100%;
            margin-right: 2%;
            border: 1px solid #d4d4d4;
            cursor: pointer;
          }
          .active {
            border: 8px solid #dedede;
          }
        }
        .size-option {
          h2 {
            font-size: 18px;
            font-weight: 600;
          }
          .size-ball {
            height: 30px;
            width: 30px;
            display: inline-block;
            border-radius: 100%;
            margin-right: 2%;
            border: 1px solid #d4d4d4;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
          }
        }
        .product-desc {
          h2 {
            font-size: 18px;
            font-weight: 600;
          }
          p {
            font-size: 14px;
            line-height: 22px;
          }
        }
        .addCart {
          border-radius: 25px;
          padding: 3px 40px;
        }
      }
    }
  }
}

.green {
  width: 50px;
  height: 40px;
  border-radius: 20%;
  background-color: green;
}

.yellow {
  width: 50px;
  height: 40px;
  border-radius: 20%;
  background-color: yellow;
}

.black {
  width: 50px;
  height: 40px;
  border-radius: 20%;
  background-color: black;
}

.size {
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5%;
}

#color-label {
  background-color: red;
  overflow: hidden;
  width: 200px;
}

#inner {
  overflow: hidden;
  width: 2000px;
}

.child {
  float: left;
  background-color: blue;
  width: 50px;
  height: 50px;
}

.Product_Colors {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-right: 20px;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  // transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
}

.inventory {
  background: white;
  margin-top: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Table_title {
  // width: 170px;
  text-align: left !important;
  padding-left: 20px;
  width: 15%;
  height: 35px;
}

.Table_size {
  // width: 30px;
  text-align: center;
}

.table_color {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
}

.inventory_tab td {
  height: 40px;
  text-align: center;
}

.inventory_tab th {
  height: 40px;
  text-align: center;
}

.inventory_table {
  width: 100%;
  padding: 50px;
}

.inventory_tab {
  width: 100%;
  border: 1px solid #eaeaea
}

.tab_header_bg {
  background: #ecefff;
  font-size: 16px;
}

.inventory_tab tr:nth-child(even) {
  background-color: #fafbff;
}

.inventory_header {
  position: absolute;
  left: 77px;
  font-weight: 600;
  font-size: 18px;
}

.product_title {
  font-size: 26px;
  font-weight: 600;
}


.productname{
  font-size: 26px;
  font-weight: bold;
}
.tagline{
  color:grey;
}
.MRP{
  width:175px;
  font-size: 18px;
}
.cost{
  width:175px;
  font-size: 18px;
}
.revisedprice{
  width:175px;
  font-size: 18px;
}
.margin{
  width:400px;
  font-size: 20px;
  color:#3967ab;
  text-align: right;
}
.discountedcost{
  text-decoration: line-through;
  width:175px;
  font-size: 18px;
}


.selectColorGrade {
  width: 100%;
  margin-bottom: 15px;

  .colorGrade {
    width: 150px;
    display: inline-block;
    margin-right: 20px;
  }

  .selectGrade {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 10px;
    position: absolute;
    margin: 10px 0px;
    width: 150px;
    z-index: 9;
    background: #ffffff;
  }

  .selectGrade:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e2e2e2;
    position: absolute;
    top: -10px;
  }

  .checkbox-button {
    display: inline-block;
    padding: 5px 0;
    width: 100%;

    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    color: #000000;
    font-size: 15px;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
    border: 1px solid #000000;
    background: #fff;
    border-radius: 4px;
    // box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 1.3em;
    line-height: 0.8;
    color: #094cff;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
    color: #999;
    }
    [type="checkbox"]:disabled + label {
    color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #094cff;
    }

    /* hover style just for information */
    // label:hover:before {
    // border: 2px solid #4778d9!important;
    // }

    .color-ball {
        height: 15px;
        width: 15px;
        display: inline-block;
        border-radius: 22px;
        margin-right: 5px;
    }
  }

  .radio-button {
    display: inline-block;
    padding: 5px 0;
    width: 100%;

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #000000;
        font-size: 15px;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #000000;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #094cff;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }

}
.btnContainer{
  background: #2222220d;
color: #747474;
border-radius: 30px;
padding: 3px 20px;
margin-top: 10px;
}
.activeBtn{
  color:#0147ff !important;
}
