<div class="page-layout blank p-24 ps">

    <div class="catalogue-details" fxLayout="row wrap">
        <div class="catalogue-image" fxLayout="column" fxFlex="100" fxFlex.gt-sm="40" fxFlex.gt-md="40">
            <div class="content" fxLayout="column" *ngIf="imageMode">
                <div class="image-view" fxLayout="row wrap">
                    <div class="multi-image" fxFlex="20">
                        <div class="image-box" *ngFor="let item of productImages; let i = index" (click)="getImage(item, i)" [class.active]="i == selectedImage">
                            <img [defaultImage]="defaultImage" [lazyLoad]="item" >
                        </div>
                    </div>
                    <div class="single-image" fxFlex="80">
                        <img [imageZoom]="zoomedImageSrc" [defaultImage]="defaultImage" [lazyLoad]="mainimage"  [lensWidth]="800" [lensHeight]="800" [lensBorder]="1" src="{{mainimage}}" [style.width.px]="600" [style.height.px]="600">
                    </div>
                </div>
            </div>
            <div class="content" fxLayout="column" *ngIf="!imageMode">
              <div class="image-view" fxLayout="row wrap">
                <div class="multi-image" fxFlex="100">
                  <iframe width="530" height="315" src="https://www.youtube.com/embed/S7dR-5udjiQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="content" fxLayoutAlign="center center" fxLayout="column">
              <div class="btnContainer">
                <button [ngClass]="{'activeBtn': imageMode}" mat-icon-button (click)="imageMode = !imageMode">
                  <mat-icon>perm_media</mat-icon>
                </button>
                <button [ngClass]="{'activeBtn': !imageMode}" mat-icon-button (click)="imageMode = !imageMode">
                  <mat-icon>ondemand_video</mat-icon>
                </button>
              </div>
            </div>
        </div>
        <div class="catalogue-info" fxLayout="column" fxFlex="100" fxFlex.gt-sm="60" fxFlex.gt-md="60">
            <div class="content" fxLayout="column">
                <div class="product-details">
                  <div class="product-info">
                       <h3 class="productname">{{data.brandname}} {{data.Style_Name}} {{data.occassion}} {{data.pattern}} {{data.brick}}</h3>
                       <!-- <h3 class="tagline">{{catalogue.product_tagline}}</h3>  -->
                       <div class="price-discount">
                           <div class="price" fxLayout="row">
                               <div class="MRP"><b>MRP :</b> &#8377; {{data.MRP}} </div>
                               <!-- <div class="cost"><b>Cost :</b> &#8377; {{data.MRP -(0.10 * data.MRP)}} </div> -->
                               <!-- <div class="discountedcost" *ngIf="catalogue.discount !== 0"><b>Cost :</b> &#8377; {{catalogue.cost}} </div> -->
                                <!-- <div class="margin"><b>Margin:</b> 10 %</div> -->
                           </div>
                             <!-- <div class="price" fxLayout="row" *ngIf="catalogue.discount !== 0">
                               <div class="revisedprice"><b>Discount :</b> {{catalogue.discount}} % </div>
                               <div class="revisedprice"><b>Revised Cost :</b> &#8377; {{catalogue.revisedprice}} </div>

                           </div> -->
                       </div>


                        <div class="devider"></div>
                    </div>
                    <div class="color-option">
                        <h2>Colour</h2>
                        <div fxLayout="row">
                            <div *ngFor="let color1 of datas;let i=index">
                                <button class="Product_Colors" (click)="getColorData(i)" [style.background]="color1[0].Color_code[0]"></button>
                            </div>
                        </div>
                    </div>
                    <div class="size-option">
                        <h2>Size</h2>
                        <div fxLayout="row">
                        <label *ngFor="let sizee of datas[0]" class="size-ball">{{sizee.Size_Code}}</label>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h2>Product Details</h2>
                         <!-- <p>{{data.product_desc}}</p> -->
                        <div fxLayout="row">
                          <div fxLayout="column">
                            <ul>
                              <li *ngIf="data.sleeve"><b>Sleeve : </b> {{data.sleeve}} </li>
                              <li *ngIf="data.neck"><b>Neck : </b> {{data.neck}} </li>
                              <li *ngIf="data.collar"><b>Collar : </b> {{data.collar}}</li>
                              <li *ngIf="data.fabric"><b>Fabric : </b> {{data.fabric}} </li>
                              <li *ngIf="data.fit"><b>Fit : </b> {{data.fit}}</li>
                            </ul>
                          </div>
                          <div fxLayout="column">
                            <ul>
                              <li *ngIf="data.technique"><b>Technique : </b> {{data.technique}}</li>
                              <li *ngIf="data.length"><b>Length : </b> {{data.length}}</li>
                              <li *ngIf="data.hemline"><b>Hemline : </b> {{data.hemline}} </li>
                              <li *ngIf="data.rise"><b>Rise : </b> {{data.rise}}</li>
                              <li *ngIf="data.pleat"><b>Pleat : </b> {{data.pleat}}</li>
                            </ul>
                          </div>
                          <div fxLayout="column">
                            <ul>
                              <li *ngIf="data.closure_type"><b>Closure type : </b> {{data.closure_type}}</li>
                              <li *ngIf="data.style_type"><b>Style type : </b> {{data.style_type}}</li>
                              <li *ngIf="data.special_feature_1"><b>Special Feature 1 : </b> {{data.special_feature_1}}</li>
                              <li *ngIf="data.special_feature_2"><b>Special Feature 2 : </b> {{data.special_feature_2}}</li>
                              <li *ngIf="data.special_feature_3"><b>Special Feature 3 : </b> {{data.special_feature_3}}</li>
                            </ul>
                          </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h2>Material and Care</h2>
                         <!-- <p>{{data.product_desc}}</p> -->
                        <div fxLayout="row">
                          <div fxLayout="column">
                            <ul>
                              <li *ngIf="data.material"><b>Material : </b> {{data.material}} </li>
                              <li *ngIf="data.composition"><b>Composition : </b> {{data.composition}} </li>
                              <li *ngIf="data.weave"><b>Weave : </b> {{data.weave}}</li>
                              <!-- <li *ngIf="data.fabric"><b>Care : </b> {{data.fabric}} </li> -->
                            </ul>
                          </div>
                        </div>
                    </div>

                    <div class="selectColorGrade">
                        <div class="colorGrade" *ngFor="let colors of datas; let i=index;">
                            <div class="checkbox-button">
                                <!-- <input type="checkbox" id="{{colors}}" (click)="selectColor(colors,i)" [(ngModel)]="showGradesPopup[i]"/> -->
                                <!-- <label for="{{colors}}">{{colors[0].vendor_Colour_name}}</label> -->
                            </div>
                            <div class="selectGrade" *ngIf="showGrades[i] == true && showGradesPopup[i] == true">
                                <mat-radio-group aria-label="Select a Grade">
                                  <mat-radio-button  *ngFor="let colorGrade of colorGrades" [value]="colorGrade.value" (click)="getColorGrade(i,colorGrade.value)">{{colorGrade.id}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <!-- <button mat-raised-button  class="addCart primarybtn" (click)='addToCart(data)'>Add to Cart</button> -->
                </div>

            </div>
        </div>
    </div>
    <div class="inventory">
      <h2 class="inventory_header">Inventory on Hand</h2>
        <div class="inventory_table" fxLayout="row">
          <table class="inventory_tab">
            <tr class="tab_header_bg">
            <th class="Table_title">Color</th>
            <th class="Table_size" *ngFor="let data of datas[0]">{{data.Size_Code}}</th>
            <th>Total</th>
            </tr>
            <tr *ngFor="let data of datas;let i = index">
              <td fxLayout="row" style="padding-top:10px;"><div class="table_color" [style.background]=data[0].Color_code[0]></div>{{data[0].vendor_Colour_name}}</td>
              <td *ngFor="let size of data">{{size.quantity}}</td>
              <td>{{getSum(data)}}</td>
            </tr>
          </table>
        </div>
    </div>

</div>
