<div class="page-layout blank ps custom-layout ordergrp">
    <!-- HEADER -->
    <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center" *ngIf="orderstatus">

      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
        <div fxLayout="row" fxLayoutAlign="start center">
          <h2>Order Details</h2>
        </div>
        <div class="top-search">
          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <input #filter placeholder="Search">
            <mat-icon>search</mat-icon>
          </div>
          <div class="bottom-section">
            <div class="buttons" fxLayout="row" fxLayoutAlign="start center">

              <button type="button" (click)="purchaseOrder()" *ngIf="orderstatus.orderStatus != 'pending' && orderstatus.orderStatus != 'revised'">
                Download PDF
              </button>
              <button type="button" (click)="downloadExecelApi()">
                Download Excel
              </button>
              <button type="button"  *ngIf="orderstatus.orderStatus == 'complete'">
                Download Scan-In
              </button>
              <button type="button"  *ngIf="orderstatus.orderStatus == 'shipped' || orderstatus.orderStatus == 'complete' ">
                Download Scan-Out
              </button>
                <button type="button" class="primarybtn" (click)="openinvoice(orderstatus.invoiceFile)" *ngIf="orderstatus.orderStatus == 'shipped' || orderstatus.orderStatus == 'complete'">
                  Download Invoice
                </button>
            </div>
          </div>
          <!-- <button mat-raised-button class="cta-button" color="accent" [routerLink]="'/apps/catalogue/upload'">Upload Catalogue</button> -->
        </div>
      </div>

    </div>
    <!-- / HEADER -->

    <div class="order-details p-24" fxLayout="row wrap">
    <mat-accordion fxFlex="100" fxFlex.gt-sm="70" fxFlex.gt-md="70">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <!-- <mat-panel-title>
            <img class="cartlogo1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Raymond_logo.svg/1280px-Raymond_logo.svg.png">
          </mat-panel-title> -->
        </mat-expansion-panel-header>
      <div class="order-image" fxLayout="column" *ngFor = "let x of orderDetailsData; let styleindex = index">
        <div class="content" fxLayout="column">
          <div class="cart-item-view" fxLayout="row wrap" >
            <div class="multi-image" fxFlex="15">
              <div class="image-box">
                <img src="{{x.data[0].data[0].cartdata.catalogue.catalogue_imgs[0]}}">
              </div>
            </div>
            <div class="single-product-details" fxFlex="85">
              <div class="product-name-type" fxLayout="row wrap">
                <div fxLayout="column" fxFlex="50">
                  <div style="font-size:16px;color:grey">{{x._id.style_code}}</div>
                  <div style="font-size:18px;color:black">{{x.data[0].data[0].cartdata.catalogue.brandname}}</div>
                </div>
                <div fxLayout="column" fxFlex="30">
                    <div style="font-size:16px;color:black;margin-top:7px">{{x.data[0].data[0].cartdata.catalogue.brandname}}</div>
                </div>
                <div fxLayout="column" fxFlex="20">
                  <div style="font-size:16px;color:black;margin:7px 10px 0 0;text-align:right"><span>MRP: </span>&#x20B9;{{x.data[0].data[0].cartdata.catalogue.MRP}}</div>
                </div>
              </div>
              <table>
                <tr>
                  <th width="8%">Color</th>
                  <th width="8%">Grade</th>
                  <th width="8%" *ngFor="let size of sizedata(x.data[0].data)" style="padding-right: 15px;">{{size.cartdata.catalogue.Size_Code}}</th>
                  <th width="8%">Cost</th>
                  <th width="10%">Qty</th>
                  <th width="10%">Total</th>
                </tr>
                <tr *ngFor="let color of x.data; let colorindex = index">
                  <ng-container *ngIf="color.totalquantity != 0">
                  <td>
                    <div class="Product_Color" [style.background]="color.colorCodes[0]"></div>
                  </td>
                  <td>{{color.data[0].cartdata.grade}}</td>
                  <td *ngFor="let y of sizedata(color.data);let sizeindex = index">
                    <div style="padding-right: 15px;" id="{{'P' + styleindex + colorindex + sizeindex}}" *ngIf="readonlyInput && y.cartdata.approved_qty == y.cartdata.input_qty" >{{y.cartdata.approved_qty}}</div>
                    <div style="padding-right: 15px;" id="{{'P' + styleindex + colorindex + sizeindex}}" class="editeddata" *ngIf="readonlyInput && y.cartdata.approved_qty != y.cartdata.input_qty" >{{y.cartdata.approved_qty}}</div>
                     <input style="width:100%" *ngIf="!readonlyInput && y.cartdata.approved_qty == y.cartdata.input_qty" type="number" value="{{y.cartdata.approved_qty}}" id="{{'P' + styleindex + colorindex + sizeindex}}" class="number-input" (focusout)="showproduct(y,y.cartdata.EAN_no,styleindex,colorindex,sizeindex)" >
                    <input style="width:100%" *ngIf="!readonlyInput && y.cartdata.approved_qty != y.cartdata.input_qty" type="number" value="{{y.cartdata.approved_qty}}" id="{{'P' + styleindex + colorindex + sizeindex}}" class="number-input editeddata" (focusout)="showproduct(y,y.cartdata.EAN_no,styleindex,colorindex,sizeindex)" >
                  </td>

                  <td>{{color.cost - color.discountAmount | number:'1.2-2'}}</td>
                  <td>{{color.totalquantity}}</td>
                  <td>{{color.totalAmount | number:'1.2-2'}}</td>
                  </ng-container>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
      </mat-accordion>
      <div class="order-info" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30" fxFlex.gt-md="30">
        <div class="" fxLayout="column">
          <div class="product-details">
            <div class="product-info">
              <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <!-- <mat-checkbox></mat-checkbox> -->
                      <!-- <img class="cartlogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Raymond_logo.svg/1280px-Raymond_logo.svg.png"> -->
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="content-details">
                    <table class="order_summary">
                      <tr>
                        <th>Total Color ways:</th>
                        <td>{{ordersummary.combocode.length}}</td>
                      </tr>
                        <tr class="summarytitle"></tr>
                      <tr>
                        <th>Total Quantity:</th>
                        <td>{{ordersummary.totalquantity}}</td>
                      </tr>
                      <tr>
                        <th>Amount:</th>
                        <td> &#x20B9; {{ordersummary.amount | number:'1.2-2'}}</td>
                      </tr>
                        <tr class="summarytitle"></tr>
                      <tr>
                        <th>Discount:</th>
                        <td style="color:red">- &#x20B9;{{ordersummary.totalDiscount | number:'1.2-2'}}</td>
                      </tr>
                      <tr class="summarytitle"></tr>
                      <tr *ngIf="dispatchTerms.deliveryLocationState != dispatchTerms.dispatchWarehouseState">
                        <th>IGST</th>
                          <td>&#x20B9;{{ordersummary.tax | number:'1.2-2'}}</td>
                      </tr>
                      <tr *ngIf="dispatchTerms.deliveryLocationState == dispatchTerms.dispatchWarehouseState">
                        <th>CGST</th>
                          <td>&#x20B9;{{ordersummary.tax/2 | number:'1.2-2'}}</td>
                      </tr>
                      <tr *ngIf="dispatchTerms.deliveryLocationState == dispatchTerms.dispatchWarehouseState">
                        <th>SGST</th>
                          <td>&#x20B9;{{ordersummary.tax/2 | number:'1.2-2'}}</td>
                      </tr>
                        <tr class="summarytitle"></tr>
                      <tr>
                        <th>Amount Payable:</th>
                        <td>{{ordersummary.totalAmount + ordersummary.tax | number:'1.2-2'}}</td>
                      </tr>
                      <tr class="summarytitle"></tr>
                      <tr>
                        <th>Margin:</th>
                        <td>{{((ordersummary.totalMRP - ordersummary.totalAmount) /ordersummary.totalMRP)* 100 | number:'1.2-2'}}%</td>
                      </tr>

                    </table>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
                <!-- <table class="tostable">
                  <tr>
                    <th style="text-align:left;width:265px;padding-left:25px;font-size: 16px;">Total Order</th>
                    <td style="font-size:16px;font-weight:600;">100000</td>
                  </tr>
                </table> -->

                <div style="margin-top:20px;"  *ngIf="onEdit == false">
              <ng-container *ngIf="orderstatus.orderStatus != 'complete'">
                  <ng-container *ngIf="orderstatus.orderStatus != 'shipped'">
                    <ng-container *ngIf="orderstatus.orderStatus != 'approved'">
                      <button type="button" (click)="rejectorder.open()" *ngIf="orderstatus.orderStatus == 'pending' || orderstatus.isRetailerRevised  ">
                        Reject
                      </button>
                    </ng-container>
                  </ng-container>
                </ng-container>
                  <button type="button"  class="mr-15" (click)="editOrder()" *ngIf="orderstatus.orderStatus == 'pending' " >
                    Edit
                  </button>
                <ng-container *ngIf="orderstatus.orderStatus != 'complete'">
                <ng-container *ngIf="orderstatus.orderStatus != 'shipped'">
                  <ng-container *ngIf="orderstatus.orderStatus != 'approved'">
                    <button type="button" class="mr-15 primarybtn"  (click)="approve.open()" *ngIf="(orderstatus.orderStatus == 'pending' || orderstatus.isRetailerRevised )">
                      Approve
                    </button>
                  </ng-container>
                </ng-container>
              </ng-container>
                <button type="button" class="mr-15" (click)="shipnow.open();shippedvalues()" style="width:180px;" *ngIf="orderstatus.orderStatus == 'approved'">
                  Upload Scan-Out File
                </button>
                  <button type="button" class="primarybtn" (click)="shipnow.open();shippedvalues()" *ngIf="orderstatus.orderStatus == 'approved'">
                    Ship Order
                  </button>
                </div>
                <div  style="margin-top:20px;"  *ngIf="onEdit == true">
                  <button type="button" class="mr-15"  (click)="cancelOrder()">
                    Cancel
                  </button>
                  <button type="button" class="mr-15 primarybtn" style="width:150px" *ngIf="orderstatus.orderStatus == 'revised'" (click)="resendOrder(ordersummary)">
                    Resend Order
                  </button>
                  <button type="button" class="mr-15 primarybtn" style="width:150px" *ngIf="orderstatus.orderStatus == 'approved'" (click)="shipnow.open()">
                    Ship Order
                  </button>


                  <button type="button" *ngIf="orderstatus == 'shipped' || orderstatus == 'complete'">
                    Receipt Confirmation
                  </button>
                </div>
            </div>
          </div>

        </div>
      </div>

    </div>
      <ngx-smart-modal #approve identifier="ApproveModal">
        <app-orderapprove></app-orderapprove>
      </ngx-smart-modal>

      <ngx-smart-modal #shipnow identifier="ShipnowModal">
        <form [formGroup]="shippingform">
      <div class="shipnowcontainer">
        <h3 style="font-weight:600;font-size:18px">Invoice</h3>

        <div fxLayout="row">
        <mat-form-field class="example-full-width" style="width:94%" >
            <input formControlName="invoice_id" matInput placeholder="Invoice ID">
        </mat-form-field>
        </div>
        <div fxLayout="row" >
          <mat-form-field class="modal_input_50">
            <input matInput placeholder="Invoice File" formControlName="invoice_file_name">
          </mat-form-field>
          <div class="upload-btn-wrapper">
            <button class="uploadbtn" style="width:150px;">Upload a file</button>
            <input type="file" formControlName="invoice_file" name="myfile" (change)="uploadpp($event)" />
          </div>
        </div>
        <div fxLayout="row">
          <mat-form-field class="example-full-width" style="margin-right: 40px;" >
              <input type="number" formControlName="invoice_qty"  matInput placeholder="Invoice Quantity">
          </mat-form-field>
          <mat-form-field class="example-full-width" style="margin-right: 40px;" >
              <input matInput formControlName="invoice_value" placeholder="Invoice Value">
          </mat-form-field>
        </div>
        <div style="height:2px;background:#fff;width:100%;margin: 10px 0 10px 0"></div>
        <h3 style="font-weight:600;font-size:18px">Shipment</h3>
        <div fxLayout="row">
        <mat-form-field class="example-full-width" style="margin-right: 40px;" >
            <input formControlName="transportName"  matInput placeholder="Transporter Name">
        </mat-form-field>

        <mat-form-field class="example-full-width" >
            <input formControlName="trackingID" matInput placeholder="Tracking ID">
        </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="margin-right: 10px;">
            <input matInput formControlName="Shipmentdate" [matDatepicker]="picker" placeholder="Choose Shipment date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="DeliveryDate" [matDatepicker]="picker2" placeholder="Choose Delivery date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          </div>
      </div>

      <div class="buttons" fxLayout="row">
          <button type="button" class="primarybtn1" (click)="ShipAPICALL()">
          Ship Now
        </button>
        </div>
        </form >

      </ngx-smart-modal>
      <ngx-smart-modal #rejectorder identifier="rejectorderModal">
        <div class="selectDate">
          <h2> Reject Order </h2>
          <form [formGroup]="form">
            <mat-form-field style="margin-right: 10px;">
              <input matInput formControlName="comment" placeholder="Comment">
            </mat-form-field>

            <div class="buttons" fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: 20px;">
              <button type="button" class="primarybtn" (click)="rejectOrder()">
                Submit
              </button>
            </div>
          </form>
        </div>
      </ngx-smart-modal>

  </div>
