<div id="mail-confirm" fxLayout="column">

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-accent s-96">email</mat-icon>
            </div>

            <div class="title">Confirm your email address!</div>

            <div class="subtitle">
                <p>
                    A confirmation e-mail has been sent to <b>{{registrationDetails.userData.email}}</b>.
                </p>
                <p>
                    Check your inbox and enter your verification code to confirm your email address.
                </p>
            </div>

            <div class="verify-email">

                <form name="verifyEmailForm" [formGroup]="verifyEmailForm" novalidate>

                    <mat-form-field appearance="outline">
                        <mat-label>Verification Code</mat-label>
                        <input matInput formControlName="VerifyToken" required>
                        <mat-icon matSuffix class="secondary-text">verified_user</mat-icon>
                        <mat-error>Verification Code is required!</mat-error>
                    </mat-form-field>

                    <button mat-raised-button class="submit-button" color="accent" [disabled]="verifyEmailForm.invalid" (click)="tryVerifyEmail()">
                        Submit
                    </button>

                </form>
            </div>

            <!-- <div class="message">
                <a class="link" [routerLink]="'/apps/auth/login'">Go back to login page</a>
            </div> -->

        </div>

    </div>

</div>
