<!-- <table #dataTable class="display" style="width:100%"></table> -->
  <div fxLayout="row" fxLayoutAlign="end center">
    <button (click)="exportAsXLSX()" class="exportBtn" >Excel</button>
  </div>
    <div  fxLayout="row" fxLayoutAlign="start center"  style="max-height:60vh;overflow-y:auto">
          <div class="tab-menu" style="width:100%">
            <div class="inventory">
                <div class="inventory_table" style="overflow-x:scroll" fxLayout="row">
                  <table class="inventory_tab">
                    <tr class="tab_header_bg">
                        <th class="Table_title" style="text-align:center">Brand Name</th>
                        <th class="Table_title" style="text-align:center">Retailer Name</th>
                        <th class="Table_title" style="text-align:center">Ordered By</th>
                        <th class="Table_title" style="text-align:center">Delivery Location</th>
                        <th class="Table_title" style="text-align:center">PO Number</th>
                        <th class="Table_title" style="text-align:center">PO Qty</th>
                        <th class="Table_title" style="text-align:center">PO Value</th>
                        <th class="Table_title" style="text-align:center">PO Release Date</th>
                        <th class="Table_title" style="text-align:center">Action</th>
                    </tr>
                    <tr *ngFor="let data of datas;let i = index">
                          <td class="Table_title">{{data.brand_id.brand_name}}</td>
                          <td class="Table_title">{{data.retailer_id.retailer_name}}</td>
                          <td class="Table_title">{{data.team_id.fname}} {{data.team_id.lname}}</td>
                          <td class="Table_title">{{data.delivery_id.name}}</td>
                          <td class="Table_title">{{data.purchase_order_number}}</td>
                          <td class="Table_title">{{data.po_qty}}</td>
                          <td class="Table_title">{{data.revised_total_amount_payable | currency:'INR'}}</td>
                          <td class="Table_title">{{data.createdAt | date:'dd/MM/yyyy'}}</td>
                          <td class="Table_title"><a (click)="someClickHandler(data)">View Action</a></td>
                    </tr>
                  </table>
                </div>
                <p *ngIf="dataArrayEmpty" style="text-align:center;font-size:17px"> No Pending Orders </p>
            </div>
        </div>
    </div>
