@import "src/@fuse/scss/fuse";

profile-team {

    #about {
        max-width: 100%;

        .about-content {

            .general {

                .location {

                    mat-icon {
                        line-height: 13px !important;
                    }
                }
            }

            .work {

                .job {

                    .company {
                        padding: 0 16px 0 0;
                        font-weight: 600;
                    }
                }
            }
        }

        .about-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 8px
            }

            .friends {

                .content {

                    .friend {
                        padding: 4px;

                        img {
                            border-radius: 4px;
                        }
                    }
                }
            }

            .groups {

                .content {

                    .group {
                        margin-bottom: 24px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .logo {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 48px;
                            height: 48px;
                            font-size: 21px;
                            line-height: normal;
                            border-radius: 50%;
                            margin-right: 16px;
                        }

                        .name {
                            font-weight: 600;
                            font-size: 15px;
                        }

                        .members {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }

    // Profile boxes
    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 10px 15px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.container{
  display: flex;
}


.widget1{
  height: 300px;
}

.team_title{
padding: 12px;
font-size: 16px;
font-weight: 600;
}

.operations_card{
  padding:15px;
  width: 50%;
  height: 245px;
  border-left:1px solid #cacaca;
}
.operations_card_right{
  padding:15px;
  width: 50%;
  height: 245px;
}

.icon {
    margin-left: 34%;
    margin-top: 10%;
}



.center_text{
  text-align: center;
      color: #262626;
      line-height: 25px;
      font-size: 14px;
      font-weight: 500;
}
.center_text1{
  text-align: center;
      color: #262626;
      line-height: 25px;
      font-size: 14px;
      font-weight: 500;
}

.card_paragraph{
    padding: 10px;
    font-size: 14px;
    color: #666667;
    line-height: 25px;
}
.card_value{
    padding: 20px;
    text-align: center;
    color: #666667;
}
.chip{
  padding:5px;
  // border: 1px solid #cacaca;
  border-radius: 30px;
  width: 100%;
  margin-top: 10px;
}
.avicon{
  height: 45px;
  width: 45px;
}
.Header{
    margin-left: 11px;
  //  border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
}
.align_center_top{
  text-align: center;
}
.teamName{
  margin-top:10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.designation{
  margin-top:5px;
  font-weight: 400;
  font-size: 14px;
}
.email{
    margin-top:5px;
    font-weight: 400;
    font-size: 14px;
}
.phone{
    margin-top:5px;
    font-weight: 400;
    font-size: 14px;
}
.phone1{
  font-weight: 400;
  font-size: 14px;
}
