<div id="about" style="padding: 0 24px">
   <div class="Header" fxLayout="row">
    <h2>Team</h2>
  </div>
  <div class="container">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of teams">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="center center">
          <img class="avatar huge avicon" *ngIf="!x.logo" src="./assets/images/avatars/profile.jpg">
          <img class="avatar huge avicon" *ngIf="x.logo" src="{{x.logo}}">
          </div>
          <div class="teamName">{{x.fname}} {{x.lname}}</div>
          <div class="designation align_center_top">{{x.designation}}</div>
          <div class="email align_center_top">{{x.email}}</div>
          <div class="phone align_center_top">{{x.mobile_no}}</div>
          <div class="phone align_center_top">{{x.landline_no}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
