<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Authorised Signatory Details</div>
            </header>
    
            <div class="content">
                <form fxLayout="column" [formGroup]="authorisedSignatoryDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>First Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="firstname" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Middle Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="middlename" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Last Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="lastname" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Designation</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="designation" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Email</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="email_id" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Mobile Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="mobile_number" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Landline Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="landline_number" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </div>
    
    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
        <div class="profile-box info-box general" fxLayout="column">
    
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Operations Team Details</div>
            </header>
    
            <div class="content">
                <form fxLayout="column" [formGroup]="operationTeamDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>First Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="firstname" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Middle Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="middlename" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Last Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="lastname" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Designation</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="designation" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Email</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="email_id" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Mobile Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="mobile_number" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Landline Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="landline_number" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </div>

</div>
