.bg-white {
    background: #ffffff;
    .sidebar-filter {
        .sidebar-filter-item{
            padding: 10px 15px;

            h2{
                font-size: 16px;
                margin: 0;
                font-weight: 600;
            }

            .filter-divider {
                margin: 10px 0px;
                border-top: 1px solid rgba(0,0,0,.12);
            }

            .searchRetailer{
                margin-bottom: 5px;

                input {
                    height: 30px;
                    border: 1px solid #a9a9a9;
                    width: 100%;
                    border-radius: 22px;
                }
            }

            .radio-button {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label {
                    position: relative;
                    padding-left: 28px;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                    color: #000000;
                    font-size: 15px;
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #000000;
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: #094cff;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

            .checkbox-button {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                /* Base for label styling */
                [type="checkbox"]:not(:checked),
                [type="checkbox"]:checked {
                position: absolute;
                left: -9999px;
                }
                [type="checkbox"]:not(:checked) + label,
                [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 1.95em;
                cursor: pointer;
                color: #000000;
                font-size: 15px;
                }

                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 1.25em; height: 1.25em;
                border: 1px solid #000000;
                background: #fff;
                border-radius: 4px;
                // box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
                }
                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                content: '\2713\0020';
                position: absolute;
                top: 2px;
                left: 2px;
                font-size: 1.3em;
                line-height: 0.8;
                color: #094cff;
                transition: all .2s;
                font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
                }
                /* checked mark aspect changes */
                [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
                }
                [type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
                }
                /* disabled checkbox */
                [type="checkbox"]:disabled:not(:checked) + label:before,
                [type="checkbox"]:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
                }
                [type="checkbox"]:disabled:checked + label:after {
                color: #999;
                }
                [type="checkbox"]:disabled + label {
                color: #aaa;
                }
                /* accessibility */
                [type="checkbox"]:checked:focus + label:before,
                [type="checkbox"]:not(:checked):focus + label:before {
                border: 1px solid #094cff;
                }

                /* hover style just for information */
                // label:hover:before {
                // border: 2px solid #4778d9!important;
                // }
            }

            .select-box {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                select {
                    height: 30px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 0 12px;
                }
            }
        }
    }
}

.sidebarretailer{
  margin-left: 20px;
  margin-top: 22px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
