<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="mat-elevation-z1" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center" style="padding: 5px 24px; background: #ffffff;">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="logo-icon" src="assets/images/intrakraft-logo.png" style="width: 160px;">
            </div>
        </div>
        <div style="float:right">
          <span><b>{{data1.companyName}}</b></span>
          <button mat-icon-button color="accent">
              <mat-icon aria-label="Logout">power_settings_new</mat-icon>
          </button>
        </div>


    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" style="padding:20px 75px">
        <div class="horizontal-stepper-wrapper mb-24">
          <div style="font-size:18px;">
              Brand Registration Form
          </div>
          <mat-vertical-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="horizontalStepperStep1">
              <form [formGroup]="horizontalStepperStep1" class="regformcolor full_width " autocomplete="off">
                <ng-template matStepLabel>Authorised Signatory Details</ng-template>
                  <div fxLayout="row">
                    <mat-form-field class="m15" fxFlex="33">
                    <input matInput placeholder="First Name" formControlName="firstname" >
                    </mat-form-field>
                    <mat-form-field class="m15" fxFlex="33">
                    <input matInput placeholder="Middle Name" formControlName="middlename" >
                    </mat-form-field>
                    <mat-form-field class="m15" fxFlex="33">
                    <input matInput placeholder="Last Name" formControlName="lastname" >
                    </mat-form-field>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field class="m15" fxFlex="33">
                    <input matInput placeholder="Designation" formControlName="designation" >
                    </mat-form-field>
                    <mat-form-field class="m15" fxFlex="33">
                    <input matInput placeholder="Email ID" formControlName="email" >
                    </mat-form-field>
                    <mat-form-field class="m15" fxFlex="33">
                    <input matInput placeholder="Mobile Number" formControlName="mobile" >
                    </mat-form-field>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field class="m15" fxFlex="31">
                    <input matInput placeholder="Landline Number" formControlName="landline">
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end end">
                    <div fxLayout="column" fxLayoutAlign="end end" >
                      <button class="primarybtn btn" (click)="addpersonaldetails()" matStepperNext>Next</button>
                    </div>
                  </div>
              </form>
            </mat-step>
          <mat-step [stepControl]="profiledetails">
            <form [formGroup]="profiledetails" class="full_width">
              <ng-template matStepLabel>Company Details</ng-template>
              <div fxLayout="row">
                <mat-form-field class="m15" fxFlex="50">
                  <input matInput placeholder="Company Name" formControlName="companyname">
                </mat-form-field>
                <mat-form-field class="m15" fxFlex="50">
                  <input matInput placeholder="Brand Name" formControlName="brandname">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field class="m15" fxFlex="100">
                  <input matInput placeholder="Address" formControlName="address">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field class="m15" fxFlex="33">
                    <input matInput placeholder="Pincode" formControlName="pincode">
                  </mat-form-field>
                <mat-form-field class="m15" fxFlex="33">
                  <input matInput placeholder="State" formControlName="state" >
                </mat-form-field>
                <mat-form-field class="m15" fxFlex="33">
                  <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field class="m15" fxFlex="50">
                    <input matInput placeholder="Mobile" formControlName="mobile">
                  </mat-form-field>
                <mat-form-field class="m15" fxFlex="50">
                  <input matInput placeholder="Landline" formControlName="landline" >
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="88">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Registered Address Proof" formControlName="registeredaddressproofname">
                </mat-form-field>
                  <small class="hint"> PNG,JPG or PDF </small>
                </div>
                <div fxLayout="column" fxFlex="12">
                  <div class="upload-btn-wrapper">
                    <button class="uploadbtn">Upload a file</button>
                    <input type="file" formControlName="registeredaddressproof" name="myfile" (change)="uploadrap($event)" />
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <mat-form-field class="m15" fxFlex="50">
                  <mat-label>Constitution</mat-label>
                  <mat-select formControlName="constitution">
                    <mat-option value="Public Limited Company">Public Limited Company</mat-option>
                    <mat-option value="Private Limited Company">Private Limited Company</mat-option>
                    <mat-option value="Limited Liability Company">Limited Liability Company</mat-option>
                    <mat-option value="Partnership Firm">Partnership Firm</mat-option>
                    <mat-option value="Proprietary Concern">Proprietary Concern</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" *ngIf="profiledetails.get('constitution').value == 'Public Limited Company' || profiledetails.get('constitution').value == 'Private Limited Company' || profiledetails.get('constitution').value == 'Limited Liability Company' || profiledetails.get('constitution').value == 'Partnership Firm'">
                <div fxLayout="column" fxFlex="38">
                  <mat-form-field class="m15">
                      <input matInput placeholder=" Certificate of incorporation / Firm registration certificate" formControlName="certofincname">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="12">
                  <div class="upload-btn-wrapper">
                    <button class="uploadbtn">Upload a file</button>
                    <input type="file" formControlName="certofinc" name="certofinc" (change)="uploadinc($event)" />
                  </div>
                </div>
                <div fxLayout="column" fxFlex="38">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Board resolution / power of attorney" formControlName="BRname">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="12">
                  <div class="upload-btn-wrapper">
                    <button class="uploadbtn">Upload a file</button>
                    <input type="file" formControlName="BR" name="BR" (change)="uploadbr($event)" />
                  </div>
                </div>
              </div>
              <div fxLayout="row"  *ngIf="profiledetails.get('constitution').value == 'Public Limited Company' || profiledetails.get('constitution').value == 'Private Limited Company' || profiledetails.get('constitution').value == 'Limited Liability Company' || profiledetails.get('constitution').value == 'Partnership Firm' || profiledetails.get('constitution').value == 'Proprietary Concern'">
                <div fxLayout="column" fxFlex="38">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Income Tax PAN" formControlName="panval">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="12">
                  <div class="upload-btn-wrapper">
                    <button class="uploadbtn">Upload a file</button>
                    <input type="file" formControlName="panname" name="panname" (change)="uploadpan($event)" />
                  </div>
                </div>
                <div fxLayout="column" fxFlex="38">
                  <mat-form-field class="m15">
                      <input matInput placeholder="GSTIN" formControlName="GSTinName">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="12">
                  <div class="upload-btn-wrapper">
                    <button class="uploadbtn">Upload a file</button>
                    <input type="file" formControlName="GST" name="GST" (change)="uploadgst($event)" />
                  </div>
                </div>
              </div>
              <div fxLayout="row" *ngIf="profiledetails.get('constitution').value == 'Public Limited Company' || profiledetails.get('constitution').value == 'Private Limited Company'">
                <div fxLayout="column" fxFlex="50">
                  <mat-form-field class="m15">
                      <input matInput placeholder="CIN" formControlName="cin">
                    </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="end end">
                <div fxLayout="column" fxLayoutAlign="end end" >
                  <button class="secondarybtn btn" matStepperPrevious>Previous</button>
                  <button class="primarybtn btn" (click)="regcompanydetails()" matStepperNext>Next</button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="storeDetails">
            <form [formGroup]="storeDetails">
              <ng-template matStepLabel>Store Details</ng-template>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Total Number of Stores" formControlName="total_stores">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="MRP Range" formControlName="MRP_range">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Annual Sales" formControlName="annualsalesvalue">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Retailer 1" formControlName="topretailer1">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Retailer 2" formControlName="topretailer2">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Retailer 3" formControlName="topretailer3">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Segments 1" formControlName="TopSegments1">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Segments 2" formControlName="TopSegments2">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Segments 3" formControlName="TopSegments3">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Vertical 1" formControlName="TopVertical1">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Vertical 2" formControlName="TopVertical2">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Vertical 3" formControlName="TopVertical3">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Department 1" formControlName="TopDepartment1">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Department 2" formControlName="TopDepartment2">
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="25">
                  <mat-form-field class="m15">
                      <input matInput placeholder="Top Department 3" formControlName="TopDepartment3">
                  </mat-form-field>
                </div>
              </div>
                <div>
                  <button class="secondarybtn btn" mat-button matStepperPrevious>Back</button>
                  <button  class="primarybtn btn" mat-button (click)="regretailerstore()" matStepperNext>Done</button>
              </div>
            </form>
          </mat-step>

          </mat-vertical-stepper>



        </div>


    </div>
    <!-- / CONTENT -->

</div>
