:host {

    .content {

        form {
            background: white;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 26px;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper {
            max-width: 100%;
        }

        .fileSection {
            width: 100%;
            height: 60px;
            background: #fff;
            margin-bottom: 21px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            padding: 10px;
        }

    }
}

.mat-step-icon-selected{
  background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
}

.mat-stepper-vertical{
  background-color: transparent !important;
}
.mat-vertical-stepper-header{
  height: 0px !important;
}
.btn{
  height: 30px;
  float: right;
  width: 150px
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.uploadbtn {
  border: 2px solid #0850ad;
  color: #0850ad;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.hint{
margin-left: 15px;
position: relative;
bottom: 10px;
font-size: 12px;
color: #0850ad;
}

.full_width{
  width: 100%;
  max-width: 100% !important;
}
