<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Company Details</div>
            </header>

            <div class="content">
                <form fxLayout="column" [formGroup]="companyDetails">

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Company Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="companyName" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Constitution</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="constitution" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Income Tax</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="incomeTax" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Mobile</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="mobile" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Pincode</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="pincode" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Power of Attorney</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="power_of_attorney" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Registered Address Proof</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="registered_address_proof" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Retailer Code</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="retailer_code" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Signing Authority Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="signing_authority_name" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Tax</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="tax" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>CIN</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="CIN" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>GST</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="GST" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>GST File</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="GST_file" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Address Proof</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="address_proof" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Attorney</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="attorney" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Certificate</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="certificate" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Corporate Office Details</div>
            </header>

            <div class="content">
                <form fxLayout="column" [formGroup]="corporateOfficeDetails">

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Address</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="address" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>City</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="city" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>State</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="state" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Postal Code</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="pincode" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Mobile Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="mobileNumber" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Landline Number</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="landlineNumber" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Proof of Address</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="addressProof" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>GSTIN/UIN</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="GSTIN" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
