<div id="about" style="padding: 24px 24px">
  <form [formGroup]="form">
  <div class="container" fxlayout="row">
      <div class="widget" fxFlex="100" fxFlex.gt-sm="40" fxFlex.gt-md="40">
        <div class="card">
            <div class="card_title">Operations Details
              <mat-icon *ngIf="viewops" (click)="editops()" class="icon_class">mode_edit</mat-icon>
              <mat-icon *ngIf="!viewops" (click)="okops()" class="icon_class done">done</mat-icon>
              <mat-icon *ngIf="!viewops" (click)="Saveops()" class="icon_class close">close</mat-icon>
            </div>
            <!-- View Mode -->
            <div fxLayout="row" *ngIf="viewops">
            <div  class="operations_card_right">
              <img class="icon_ops" src="./assets/images/calendar.png">
              <div class="center_text"><b>{{data.established_on | date:'dd, MMMM yyyy'}}</b> <br> Established Date </div>
            </div>
            <div  class="operations_card">
              <img class="icon_ops" src="./assets/images/store.png">
              <div class="center_text"><b>{{data.point_of_sales}}</b> <br> Point of Sales</div>
            </div>
            </div>
            <!-- Edit Mode  -->
            <div fxLayout="row" *ngIf="!viewops">
            <div  class="operations_card_right">
              <img class="icon_ops" src="./assets/images/calendar.png">
              <div class="center_text">
                <input class="inputstyle1" formControlName="date_of_incorp"  matInput [matDatepicker]="picker" placeholder="Select a date" (click)="picker.open()" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker></div>
            </div>
            <div  class="operations_card">
              <img class="icon_ops" src="./assets/images/store.png">
              <div class="center_text"><input type="number" class="inputstyle1" formControlName="no_of_stores"  placeholder="Number of Stores" ></div>
            </div>
            </div>
        </div>
      </div>
      <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="60" fxFlex.gt-md="60">
        <div class="card">
          <div class="card_title">About the Brand
            <mat-icon *ngIf="viewabt" (click)="editabt()" class="icon_class">mode_edit</mat-icon>
            <mat-icon *ngIf="!viewabt" (click)="okabt()" class="icon_class done">done</mat-icon>
            <mat-icon *ngIf="!viewabt" (click)="saveabt()" class="icon_class close">close</mat-icon>
          </div>
          <!-- <p class="card_paragraph">{{}}</p> -->
          <quill-view [content]="data.about_brand" class="viewmode" format="text" style="height:200px"  *ngIf="viewabt"></quill-view>
          <div *ngIf="!viewabt">
            <!-- <textarea formControlName="company_brief" class="textareastyle1" name="Retailer Description"  rows="12" cols="105"></textarea> -->
            <quill-editor id="aboutbrand" formControlName="company_brief" [styles]="{height: '165px'}"></quill-editor>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon *ngIf="viewhq" (click)="edithq()" class="icon_class">mode_edit</mat-icon>
            <mat-icon *ngIf="!viewhq" (click)="okhq()" class="icon_class done">done</mat-icon>
            <mat-icon *ngIf="!viewhq" (click)="savehq()" class="icon_class close">close</mat-icon>
          </div>
        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: -25px;">
          <img class="icon1" src="./assets/images/headquaters.png">
        </div>
          <div class="center_text1">Headquaters</div>
        </div>
        <div class="card_value" *ngIf="viewhq">
            <p>{{data.hq_address}}, {{data.hq_city}}, {{data.hq_state}}, {{data.hq_pincode}}</p>
        </div>
        <div class="card_value" *ngIf="!viewhq">
          <input type="text" class="inputstyle1" formControlName="address"  placeholder="Address" >
          <input type="text" class="inputstyle1" formControlName="state"  placeholder="State" >
          <input type="text" class="inputstyle1" formControlName="city"  placeholder="City" >
          <input type="number" class="inputstyle1" formControlName="pincode"  placeholder="pincode" >
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
      <div class="card">
        <div class="card_title">
        <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon *ngIf="viewtopb" (click)="edittopb()" class="icon_class">mode_edit</mat-icon>
            <mat-icon *ngIf="!viewtopb" (click)="oktopb()" class="icon_class done">done</mat-icon>
            <mat-icon *ngIf="!viewtopb" (click)="savetopb()" class="icon_class close">close</mat-icon>
          </div>
        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: -25px;">
          <img class="icon1" src="./assets/images/segment.png">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="center_text1">Top 3 Retailers</div>
        </div>
        <div class="card_value" *ngIf="viewtopb">
          <div class="chip" *ngFor="let x of data.top_retailes">{{x}}</div>
        </div>
        <div class="card_value" *ngIf="!viewtopb">
          <input type="text" class="inputstyle1" formControlName="Brand1"  placeholder="1st Place" >
          <input type="text" class="inputstyle1" formControlName="Brand2"  placeholder="2nd Place" >
          <input type="text" class="inputstyle1" formControlName="Brand3"  placeholder="3rd Place" >
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon *ngIf="viewtops" (click)="edittops()" class="icon_class">mode_edit</mat-icon>
            <mat-icon *ngIf="!viewtops" (click)="oktops()" class="icon_class done">done</mat-icon>
            <mat-icon *ngIf="!viewtops" (click)="savetops()" class="icon_class close">close</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: -25px;">
          <img class="icon1" src="./assets/images/shop.png">
          </div>
          <div class="center_text1">Top Segments </div>
        </div>
        <div class="card_value" *ngIf="viewtops">
          <div class="chip" *ngFor="let x of data.top_segments">{{x}}</div>
        </div>
        <div class="card_value" *ngIf="!viewtops">
          <select class="chip selectstyle1" formControlName="segment1">
            <option [value]="x.value" *ngFor="let x of segment.data">{{x.value}}</option>
          </select>
          <select class="chip selectstyle1" formControlName="segment2">
          <option [value]="x.value" *ngFor="let x of segment.data">{{x.value}}</option>
          </select>
          <select class="chip selectstyle1" formControlName="segment3">
          <option [value]="x.value" *ngFor="let x of segment.data">{{x.value}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
      <div class="card">
        <div class="card_title">
                    <div fxLayout="row" fxLayoutAlign="end end">
                      <mat-icon *ngIf="viewtopc" (click)="edittopc()" class="icon_class">mode_edit</mat-icon>
                      <mat-icon *ngIf="!viewtopc" (click)="oktopc()" class="icon_class done">done</mat-icon>
                      <mat-icon *ngIf="!viewtopc" (click)="savetopc()" class="icon_class close">close</mat-icon>
                    </div>
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: -25px;">
            <img class="icon1" src="./assets/images/Top-dept.png">
          </div>
          <div class="center_text1">Top Categories</div>
        </div>
        <div class="card_value" *ngIf="viewtopc">
          <div class="chip" *ngFor="let x of data.top_categories">{{x}}</div>
        </div>
        <div class="card_value" *ngIf="!viewtopc">
          <select class="chip selectstyle1" formControlName="categories1">
          <option [value]="x.value" *ngFor="let x of category.data">{{x.value}}</option>
          </select>
          <select class="chip selectstyle1" formControlName="categories2">
          <option [value]="x.value" *ngFor="let x of category.data">{{x.value}}</option>
          </select>
          <select class="chip selectstyle1" formControlName="categories3">
          <option [value]="x.value" *ngFor="let x of category.data">{{x.value}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon *ngIf="viewtopd" (click)="edittopd()" class="icon_class">mode_edit</mat-icon>
            <mat-icon *ngIf="!viewtopd" (click)="oktopd()" class="icon_class done">done</mat-icon>
            <mat-icon *ngIf="!viewtopd" (click)="savetopd()" class="icon_class close">close</mat-icon>
          </div>
         <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: -25px;">
          <img class="icon1" src="./assets/images/Top-Categories.png">
        </div>
          <div class="center_text1">Top Departments </div>
        </div>
        <div class="card_value" *ngIf="viewtopd">
          <div class="chip" *ngFor="let x of data.top_departments">{{x}}</div>
        </div>
        <div class="card_value" *ngIf="!viewtopd">
          <select class="chip selectstyle1" formControlName="department1">
          <option [value]="x.value" *ngFor="let x of department.data">{{x.value}}</option>
          </select>
          <select class="chip selectstyle1" formControlName="department2">
          <option [value]="x.value" *ngFor="let x of department.data">{{x.value}}</option>
          </select>
          <select class="chip selectstyle1" formControlName="department3">
            <option [value]="x.value" *ngFor="let x of department.data">{{x.value}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="end end">
            <mat-icon *ngIf="viewpivotal" (click)="editpivotal()" class="icon_class">mode_edit</mat-icon>
            <mat-icon *ngIf="!viewpivotal" (click)="okpivotal()" class="icon_class done">done</mat-icon>
            <mat-icon *ngIf="!viewpivotal" (click)="savepivotal()" class="icon_class close">close</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: -25px;">
          <img class="icon1" src="./assets/images/Pivotal-MRP-Range.png">
          </div>
          <div class="center_text1">Pivotal MRP Range</div>
        </div>
        <div class="card_value" *ngIf="viewpivotal">
          <div class="chip">{{data.mrp_low}}</div>
          <div class="chip_to"> To </div>
          <div class="chip">{{data.mrp_high}}</div>
        </div>
        <div class="card_value" *ngIf="!viewpivotal">
          <div class="chip"><input type="number" class="inputstyle1" formControlName="mrp_low"  placeholder="Lowest MRP" ></div>
          <div class="chip_to"> To </div>
          <div class="chip"><input type="number" class="inputstyle1" formControlName="mrp_high"  placeholder="Highest MRP" ></div>
        </div>
      </div>
    </div>
  </div>
 <div class="container">
    <div class="operation_details" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        <div class="card_value"*ngIf="viewsocial">
          <ul style="list-style: none;display: inline-flex;">
            <li><img src="./assets/images/fb.png" alt="facebook" (click)="fb(data.fb_link)"></li>
            <li><img src="./assets/images/gp.png" alt="Google +" (click)="fb(data.google_link)"></li>
            <li><img src="./assets/images/insta.png" alt="Instagram" (click)="fb(data.insta_link)"></li>
            <li><img src="./assets/images/linkedin.png" alt="Linkedin" (click)="fb(data.linkedin_link)"></li>
            <li><img src="./assets/images/tweet.png" alt="Twitter" (click)="fb(data.twitter_link)"></li>
            <li><img src="./assets/images/youtube.png" alt="Youtube" (click)="fb(data.youtube_link)"></li>
          </ul>
          <mat-icon *ngIf="viewsocial" (click)="editsocial()" class="icon_class">mode_edit</mat-icon>
          <div style="text-align:center" (click)="fb(data.website_link)">{{data.website_link}}</div>
        </div>
        <div class="card_value" *ngIf="!viewsocial">
          <ul style="list-style: none;display: inline-flex;">
            <li><input class="inputstyle2" formControlName="facebook" placeholder="Facebook URL"></li>
            <li><input class="inputstyle2" formControlName="google_plus" placeholder="Google+ URL"></li>
            <li><input class="inputstyle2" formControlName="instagram" placeholder="Instagram URL"></li>
            <li><input class="inputstyle2" formControlName="linkedin" placeholder="Linkedin URL"></li>
            <li><input class="inputstyle2" formControlName="twitter" placeholder="Twitter URL"></li>
            <li><input class="inputstyle2" formControlName="youtube" placeholder="Youtube URL"></li>
            <li><input class="inputstyle2" formControlName="web" placeholder="Website URL"></li>
          </ul>
           <button *ngIf="!viewsocal" (click)="savesocial()" class="secondarybtn btn">Cancel</button>
           <button *ngIf="!viewsocal" (click)="oksocial()" class="primarybtn btn">Save</button>
        </div>

    </div>



  </div>
</form>

</div>
