<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">General Information</div>
                <button mat-icon-button (click)="generalInfoEdit()" *ngIf="showgeneralInfoEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="generalInfoUpdate()" *ngIf="showgeneralInfoDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>

            <div class="content">
                <form fxLayout="column" [formGroup]="generalInfo">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Retailer Name</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="rname" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Tagline</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="tagline" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Brief about the brand</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="aboutBrand" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Date of Incorporation</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="incorporation" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Corporate office</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="corporateOffice" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Point of Sales</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="pointSales" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>

        </div>

        <div class="profile-box info-box general" fxLayout="column">
    
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">MRP Range</div>
                <button mat-icon-button (click)="MRPEdit()" *ngIf="showMRPEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="MRPUpdate()" *ngIf="showMRPDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>
    
            <div class="content">
                <form fxLayout="column" [formGroup]="MRPRangeDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>MRP From</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="MRPFrom" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>MRP TO</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="MRPTo" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>

        <div class="profile-box info-box general" fxLayout="column">
    
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Links</div>
                <button mat-icon-button (click)="socialLinksEdit()" *ngIf="showSocialLinkEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="socialLinksUpdate()" *ngIf="showSocialLinkDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>
    
            <div class="content">
                <form fxLayout="column" [formGroup]="socialLinkDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Facebook</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="facebook" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Twitter</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="twitter" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Instagram</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="instagram" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Youtube</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="youtube" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Google+</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="google" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>

    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

        <div class="profile-box friends" fxLayout="column">
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Top Brands</div>
                <button mat-icon-button (click)="topBrandEdit()" *ngIf="showTopRetailerEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="topBrandUpdate()" *ngIf="showTopRetailerDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>
            
            <div class="content">
                <form fxLayout="column" [formGroup]="topBrandsDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Brands</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="brand1" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Retailer</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="brand2" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Retailer</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="brand3" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="profile-box groups" fxLayout="column">
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Top Segments</div>
                <button mat-icon-button (click)="topSegmentEdit()" *ngIf="showTopSegmentEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="topSegmentUpdate()" *ngIf="showTopSegmentDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>
            
            <div class="content">
                <form fxLayout="column" [formGroup]="topSegmentDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Segment</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="segment1" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Segment</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="segment2" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Segment</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="segment3" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>

        <div class="profile-box groups" fxLayout="column">
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Top Verticals</div>
                <button mat-icon-button (click)="topCategoriesEdit()" *ngIf="showTopCategoriesEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="topCategoriesUpdate()" *ngIf="showTopCategoriesDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>
        
            <div class="content">
                <form fxLayout="column" [formGroup]="TopCategoryDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Vertical</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="category1" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Vertical</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="category2" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Vertical</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="category3" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>

        <div class="profile-box groups" fxLayout="column">
            <header class="header-block" fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <div class="title" fxFlex="1 1 auto">Top Departments</div>
                <button mat-icon-button (click)="topDepartmentEdit()" *ngIf="showTopDepartmentEditicon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="topDepartmentUpdate()" *ngIf="showTopDepartmentDoneicon">
                    <mat-icon>done</mat-icon>
                </button>
            </header>
        
            <div class="content">
                <form fxLayout="column" [formGroup]="topDepartmentDetails">
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Departments</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="department1" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Departments</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="department2" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div class="form-block" fxLayout="column">
                            <p>Top Departments</p>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <input matInput formControlName="department3" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>

    </div>
    

</div>
