<div id="about" style="padding: 24px 24px">
  <div class="container" fxlayout="row">
      <div class="widget" fxFlex="100" fxFlex.gt-sm="40" fxFlex.gt-md="40">
        <div class="card">
            <div class="card_title">{{data.company_name}} {{data.constitution}}</div>
            <div fxLayout="row">
            <div  class="operations_card_right">
              <div style="font-size: 16px;margin: 10px;"> <b>CIN : </b><a href="{{data.firm_registration_certi}}" target="_blank" > {{data.CIN}} </a> </div>
              <div style="font-size: 16px;margin: 10px;"> <b>GSTIN : </b><a href="{{data.GST_file}}" target="_blank" > {{data.GST_number}} </a></div>
              <div style="font-size: 16px;margin: 10px;"> <b>PAN : </b><a href="{{data.pan_file}}" target="_blank" > {{data.pan_number}} </a></div>
              <br/>
              <div style="font-size: 16px;margin: 10px;"><b> {{data.signing_authority_fname}} {{data.signing_authority_mname}} {{data.signing_authority_lname}} ({{data.signing_authority_designation}}) </b></div>
              <div style="font-size: 14px;margin: 10px;"> {{data.signing_authority_email}}</div>
              <div style="font-size: 14px;margin: 10px;"> {{data.signing_authority_mobile}} / {{data.signing_authority_landline}}</div>
            </div>
            </div>
        </div>
      </div>
      <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
        <div class="card">
          <div class="card_title">
            <div fxLayout="row" fxLayoutAlign="center center" >
            <img class="avicon" src="./assets/images/headquaters.png">
            </div>
            <div class="center_text1">Headquaters</div>
          </div>
          <div class="card_value">
            <div class="">{{data.registered_address}}</div>
            <div class="">{{data.registered_City}} , {{data.registered_State}}</div>
            <div class="">{{data.registered_pincode}}</div>
            <div class="">{{data.registered_mobile}} / {{data.registered_landline}}</div>
            <div class=""><a href="{{data.registered_address_proof}}" target="_blank" ><mat-icon>link</mat-icon> </a></div>
          </div>
        </div>
      </div>
      <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18">
        <div class="card">
          <div class="card_title">
            <div fxLayout="row" fxLayoutAlign="center center" >
            <img class="avicon" src="./assets/images/headquaters.png">
            </div>
            <div class="center_text1">Registered Address</div>
          </div>
          <div class="card_value">
            <div class="">{{data.corporate_address}}</div>
            <div class="">{{data.corporate_City}} , {{data.corporate_State}}</div>
            <div class="">{{data.corporate_pincode}}</div>
            <div class="">{{data.corporate_mobile}} / {{data.corporate_landline}}</div>
            <div class=""><a href="{{data.registered_address_proof}}" target="_blank" ><mat-icon>link</mat-icon> </a></div>
          </div>
        </div>
      </div>
  </div>
</div>
