<!-- <table #dataTable class="display" style="width:100%"></table> -->
  <div fxLayout="row" fxLayoutAlign="end center">
    <button (click)="exportAsXLSX()" class="exportBtn" >Excel</button>
  </div>
    <div  fxLayout="row" fxLayoutAlign="start center"  style="max-height:60vh;overflow-y:auto">
          <div class="tab-menu" style="width:100%">
            <div class="inventory">
                <div class="inventory_table" style="overflow-x:scroll" fxLayout="row">
                  <table class="inventory_tab">
                    <tr class="tab_header_bg">
                        <th class="Table_title" style="text-align:center">Brand Name</th>
                        <th class="Table_title" style="text-align:center">Retailer Name</th>
                        <th class="Table_title" style="text-align:center">Ordered By</th>
                        <th class="Table_title" style="text-align:center">Delivery Location</th>
                        <th class="Table_title" style="text-align:center">PO Number</th>
                        <th class="Table_title" style="text-align:center">Approved PO Qty</th>
                        <th class="Table_title" style="text-align:center">Approved PO Value</th>
                        <th class="Table_title" style="text-align:center">PO Confirmation Date</th>
                        <th class="Table_title" style="text-align:center">Expected Shipment Date</th>
                        <th class="Table_title" style="text-align:center">Transporter Name</th>
                        <th class="Table_title" style="text-align:center">Tracking ID</th>
                        <th class="Table_title" style="text-align:center">Invoice #</th>
                        <th class="Table_title" style="text-align:center">Invoice Qty</th>
                        <th class="Table_title" style="text-align:center">Invoice Value</th>
                        <th class="Table_title" style="text-align:center">Payment to Nodal Date</th>
                        <th class="Table_title" style="text-align:center">Payment to Nodal Amount</th>
                        <th class="Table_title" style="text-align:center">Delivery Date</th>
                        <th class="Table_title" style="text-align:center">Delivery Qty</th>
                        <th class="Table_title" style="text-align:center">Delivery Value</th>
                        <th class="Table_title" style="text-align:center">RTV Comments</th>
                        <th class="Table_title" style="text-align:center">Action</th>
                    </tr>
                    <tr *ngFor="let data of datas;let i = index">
                          <td class="Table_title">{{data.brand_id.brand_name}}</td>
                          <td class="Table_title">{{data.retailer_id.retailer_name}}</td>
                          <td class="Table_title">{{data.team_id.fname}} {{data.team_id.lname}}</td>
                          <td class="Table_title">{{data.delivery_id.name}}</td>
                          <td class="Table_title">{{data.purchase_order_number}}</td>
                          <td class="Table_title">{{data.revised_po_qty}}</td>
                          <td class="Table_title">{{data.revised_total_amount_payable | currency:'INR'}}</td>
                          <td class="Table_title">{{data.approvedDate | date:'dd/MM/yyyy'}}</td>
                          <td class="Table_title">{{data.expectedShipmentDate | date:'dd/MM/yyyy'}}</td>
                          <td class="Table_title">{{data.shipment.transportName}}</td>
                          <td class="Table_title">{{data.shipment.trackingId}}</td>
                          <td class="Table_title">{{data.shipment.invoiceId}}</td>
                          <td class="Table_title">{{data.shipment.invoiceQty}}</td>
                          <td class="Table_title">{{data.shipment.invoiceValue | currency:'INR'}}</td>
                          <td class="Table_title">{{data.retailerEscrowDate | date:'dd/MM/yyyy'}}</td>
                          <td class="Table_title">{{data.retailerEscrowAmount | currency:'INR'}}</td>
                          <td class="Table_title">{{data.shipment.deliveryReceivedDate | date:'dd/MM/yyyy'}}</td>
                          <td class="Table_title">{{data.shipment.deliveryReceivedQty}}</td>
                          <td class="Table_title">{{data.shipment.deliveryReceivedValue | currency:'INR'}}</td>
                          <td class="Table_title">{{data.shipment.rtvComments}}</td>
                          <td class="Table_title"><a (click)="someClickHandler(data)">View Action</a></td>
                    </tr>
                  </table>
                </div>
                <p *ngIf="dataArrayEmpty" style="text-align:center;font-size:17px"> No Shipped Orders </p>
            </div>
        </div>
    </div>
