@import "src/@fuse/scss/fuse";
.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }

        .top-search {
            
            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }

            button {
                border-radius: 0 50px 50px 0;
                font-weight: normal;
                background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }
        
    }

    .content-wrapper {

        .content-section {
            padding: 10px 24px;

            .catalogue-section {
                background: #ffffff;
                background: #ffffff;
                padding: 15px 15px;
                border-radius: 4px;
                box-shadow: 0px 1px 10px 2px #d8d8d8;
            }

            .mt-25 {
                margin-top: 25px;
            }
            
            .right-content{
                padding: 15px;
            }
            
            .left-content{
                padding: 15px;

                h3 {
                    color: #000000;
                    font-weight: 600;
                    font-size: 16px;
                }
                p {
                    color: #000000;
                    font-size: 16px;
                }

                ul {
                    padding: 0;
                    list-style: none;

                    li {
                        font-size: 15px;
                        line-height: 24px;
                        display: block;

                        span {
                            color: #0348ff;
                        }

                    }
                }
            }

            .bottom-section {
                padding: 15px;

                h3 {
                    color: #000000;
                    font-weight: 600;
                    font-size: 16px;
                }
                p {
                    color: #000000;
                    font-size: 16px;
                }
            }



            .fileSection {
                width: 100%;
                height: 50px;
                background: #fff;
                margin-bottom: 21px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 50px;
                padding: 10px;
                box-shadow: 0px 1px 10px 1px #d8d8d8;

                button {
                    background: #ffffff;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    border-radius: 22px;
                    padding: 5px 10px;
                    cursor: pointer;
                }
            }

            .buttons {
                width: 100%;

                button {
                    width: 50%;
                    background: #ffffff;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    line-height: 20px;
                    border-radius: 50px;
                    padding: 10px 10px;
                    box-shadow: 0px 1px 10px 1px #d8d8d8;
                    cursor: pointer;

                    img {
                        padding-right: 5px;
                    }
                }
                .mr-15 {
                    margin-right: 15px;
                }
                .blue {
                    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
                }
            }

            .custom-button{
                margin: 10px 0 10px 0;
                border-radius: 22px;
                color: #fff;
                padding: 0 15px;
                font-size: 12px;
                height: 30px;
                line-height: 30px;
                font-weight: normal;

                mat-icon{
                    font-size: 20px;
                }
            }
        }
            
    }

}
