<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

    <!-- HEADER -->
    <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
        <div fxLayout="row" fxLayoutAlign="start center">
          <h2>Upload Catalogue</h2>
        </div>

        <div class="top-search">
          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <input #filter placeholder="Search">
            <mat-icon>search</mat-icon>
          </div>
        </div>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content content-wrapper">

      <!-- CENTER -->
      <div class="center" fusePerfectScrollbar>

        <!-- CONTENT -->
        <div class="content-section">

          <div class="catalogue-section">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="50" class="">
                  <div class="left-content">
                    <h3>Upload Excel Sheet</h3>
                    <p>Please follow below steps in order to upload catelogue </p>
                    <ul>
                      <li>
                        <span>Step 1 :</span>  Download product upload file as per required category from side pane.
                      </li>
                      <li>
                        <span>Step 2 :</span> Fill in the details in the upload file as per the guidelines provided in the file
                      </li>
                      <li>
                        <span>Step 3 :</span>  Create images folder and save images as per guidelines provided
                      </li>
                      <li>
                        <span>Step 4 :</span>  Send the completed upload file and images folder to - support@intrakraft.com
                      </li>
                      <li>
                        <span>Step 5 :</span> Notify Admin
                      </li>
                    </ul>
                  </div>
                </div>
                <div fxFlex="50" class="">
                  <div class="border-left right-content">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <div class="fileSection">
                          <input
                          style="display: none"
                          type="file" (change)="onFileSelected($event)"
                          #fileSelected>
                          <button (click)="fileSelected.click()">Select Catalogue File</button>
                          <label class="pl-4">{{selectedFileName}}</label>
                      </div>
                    </div>

                    <div class="buttons" fxLayout="row" fxLayoutAlign="start center">
                      <button type="button" class="mr-15">
                        <img src="./assets/icons/excel.png">
                        Download Sample Catalogue
                      </button>
                      <button type="button" class="blue" (click)="onUpload()">
                        <img src="./assets/icons/upload.png">
                        Upload Catalogue
                      </button>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="catalogue-section mt-25">
            <div class="bottom-section">
              <h3>Download Excel Sheet</h3>
              <div class="buttons" fxLayout="row" fxLayoutAlign="start center">
                <button type="button" class="mr-15">
                  <img src="./assets/icons/excel.png">
                  Download Excel for Men
                </button>
                <button type="button" class="mr-15">
                  <img src="./assets/icons/excel.png">
                  Download Excel for Women
                </button>
                <button type="button" class="mr-15">
                  <img src="./assets/icons/excel.png">
                  Download Excel for Kids
                </button>
                <button type="button">
                  <img src="./assets/icons/excel.png">
                  Download Excel for Footwear
                </button>
              </div>
            </div>
          </div>

        </div>
        <!-- / CONTENT -->

      </div>
      <!-- / CENTER -->

    </div>
    <!-- / CONTENT -->

  </div>
