<div id="about" style="padding: 0 24px">
  <div class="Header" fxLayout="row">
   <h2>Warehouses</h2>
 </div>
  <div class="container">
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of warehouses">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10%">
          <img class="avicon" src="./assets/images/warehouse.png">
          </div>
          <div class="teamName">{{x.name}}</div>
          <p class="designation align_center_top">{{x.address}} , {{x.city}} , {{x.state}} , {{x.pincode}}</p>
          <div class="phone align_center_top">{{x.mobile}}  or  {{x.landline}}</div>
          <div class="phone align_center_top">GSTIN : {{x.GST_number}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
