<div class="Purchaseorder">
<button class="primarybtn" (click)="generatePdf()" style="float:right; height:40px; width:200px">Print PDF</button>
  <div class="content" id="html2Pdf">
  <div fxLayout="row">
    <table class="PO_Header">
      <tr>
        <td>
            <img class="intrakraft_logo" src="./assets/images/intrakraft-logo.png">
        </td>
        <td class="PO_Details">
          <div fxLayout="row"><h2>Purchase Order</h2></div>
          <table class="PO_Details_table">
            <tr>
              <th>PO Number</th>
              <td>{{purchasesummary.purchase_order_number}}</td>
            </tr>
            <tr>
              <th>PO Approved Date</th>
              <td>{{purchasesummary.approvedDate | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <th>PO Valid till</th>
              <td>{{newValidDate  | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <th>Purchase Type</th>
              <td>Raymond1223</td>
            </tr>
            <tr>
              <th>Payment Terms</th>
              <td>Raymond1223</td>
            </tr>
            <tr>
              <th>Nature of Transaction</th>
              <td *ngIf="purchasesummary.brand_id.hq_state != purchasesummary.retailer_id.registered_state">Intrastate</td>
              <td *ngIf="purchasesummary.brand_id.hq_state == purchasesummary.retailer_id.registered_state">Interstate</td>
            </tr>
            <tr>
              <th>Nature of Supply</th>
              <td>Goods</td>
            </tr>

          </table>
        </td>
      </tr>
      </table>
  </div>
  <div fxLayout="row">
    <table class="company_info">
      <tr>
        <th class="company_info_title">Seller</th>
        <th>Shipped By</th>
      </tr>
      <tr>
        <td>
            <h3><b>{{purchasesummary.brand_id.brand_name}}</b></h3>
              <p>{{purchasesummary.brand_id.hq_address +',' + purchasesummary.brand_id.hq_city +',' + purchasesummary.brand_id.hq_state +',' + purchasesummary.brand_id.hq_pincode}}</p>

        </td>
        <td>
            <!-- <h3><b>{{companyDetails.City}}</b></h3> -->
            <!-- <p>{{companyDetailsWHdispatch.address}} <br/>{{companyDetailsWHdispatch.city}}<br/>{{companyDetailsWHdispatch.state}}</p>
            <p><b>GSTIN</b>{{companyDetails.GST}}</p> -->
        </td>

      </tr>
    </table>
  </div>
  <div fxLayout="row">
    <table class="company_info">
      <tr>
        <th class="company_info_title">Buyer</th>
        <th>Ship To</th>
      </tr>
      <tr>
        <td>
          <h3><b>{{purchasesummary.retailer_id.company_name}}</b></h3>
            <p>{{purchasesummary.retailer_id.registered_address +',' + purchasesummary.retailer_id.registered_city +',' + purchasesummary.retailer_id.registered_state +',' + purchasesummary.retailer_id.registered_pincode}}</p>
        </td>
        <td>
          <!--
            <h3><b>{{retailerCompanyDetails.company_name}}</b></h3>
            <p>{{orderdt.deliveryAddress}}</p>
            -->
            <p><b>GSTIN: </b>{{purchasesummary.retailer_id.GST_number}}</p>
        </td>

      </tr>
    </table>
  </div>
  <div fxLayout="row">
    <table class="general">
      <tr>
        <th class="general_title">Brand ID</th>
      <!--  <td>{{companyDetails.retail_code}}</td> -->
        <th class="general_title">Retailer ID</th>
      <!--  <td>{{retailerCompanyDetails.retail_code}}</td> -->
      </tr>
      <tr>
        <th class="general_title">Brand Name</th>
        <td>{{purchasesummary.brand_id.brand_name}}</td>
        <th class="general_title">Retailer Name</th>
        <td>{{purchasesummary.retailer_id.retailer_name}}</td>
      </tr>
    </table>
  </div>
  <div fxLayout="row">
    <table class="Productinfo">
      <tr class="Productinfo_header">
        <th class="">EAN Code</th>
        <th class="">Style Code</th>
        <th class="">Category</th>
        <th class="">Brick</th>
        <th class="">HSN Code</th>
        <th class="">Colour name</th>
        <th class="">Size code</th>
        <th class="">MRP</th>
        <th class="">Qty</th>
        <th class="">Unit List Price</th>
        <th class="">Total Cost</th>
        <th class="">CGST Tax %</th>
        <th class="">CGST Tax Amt</th>
        <th class="">SGST Tax %</th>
        <th class="">SGST Tax Amt</th>
        <th class="">IGST Tax Amt</th>
        <th class="">IGST Tax %</th>
        <th class="">Grand Total</th>
      </tr>
      <tr *ngFor = "let x of purchasesummary.cartdata">
        <td>{{x.catalogue.EAN_code}}</td>
        <td>{{x.catalogue.Style_code}}</td>
        <td>{{x.catalogue.category}}</td>
        <td>{{x.catalogue.brick}}</td>
        <td>{{x.catalogue.HSN_code}}</td>
        <td>{{x.catalogue.vendor_Colour_name}}</td>
        <td>{{x.catalogue.Size_Code}}</td>
        <td>{{x.catalogue.MRP}}</td>
        <td>{{x.approved_qty}}</td>
        <td>unitlistPrice</td>
        <td>totalcost</td>
        <td>{{x.catalogue.GST_Tax_Slab / 2}}</td>
        <td>CGST amount</td>
        <td>{{x.catalogue.GST_Tax_Slab / 2}}</td>
        <td>SGST amount</td>
        <td>{{x.catalogue.GST_Tax_Slab}}</td>
        <td>IGST amount</td>
        <td>Grand Total amount</td>
      </tr>

    </table>
  </div>
  <div fxLayout="row">
    <table  class="totalvalue">
      <tr>
        <th>Total Quantity</th>
        <td>{{purchasesummary.revised_po_qty}}</td>
      </tr>
      <tr>
        <th>Total Cost</th>
        <td>{{purchasesummary.revised_po_value}}</td>
      </tr>
      <tr>
        <th> Tax</th>
        <td>{{purchasesummary.igst}}</td>
      </tr>
      <tr>
        <th>Invoice Total</th>
        <td>{{purchasesummary.revised_po_value + purchasesummary.igst}}</td>
      </tr>
    </table>
  </div>
  <div fxLayout="row" class="termsandc">
    <div style="width:100%">
      <h3 style="padding:15px;font-weight:600"> Terms and Conditions</h3>
      <ul>
      <li> 1) All commercial terms will be as per the agreement signed between the brand and the
           retailer
      </li>

         <li> 2) Delivered merchandise should be strictly as per specifications and as per order </li>
         <li> 3) If the supplier does not deliver the products as per the agreed delivery date OR the PO
           expiry date, whichever is earlier, this PO stands cancelled </li>
         <li> 4) Unless the receiver of this Purchase Order reverts back to the issuer in writing, within
           3 days, this Purchase Order is deemed accepted by the receiver </li>
         <li> 5)The supplier shall ensure that this PO is attached along with the relevant invoice
           &packing slip while shipping the order </li>

         <li>This is an approved electronically generated confirmed PO for execution of orders does not
           require any signature.</li>
      </ul>
    </div>
  </div>
</div>
</div>
