@import "src/@fuse/scss/fuse";

#profile {

    .header {
        height: 350px;
        min-height: 350px;
        max-height: 350px;
        background: url('/assets/images/banner/raymond01.jpg') no-repeat 0 45% #000000;
        background-size: cover;

        .profile-image {

            .user-info{
              margin-right: 10px;
            }

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 20px;
            color: #000;


            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .top-slider {
        position: relative;

        margin: 10px 10px 0 10px;

        .user-info {
          /*  position: absolute;
            bottom: 10px;
            left: 20px;
*/          position: absolute;
            left: 35px;
            bottom: -40px;
            z-index: 100;
            .name1 {
              /*  font-size: 20px;
                color: #000;
                margin-top: 45%;
                margin-left: 20px;
                background: #ffffff87;*/

                font-size: 20px;
                color: #000;
                margin-left: 30px;
                position: relative;
                  top: 55px;
                  background: #ffffff87;

            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }

        .profiletabs{

          .mat-tab-labels{
                height: 50px;
                float: right;
                position: relative;
                top: 0px;
                right: 0%;
          }

          .mat-tab-label{
            border: 1px solid #d2d2d2;
            border-radius: 50px;
            margin: 5px;
            min-width: 120px;
            opacity: 1;
            height: 40px
          }
          .mat-ink-bar{
            background-color: rgba(255, 255, 255, 0);
          }
          .mat-tab-label-active{
            background-image: linear-gradient(to right, #0046ff, #81a6fe) ;
            color: white;
          }

        }
    }
}

.profile-image{
  width: 150px;
  height: 150px;
  max-width: 150px;
  background: white;
  border: 3px solid white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 9px rgba(120, 120, 120, 0.5294117647058824);
  -moz-box-shadow: 0px 0px 10px 9px rgba(120, 120, 120, 0.5294117647058824);
  box-shadow: 0px 0px 10px 9px rgba(120, 120, 120, 0.5294117647058824);
}
