<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="top-slider" >
      <ng-container *ngIf="data.banner_images.length > 0">
        <slideshow
            [imageUrls]="data.banner_images"
            [height]="height"
            [autoPlay]="true"
            [showArrows]="true"
        ></slideshow>
        </ng-container>
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                    fxLayoutAlign.gt-sm="start center">
            <img class="profile-image" [src]="data.logo"
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <span>{{data.retailer_name}}</span>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true" class="profiletabs">

            <mat-tab label="About">
                <profile-about></profile-about>
            </mat-tab>

            <mat-tab label="Team">
                <profile-team></profile-team>
            </mat-tab>

            <!-- <mat-tab label="Company">
                <profile-company></profile-company>
            </mat-tab> -->

            <mat-tab label="Warehouse">
                <profile-warehouse></profile-warehouse>
            </mat-tab>

            <mat-tab label="Store">
                <profile-store></profile-store>
            </mat-tab>

            <mat-tab label="Bank Info">
                <profile-bank-info></profile-bank-info>
            </mat-tab>

            <mat-tab label="Gallery">
                <profile-photos-videos></profile-photos-videos>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
