<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>Linesheets</h2>
      </div>

      <div class="top-search">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <input #filter placeholder="Search">
          <mat-icon>search</mat-icon>
        </div>
        <button mat-raised-button class="cta-button primary" (click)="addlinesheet.open()">Add Linesheet</button>
      </div>
    </div>

  </div>

  <div class="center" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="inner-padding" style="padding:0 20px">
      <div class="Product_Cards" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="Product_Card"  fxLayout="column" fxFlex.gt-sm="14" fxFlex.gt-md="14" *ngFor = "let brand of allLinesheets.data">
          <div fxLayout="row" fxLayoutAlign="end end" style="margin:5px 10px 0px 10px">
              <div class="store-badge">{{brand.count}} Products</div>
              <mat-slide-toggle (change)="activatelinesheet(brand.data)" [checked]="brand.data.publish" ></mat-slide-toggle>
          </div>
          <div class="price" fxLayout="row" fxLayoutAlign="center start">
            <div class="brand-profile">
              <img [src]="brand.data.logo" class="profileimage">
            </div>
          </div>
          <div class="terms" fxLayout="column" fxLayoutAlign="center center">
              <div class="text-bold text-uppercase">{{brand.data.name}}</div>
              <div class="">{{brand.data.brandId.brand_name}}</div>
                <button class="custom-button primary" (click)="gotolinesheet(brand.data.lineSheetCode)">
              <ng-container *ngIf="brand.count == 0">Add</ng-container><ng-container *ngIf="brand.count > 0">Edit</ng-container> Products
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <ngx-smart-modal #addlinesheet identifier="addlinesheet">

    <div class="modal_container">
      <div class="modal_tile">Add Linesheet</div>
      <form [formGroup]="linesheetform">
        <div fxLayout="row">
          <mat-form-field class="modal_input_100" >
            <input matInput placeholder="Linesheet Name" formControlName="linesheetname">
        </mat-form-field>
        </div>
      <div fxLayout="row">
        <mat-form-field class="modal_input_100" >
        <mat-label>Brand Name</mat-label>
        <mat-select formControlName="brandname">
          <mat-option *ngFor="let x of allBrands" [value]="x._id">{{x.brand_name}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div fxLayout="row" >
        <mat-form-field class="modal_input_50">
          <input matInput placeholder="Thumbnail Image" formControlName="profilepic_name">
        </mat-form-field>
        <div class="upload-btn-wrapper">
          <button class="uploadbtn">Upload a file</button>
          <input type="file" formControlName="profilepic" name="myfile" (change)="uploadpp($event)" />
        </div>
      </div>
        <button type="button" class="modalbuttons linesheetbtn primary" (click)="Createlinesheet()">Create Linesheet</button>
      </form>

    </div>

  </ngx-smart-modal>
