@import "src/@fuse/scss/fuse";
#mat-badge-content-0{
  background: #b6048b ;
    color: white;
}
#mat-badge-content-2{
  background: #3eae5f ;
    color: white;
}
#mat-badge-content-1{
  background: #ff9300 ;
    color: white;
}

.store-badge{
    padding: 3px 8px;
    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
    color: #fff;
    font-size: 12px;
    border-radius: 22px;
    text-align: center;
    margin: 0px 10px;
}

.custom-button{
      height: 35px;
      width: 121px;
      border-radius: 28px;
      margin: 10px 10px;
}

.profileimage {
width: 100px;
height: 100px;
margin: 15px;
}
.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }


        .top-search {

            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }

            button {
                border-radius: 0 50px 50px 0;
                font-weight: normal;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }

    }

    .content-wrapper {

        .content-section {
            padding: 10px 24px;

            .custom-button{
                margin: 10px 0 10px 0;
                border-radius: 22px;
                color: #fff;
                padding: 0 20px;
                font-size: 12px;
                font-weight: normal;

                mat-icon{
                    font-size: 20px;
                }
            }

            .retailer-store {
                text-align: right;

                .store-badge{
                    padding: 3px 8px;
                    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
                    color: #fff;
                    font-size: 12px;
                    border-radius: 22px;
                    text-align: center;
                }

            }

            .price-tables {
                margin-left: -12px;
                margin-right: -12px;

                .mat-divider {
                    margin: 10px 15px !important;
                }

                .terms {
                    padding: 10px 15px;
                    font-size: 14px;
                    .secondary-text {

                    }
                }

                .price-table.style-1 {
                    transition: all 0.3s;
                    cursor: pointer;
                    width: 225px;

                    &:hover {
                        transition: all 0.3s;
                        cursor: pointer;
                        box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
                    }

                    .price {
                        padding: 15px 15px;

                        .brand-profile {
                            height: 180px;
                            width: 100%;
                            text-align: center;
                            padding-top: 10px;
                            img {
                                height: 170px;
                                max-width: 100%;
                            }
                        }
                    }

                    .retailer-details {
                        padding: 15px 15px;
                        p {
                            margin: 0;
                            font-size: 12px;
                            color: #000;
                            font-weight: 600;
                        }
                        mat-icon {
                            font-size: 28px;
                            background: linear-gradient(to right, #0046ff, #81a6fe 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -webkit-transform: rotate(145deg);
                            transform: rotate(145deg);
                            width: 28px;
                            line-height: 25px;
                        }
                        label {
                            background: linear-gradient(to right, #0046ff, #81a6fe 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .dress-colors {
                        .color-pic {
                            width: 8px;
                            height: 8px;
                            margin: 2px;
                            border-radius: 100%;
                        }

                        .red {
                            background: red;
                        }
                        .blue {
                            background: blue;
                        }
                        .yellow {
                            background: yellow;
                        }
                    }

                }
            }
        }

    }

}

.Product_Avatar{
  min-height: 300px;
  height:300px;
  margin-bottom: 15px;
}
.Product_Colors{
  width: 10%;
  position: relative;
  right: 10px;
  top: 10px;
}
.Product_Color{
  width: 15px;
  height:15px;
  border-radius:15px;
  border: transparent;
  margin-bottom: 7px;

}
.Product_Color_catalogue{
  width: 25px;
  height:25px;
  border-radius:15px;
  border: transparent;
  margin-bottom: 7px;
}
.Product_Cards{
  position: relative;
}
.Product_Card{
  background: white;
  width: 280px;
  margin-right: 20px;
  margin-top:20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.Product_MRP{
  width:120px;
}
.Product_Cost{
  width:120px;
}
.linesheetbtn{
  width: 180px;
height: 35px;
float: right;
margin-top: 20px;
}
