<div fxLayout="column" fxFlex fusePerfectScrollbar>

    <mat-list class="date" cdkFocusRegionStart>
        <h3 matSubheader cdkFocusInit>
            <span>Today</span>
        </h3>

        <div class="secondary-text mat-display-1 mb-0 p-16">
            <div class="mb-12">
                {{date | date:'EEEE'}}
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <span> {{date | date:'d'}}</span>
                <span class="mat-subheading-1">th</span>
                <span> {{date | date:'MMMM'}}</span>
            </div>
        </div>
    </mat-list>

    <mat-divider cdkFocusRegionEnd></mat-divider>

    <mat-divider cdkFocusRegionEnd></mat-divider>

    <mat-accordion class="notification" >
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            New
          </mat-panel-title>
          <button (click)="readAllNotifications()">Clear All</button>
        </mat-expansion-panel-header>
            <div class="notification_Card" style="background-color: #f5f6f7;">
               <ng-container *ngFor="let msg of customer.notification" >
              <div class="mat-card notification_Card new" *ngIf="!msg.isReadByBrand" (click)="customer.notificationaction(msg._id)">
              <div class="Notfication_title">{{msg.notificationAbout}}</div>
              <div class="Notification_msg">{{msg.notificationMsg}}</div>
              <div class="Notification_date">{{msg.createdAt}}</div>
              </div>
              </ng-container>
            </div>

      </mat-expansion-panel>
    </mat-accordion>




    <mat-accordion class="notification">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Earlier
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="notification_Card" >
           <ng-container *ngFor="let msg of customer.notification" >
          <div class="mat-card notification_Card" *ngIf="msg.isReadByBrand">
          <div class="Notfication_title">{{msg.notificationAbout}}</div>
          <div class="Notification_msg">{{msg.notificationMsg}}</div>
          <div class="Notification_date">{{msg.createdAt}}</div>
          </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

</div>
