quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }

    .notification-list{
        padding: 15px;
        ul {
            list-style-type: decimal;
            padding-left: 20px;
            li {
                padding: 10px 0;
                border-bottom: 1px solid #e0e0e0;

                h2 {
                    margin: 0;
                }

                p {
                    margin: 0;
                }
                label {
                    background: #9e9e9e;
                    color: #fff;
                    padding: 2px 9px;
                    border-radius: 15px;
                    font-size: 11px;
                    line-height: 0;
                }
            }
        }
    }
}

.mat_card{
  width: 95%;
  height: 85px;
  margin: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #cacaca;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.notification .mat-expansion-panel-body{
  padding: 0px !important;
}

.notification_Card{
  padding:10px;
  margin-bottom: 10px;

}
.Notfication_title{
  font-size: 16px;
}
.Notification_msg{
  font-size: 14px;
}
.Notification_date{
  text-align: right;
  color: grey;
  font-size: 12px;

}

.new{
  background-color:#edf2fa;
}
