
<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout" fusePerfectScrollbar>

  <div class="inventory" style="margin: 0 25px;">
      <div class="inventory_table" style="overflow-x:scroll" fxLayout="row">
        <table class="inventory_tab">
          <tr class="tab_header_bg">
            <ng-container>
              <th class="Table_title" style="text-align:center;width:160px">Retailer Name</th>
              <th class="Table_title" style="text-align:center;width:160px">Store Name</th>
              <th class="Table_title" style="text-align:center;width:160px">Distributor Name</th>
              <th class="Table_title" style="text-align:center;width:160px">Brand Name</th>
              <th class="Table_title" style="text-align:center;width:160px">Connection Status</th>
              <th class="Table_title" style="text-align:center;width:160px">Connection Estb Date</th>
              <!-- <th class="Table_title" style="text-align:center;width:160px">Notes</th> -->
              <th class="Table_title" style="text-align:center;width:160px">Action</th>
            </ng-container>
          </tr>
          <tr *ngFor="let x of connections">
                <td class="Table_title">{{x.connectionInitiatedRetailerId.retailer_name}}</td>
                <td class="Table_title">{{x.deliveryLocationId.name}}</td>
                <td class="Table_title">
                  <ng-container *ngIf="!x.connectionInitiatedDistributorId || x.connectionInitiatedDistributorId == 'null'">Nil</ng-container>
                  <ng-container *ngIf="x.connectionInitiatedDistributorId && x.connectionInitiatedDistributorId !== 'null'">{{x.connectionInitiatedDistributorId.distributor_name}}</ng-container>
                </td>
                <td class="Table_title">{{x.connectionInitiatedBrandId.brand_name}}</td>
                <td class="Table_title">
                  <ng-container *ngIf="x.connectionStatus == '0'">Connection Initiated</ng-container>
                  <ng-container *ngIf="x.connectionStatus == '1'">Rejected</ng-container>
                  <ng-container *ngIf="x.connectionStatus == '2'">Approval Pending</ng-container>
                  <ng-container *ngIf="x.connectionStatus == '3'">Approved</ng-container>
                </td>
                <td class="Table_title">{{x.acceptedOrRejectedAt | date:'dd, MMM yyyy'}}</td>
                <!-- <td class="Table_title">{{x.comments}}</td> -->
                <td class="Table_title">
                  <a class="actionbtn" [routerLink]="['/apps/management/connection/connectionDetails/', x._id]">View Terms Of Trade</a>
                </td>
          </tr>
        </table>
      </div>
  </div>
