.content{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.Purchaseorder{
  padding: 50px;
  width: 100%;
}

.intrakraft_logo{
  width: 250px;
  margin-left: 20px;
}
.PO_Details{
    float: right;
    width: 70%;
    border-left: 1px solid #e0dddd;
    padding: 10px 35px 15px 55px;
}
.PO_Header{
  width: 100%;
}
.PO_Details_table th{
  text-align: left;
  font-weight: 600;
  width: 200px;
}
.PO_Details_table td{
  float: right;
}
.company_info{
  width: 100%;
  border-top: 1px solid #e0dddd;
}
.company_info th{
  text-align: left;
  padding: 10px 15px 0 15px;
}
.company_info td{
  text-align: left;
  padding: 0 15px;
}
.company_info_title{
  width:62%;
}
.general{
  width: 100%;
  border-top: 1px solid #e0dddd;
  margin-bottom: 20px;
}
.general_title{
  width: 40%;
}
.general th{
  text-align: left;
  width: 20%;
  padding: 10px 15px 0 15px;
}
.general td{
  text-align: left;
  padding: 0 15px;
}
.Productinfo_header{
  background-color: #f6f7fc;
}
.Productinfo{
  padding: 10px;
  width: 100%;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  min-height: 300px;
}
.totalvalue th{
  text-align: left;

}

.totalvalue {
    position: relative;
    left: 70%;
    margin-top: 30px;
    width: 30%;
  }

.termsandc{
  margin-top: 40px;
  border-top: 3px dotted grey;

}
