<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>My Brands</h2>
      </div>

      <div class="top-search">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <input #filter placeholder="Search">
          <mat-icon>search</mat-icon>
        </div>
        <button mat-raised-button class="catalogue_button"  [routerLink]="'/apps/catalogue/upload'">Upload Catalogue</button>
        <button mat-raised-button class="inventory_button"  [routerLink]="'/apps/catalogue/manage-inventory'">Upload Inventory</button>
      </div>
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content content-wrapper">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content-section">
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="start center">

          <div class="price-table style-1 mat-elevation-z4" fxLayout="column" fxFlex.gt-sm="14" fxFlex.gt-md="14" *ngFor="let brand of allBrands">

            <div class="price" fxLayout="row" fxLayoutAlign="center start">
              <div class="brand-profile"  (click)="gotoprofile(brand)" >
                <img [src]="brand.logo">
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="terms" fxLayout="column" fxLayoutAlign="center center">
              <div class="term">
                <div class="text-bold text-uppercase" style="text-align:center">{{brand.brand_name}}</div>
                <div class="brand_tagline">{{brand.tag_line}}</div>
              </div>
              <button mat-raised-button class="custom-button primarybtn" (click)="gotocatalogue(brand)">
                <mat-icon>remove_red_eye</mat-icon>
                Catalogue
              </button>
            </div>

          </div>

        </div>
      </div>


    </div>

  </div>
  <!-- / CONTENT -->

</div>
