<div class="add-button">
    <button mat-raised-button class="tabbuttons primary" (click)="addretailer.open()">Add Retailer</button>
</div>

<table #dataTable class="display" style="width:100%"></table>

<ngx-smart-modal #addretailer identifier="addretailer">

  <div class="modal_container">
    <div class="modal_tile">Add Retailer</div>
    <form [formGroup]="addLead">
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Company Name" formControlName="comapnyname">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="First Name" formControlName="firstname">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Last Name" formControlName="lastname">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput placeholder="Mobile Number" formControlName="mobileNo">
      </mat-form-field>
      <mat-form-field class="modal_input_50">
        <input matInput  placeholder="Landline Number" formControlName="landlineNo">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Retail Chain Name" formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Website" formControlName="website">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Subject" formControlName="subject">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput placeholder="Message" formControlName="message">
      </mat-form-field>
    </div>
      <button type="button" class="tabbuttons primary" style="float:right" (click)="AddLead()">Add Lead</button>
    </form>

  </div>

</ngx-smart-modal>
