@import "src/@fuse/scss/fuse";

profile-photos-videos {

    #photos-videos {

        .period {

            .period-title {
                margin-bottom: 24px;

                .name {
                    font-size: 20px;
                }

                .info {
                    margin-left: 16px;
                    font-size: 15px;
                }
            }

            .period-media {
                margin-bottom: 16px;

                .media {
                    position: relative;
                    margin: 0 16px 16px 0;
                    border-radius: 4px;
                    overflow: hidden;

                    .preview {
                        display: block;
                        width: 256px;
                        height: 256px;
                    }

                    .title {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 10;
                        padding: 0 16px;
                        height: 48px;
                        line-height: 48px;
                        font-size: 15px;
                    }
                }

                .add-media {
                    background: rgb(255, 255, 255);
                    border: 2px dashed rgba(152, 152, 152, 0.37);
                    position: relative;
                    margin: 0 16px 16px 0;
                    border-radius: 4px;
                    overflow: hidden;
                    text-align: center;
                    padding: 69px;
                    cursor: pointer;
                    transition: all 0.3s;

                    mat-icon {
                        font-size: 56px!important;
                        width: 56px!important;
                        height: 56px!important;
                        min-width: 56px!important;
                        min-height: 56px!important;
                        line-height: 56px!important;
                    }

                    &:hover {
                        box-shadow: 1px 2px 12px 1px #00000045;
                    }
                }
            }
        }
    }
}

.imagecard{
  margin:10px;
background: white;
height: 310px;
width: 240px;
box-shadow: 0 0px 0px rgba(255, 255, 255, 0.19), 0 3px 5px rgba(0, 0, 0, 0.23);
}

.addnewimage{
  margin-left: 35%;
  margin-top: 15%;
}

.inputwrapper{
  height: 100%;
position: absolute;
top: 0;
opacity: 0;

}

.widget2{

  margin: 0 30px 0 0;
}
