<div id="about" style="padding: 0 24px">
  <div class="Header" fxLayout="row">
    <h2>Store Details</h2>
  </div>
  <div class="container" fxLayout="row wrap">
    <div class="operation_details widget1" fxLayout="column" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of store">
      <div class="card">
        <div class="team_title">
          <img class="avicon1" src="./assets/images/warehouse.png">
          <div class="teamName">{{x.store_name}}</div>
          <p class="designation align_center_top">{{x.address}},{{x.city}},{{x.state}},{{x.pincode}}</p>
          <div class="phone align_center_top">{{x.mobile}}  or  {{x.landline}}</div>
          <div class="phone align_center_top">GSTIN : {{x.GST}}</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget1" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" (click)="addstore.open()">
      <div class="card">
        <div class="team_title">
          <img class="addnew" src="./assets/images/addnew.png">
          <div class="addnewtext">Add New <br>Store</div>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #addstore identifier="addstore">

  <div class="modal_container">
    <form [formGroup]="form">
    <div class="modal_tile">Add Store</div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_100">
        <input matInput formControlName="store_name" placeholder="Store Name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
    <mat-form-field class="modal_input_50">
      <input matInput formControlName="mobile" placeholder="Phone">
    </mat-form-field>
    <mat-form-field class="modal_input_50">
      <input matInput formControlName="landline" placeholder="Landline">
    </mat-form-field>
    </div>
    <div fxLayout="row">
    <mat-form-field class="modal_input_100">
      <input matInput formControlName="email" placeholder="email">
    </mat-form-field>
    </div>
    <div fxLayout="row">
    <mat-form-field class="modal_input_100">
      <input matInput formControlName="address" placeholder="Address">
    </mat-form-field>
    </div>
    <div fxLayout="row">
    <mat-form-field class="modal_input_50">
      <input matInput formControlName="city" placeholder="City">
    </mat-form-field>
    <mat-form-field class="modal_input_50">
      <input matInput formControlName="state" placeholder="State">
    </mat-form-field>

    </div>
    <div fxLayout="row">
      <mat-form-field class="modal_input_50">
        <input matInput formControlName="pincode" placeholder="Pincode">
      </mat-form-field>
    <mat-form-field class="modal_input_50">
      <input matInput formControlName="GST" placeholder="GSTIN">
    </mat-form-field>

    </div>
      <button type="button" class="primarybtn btn1" (click)="addstores()"></button>
  </form>
  </div>

</ngx-smart-modal>
