<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>Retailers</h2>
      </div>

      <div class="top-search">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <input #filter placeholder="Search">
          <mat-icon>search</mat-icon>
        </div>
        <!-- <button mat-raised-button class="cta-button" color="accent" [routerLink]="'/apps/catalogue/list'">View Catalogue</button> -->
      </div>
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content content-wrapper">

    <!-- SIDEBAR -->
    <!-- <fuse-sidebar class="sidebar" name="simple-left-sidebar-4" position="left" lockedOpen="gt-md"> -->

      <!-- SIDEBAR CONTENT -->
      <!-- <div class="content" fusePerfectScrollbar>
        <app-sidebar></app-sidebar>
      </div> -->
      <!-- / SIDEBAR CONTENT -->

    <!-- </fuse-sidebar> -->
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content-section">
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="price-table style-1 mat-elevation-z4" fxLayout="column" *ngFor="let retailers of allRetailers">
            <div class="price">
              <div class="retailer-store" fxLayoutAlign="end center">
                <div class="store-badge">{{retailers.retailer_data[0].number_ops_stores}} Stores</div>
              </div>
              <div class="brand-profile" (click)="gotoretailer(retailers.retailer_data[0])" >
                <img [src]="retailers.retailer_data[0].logo">
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="terms" fxLayout="column" fxLayoutAlign="center center">
              <div class="term">
                <span class="text-bold text-uppercase">{{retailers.retailer_data[0].retailer_name}}</span>
              </div>
            </div>
            <!-- <div class="retailer-details" fxLayout="row" fxLayoutAlign="center center">
                <div class="border-right pr-4">
                    <mat-icon>link</mat-icon>
                </div>
                <div *ngFor="let segment of retailers.data"><p style="margin-left:5px;"> <a [routerLink]="'/apps/profile/'+segment._id" style="font-size:14px;">{{segment.brand_name}} </a></p> </div>
            </div> -->

          </div>

        </div>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

  </div>
  <!-- / CONTENT -->

</div>
