<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout" fusePerfectScrollbar>

  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>Terms Of Trade <ng-container> between </ng-container>
          <ng-container *ngIf="connections.data.connectionInitiatedBrandId && connections.data.connectionInitiatedBrandId !== 'null'"> {{connections.data.connectionInitiatedBrandId.brand_name}} </ng-container>
          <ng-container *ngIf="connections.data.connectionInitiatedDistributorId && connections.data.connectionInitiatedDistributorId !== 'null'">, {{connections.data.connectionInitiatedDistributorId.distributor_name}} </ng-container>
          <ng-container *ngIf="connections.data.connectionInitiatedRetailerId && connections.data.connectionInitiatedRetailerId !== 'null'">, {{connections.data.connectionInitiatedRetailerId.retailer_name}} </ng-container>
          <ng-container *ngIf="connections.data.deliveryLocationId && connections.data.deliveryLocationId !== 'null'">For {{connections.data.deliveryLocationId.name}} </ng-container>
         </h2>
         <!-- <h2>Terms Of Trade <ng-container> between </ng-container> {{connections.data.connectionInitiatedBrandId.brand_name}} and {{connections.data.connectionInitiatedRetailerId.retailer_name}} for {{connections.data.deliveryLocationId.name}}  </h2> -->
      </div>
    </div>

  </div>

  <div fxLayout="row wrap">
    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="30" *ngFor="let x of connections.data.marginTerms;let j=index">
      <mat-card style="margin:10px">
        <div fxLayout="row" fxLayoutAlign="space-between start">
          <div class="serial">{{j}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Between</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
            <ng-container *ngIf="x.type == 'BR'">Brand and Retailer</ng-container>
            <ng-container *ngIf="x.type == 'BD'">Brand and Distributor</ng-container>
            <ng-container *ngIf="x.type == 'DR'">Distributor and Retailer</ng-container>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Department</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.department}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Segment</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.segment}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Business Model</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.businessModel}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Payment Terms</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.paymentTerms}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Credit Period</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.creditPeriod}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Stock Correction</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.stockCorrection}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Stock Correction Value</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.stockCorrectionValue}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Percentage Charge Type</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.percentageType}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Percentage Term</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{x.percentageTerms}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">Dispatch Location</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
            <ng-container *ngIf="x.type == 'BR' || x.type == 'BD'">{{getdispatchwarehouseBrand(x.dispatchLocation)}}</ng-container>
            <ng-container *ngIf="x.type == 'DR'">{{getdispatchwarehouseDistributor(x.dispatchLocation)}}</ng-container>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="100">Discount Range Vs Margin</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" *ngFor = "let margin of x.margin" style="max-height:100px;overflow-y:auto">
          <div class="label" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{margin.minDiscount}} to {{margin.maxDiscount}}</div>
          <div class="value" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">{{margin.marginValue}}</div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
         <h2>Terms Of Trade <ng-container> between </ng-container>{{connections.data.connectionInitiatedRetailerId.retailer_name}} and {{connections.data.connectionInitiatedBrandId.brand_name}}  </h2>
      </div>
    </div>

  </div>

  <div class="inventory" style="margin: 0 25px;width:96%">

    <div fxLayout="row" style="margin: 10px 0px">
      <span style="font-size:16px;margin-right:80%;margin-left:20px">Terms of Trade</span>
    </div>
    <table class="inventory_tab">
    <tr class="tab_header_bg">
      <th>#</th>
      <th style="width:120px">Department</th>
      <th style="width:120px">Segment</th>
      <th style="width:120px">Margin</th>
      <th style="width:120px">Business Model</th>
      <th style="width:120px">Payment Terms</th>
      <th style="width:120px">Credit Period</th>
      <th style="width:120px">Stock Correction</th>
      <th style="width:120px">Percentage Type</th>
      <th style="width:120px">Percentage Terms</th>
      <th style="width:120px">Stock Correction Value</th>
    </tr>
      <ng-container fxLayout="row" class="inventory_table" style="overflow-x:scroll;padding:0 20px;" *ngFor="let marginterm of connections.data.marginTerms;let i = index" >
        <ng-container fxLayout="column"  style="width: 100%;">
          <tr>
            <td>{{i+1}}</td>
            <td>
              {{marginterm.department}}
            </td>
            <td>
                {{marginterm.segment}}
              </td>
            <td>
                {{marginterm.margin}}
            </td>
          <td>
            {{marginterm.businessModel}}
          </td>
          <td>
            {{marginterm.paymentTerms}}
          </td>
          <td>
            {{marginterm.creditPeriod}}
          </td>
          <td>
            <ng-container *ngIf="!marginterm.stockCorrection || marginterm.stockCorrection == 'null'">Nil</ng-container>
            <ng-container *ngIf="marginterm.stockCorrection && marginterm.stockCorrection !== 'null'">{{marginterm.stockCorrection}}</ng-container>
          </td>
          <td>
            <ng-container *ngIf="!marginterm.percentageType">Nil</ng-container>
            <ng-container *ngIf="marginterm.percentageType">{{marginterm.percentageType}}</ng-container>
          </td>
          <td>
            <ng-container *ngIf="!marginterm.percentageTerms">Nil</ng-container>
            <ng-container *ngIf="marginterm.percentageTerms">{{marginterm.percentageTerms}}</ng-container>
          </td>
          <td >
            {{marginterm.stockCorrectionValue}}
          </td>

      </tr>
      </ng-container>
      </ng-container>
    </table>

    <div fxLayout="row" style="margin: 30px  0px 0px;">
      <span style="font-size:16px;margin-right:28%;margin-left:20px">Delivery - Dispatch Terms</span>
    </div>

    <table class="inventory_tab" style="width:50%">
    <tr class="tab_header_bg">
      <th style="width:120px">#</th>
      <th style="width:120px"> Delivery Location Type </th>
      <th style="width:120px">Delivery</th>
      <th style="width:120px">Dispatch</th>
    </tr>
      <ng-container fxLayout="row" class="inventory_table" style="overflow-x:scroll;padding:0 20px;" *ngFor="let dispatchterm of connections.data.dispatchTerms; let y = index;" >
        <ng-container fxLayout="column"  style="width: 30%;">
          <tr>
            <td style="width:40px">{{y + 1}}</td>
            <td>
              <ng-container *ngIf="dispatchterm.deliveryType == 'store'">Store</ng-container>
              <ng-container *ngIf="dispatchterm.deliveryType == 'warehouse'">Warehouse</ng-container>
            </td>
            <td>
              <ng-container>{{getretailerwarehouse(dispatchterm.deliveryLocationId)}}</ng-container>
            </td>

            <td>
              {{getdispatchwarehouse(dispatchterm.dispatchWarehouseId)}}

              </td>
            </tr>
      </ng-container>
      </ng-container>
    </table>

  </div> -->

</div>
