<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">

  <!-- HEADER -->
  <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2>iK-Venue Dashboard</h2>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button  matTooltip="Add Retailer" style="margin:0 10px" (click)="addRetailer.open()"><mat-icon style="font-size:19px">library_add</mat-icon> Retailer</button>
        <button mat-raised-button matTooltip="Add Distributor" style="margin:0 10px" (click)="addDistributor.open()"><mat-icon style="font-size:19px">library_add</mat-icon> Distributor</button>
        <button mat-raised-button matTooltip="Cart Report" style="margin:0 10px" (click)="redirectToCartReport()"> <mat-icon style="font-size:19px">insert_chart_outlined</mat-icon>Cart Report</button>
      </div>
    </div>
  </div>
  <div class="content" style="overflow:auto">
    <div fxLayout="row" fxFlex="100%">
      <div fxLayout="column" fxFlex="20%">
        <div class="retailerContainer"  fxLayoutAlign="start start">
          <div fxFlex="row" *ngIf="venueUsers">
            <div class="Card" [ngClass]="{'activeCard':selectedvenueUserId == user._id }" style="margin:0px 0px 5px 0px" *ngFor="let user of venueUsers" (click)="showCartOfUser(user._id);selectedvenueUserType=user.account_type">
              <div fxLayout="column" fxFlex="92%" fxLayoutAlign="center start" style="padding:10px">
                <div class="comPanyName">{{user.company_name}} <span style="float:right;font-weight:400;">{{user.password}} </span></div>
                <div class="userName">Name: {{user.name}} </div>
                <div class="userMobile">Contact: {{user.mobile}} </div>
                <div class="userEmail">Email : {{user.email}} </div>
              </div>
              <div fxLayout="column" fxFlex="8%" fxLayoutAlign="center start">
                <div *ngIf="user.status == 0" class="retailerStatus" style="background:grey" ></div>
                <div *ngIf="user.status == 1" class="retailerStatus" style="background:green" ></div>
                <div *ngIf="user.status == 2" class="retailerStatus">
                  <mat-icon  style="font-size:18px">check_circle_outline</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="80%">
        <div class="page-layout simple right-sidebar inner-sidebar inner-scroll custom-layout ordergrp">
          <div class="content content-wrapper">
            <div class="center" fusePerfectScrollbar>
              <div class="order-details p-24" fxLayout="row wrap">

                <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
                  <button *ngIf="selectedvenueUserType === 'Distributor' && cartdetails.length > 0 " (click)="getConsildatedCartData()">Consolidated Cart</button>
                  <form *ngIf="consolidatedCartView == false">
                    <mat-accordion class="mb-20" *ngFor="let brand of cartdetails;let ix=index" style="margin-top:20px;">
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size:18px;font-weight:600">
                            {{brand.data[0].data[0].data[0].catalogue.brandname}} ({{brand.data[0].data[0].data[0].catalogue.vendorname}})
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                      <div fxLayout="row" style="margin-bottom:10px;">
                        <button *ngIf="brand.data[0].data[0].data[0].is_freezed_by_user" (click)="unfreezeBrandCart(brand._id.brand_id)">Unfreeze</button>
                        <button *ngIf="brand.data[0].data[0].data[0].is_freezed_by_user" (click)="pinVerification.open();modaldata = brand._id.brand_id">Edit Cart</button>
                        <button *ngIf="brand.data[0].data[0].data[0].pin_verified" (click)="approveOrder(brand._id.brand_id)">Approve Order</button>
                      </div>
                      <div class="order-image" fxLayout="column">
                        <div class="content" fxLayout="column">
                          <div>
                            <ng-container>
                          <div class="cart-item-view" fxLayout="row wrap" *ngFor="let style of brand.data;let iy=index">
                            <div>
                            <!-- <div class="multi-image" fxFlex="15" fxLayoutAlign="center center">
                              <div class="image-box">
                               <img src="{{style.data[0].data[0].catalogue.catalogue_imgs[0]}}" (click)="redirecttoproduct(style.data[0].data[0].catalogue.brandname,style._id.style_code)">
                              </div>
                            </div> -->
                            <div class="single-product-details" fxFlex="100">
                              <div class="product-name-type" fxLayout="row wrap">
                                <div fxLayout="column" fxFlex="40">
                                   <div style="font-size:16px;color:grey">{{style._id.style_code}}</div>
                                   <div style="font-size:18px;color:black">{{style.data[0].data[0].catalogue.category}}</div>
                                </div>
                                <div fxLayout="column" fxFlex="30">
                                  <div style="font-size:16px;color:black;margin-top:7px">{{style.data[0].data[0].catalogue.brandname}}</div>
                                </div>
                                <div fxLayout="column" fxFlex="30">
                                   <div style="font-size:16px;color:black;margin:7px 10px 0 0;text-align:right"><span>MRP: </span>&#x20B9;{{style.data[0].data[0].catalogue.MRP}}</div>
                                </div>
                                <!-- <div fxLayout="column" fxFlex="10">
                                  <mat-icon class="delete-item" (click)="deleteItem(style._id.style_code, style._id.brand_id)">delete</mat-icon>
                                </div> -->
                              </div>
                          <div fxLayout="row">
                            <table fxFlex="100" cellspacing="0">
                                <tr style="height:45px">
                                  <th style="min-width:50px"></th>
                                  <th style="min-width:50px">Color</th>
                                  <!-- <th width="8%">Grade</th> -->
                                  <th style="min-width:50px" *ngFor="let size of sizedata(style.data[0].data) ; let i = index;" style="padding-right: 15px;">{{size.catalogue.Size_Code}}</th>
                                  <th style="min-width:50px"></th>
                                  <th style="min-width:50px">Sets</th>
                                </tr>
                                <tr style="height:45px" *ngFor="let color of style.data ;let i = index;">

                                  <td>
                                    <div class="Product_Color" [style.background]="color.data[0].color_code"></div>
                                  </td>
                                   <td>{{color.colorNames}}</td>
                                   <!-- <td>{{color.data[0].grade}}</td> -->
                                   <td *ngFor ="let products of sizedata(color.data);let iz=index">
                                    <div>
                                        <input [readonly]="!color.data[0].pin_verified" type="number" pattern="[0-9]+" #tab class="number-input" style="width:100%"  value="{{products.input_qty}}" (change)="getinventory(products.catalogue.Size_Code,products.catalogue.Color_code[0],products.style_code,i,ix,iy,iz,color.data);" id="{{'b'+i+ix+iy+iz}}" placeholder="0">
                                    </div>
                                  </td>
                                  <td>x</td>
                                  <td>
                                    <div>
                                        <input [readonly]="!color.data[0].pin_verified" type="number" pattern="[0-9]+" #tab class="number-input" style="width:100%"  value="{{color.data[0].no_of_sets}}" (change)="updateSetsCount(color.data[0].brand_id,color.data[0].color_code,color.data[0].style_code,$event);" placeholder="0">
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <table fxFlex="30" *ngIf="costdetails.length > 0">
                                  <tr style="height:45px">
                                    <!-- <th width="4%">Cost</th> -->
                                    <th width="5%">Qty</th>
                                    <th width="6%">Total</th>
                                    <th width="6%">Action</th>
                                  </tr>
                                  <tr style="height:45px" *ngFor="let brand of costdetails[ix].data[iy].data">
                                     <!-- <td>
                                       {{returncost(brand) | number:'1.2-2'}}
                                    </td> -->
                                    <td >
                                      {{returnqty(brand)}}
                                    </td>
                                    <td >
                                    {{returnamt(brand) | number:'1.2-2'}}
                                    </td>
                                    <td >
                                      <mat-icon *ngIf="brand.data[0].pin_verified === true" (click)="deleteParticularItem(style._id.style_code, brand.data[0].color_code, style._id.brand_id)">delete</mat-icon>
                                      <mat-icon *ngIf="brand.data[0].pin_verified === false" class="delete-icon-cart">delete</mat-icon>
                                    </td>
                                  </tr>
                                </table>

                            </div>
                            </div>
                            </div>
                          </div>
                          </ng-container>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  </form>
                  <form *ngIf="consolidatedCartView == true">
                    <mat-accordion class="mb-20" *ngFor="let brand of cartdetails;let ix=index" style="margin-top:20px;">
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size:18px;font-weight:600">
                            {{brand.data[0].data[0].data[0].data[0].catalogue.brandname}} ({{brand.data[0].data[0].data[0].data[0].catalogue.vendorname}})
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                      <!-- <div fxLayout="row" style="margin-bottom:10px;">
                        <button *ngIf="brand.data[0].data[0].data[0].is_freezed_by_user" (click)="unfreezeBrandCart(brand._id.brand_id)">Unfreeze</button>
                        <button *ngIf="brand.data[0].data[0].data[0].is_freezed_by_user" (click)="pinVerification.open();modaldata = brand._id.brand_id">Edit Cart</button>
                        <button *ngIf="brand.data[0].data[0].data[0].pin_verified" (click)="approveOrder(brand._id.brand_id)">Approve Order</button>
                      </div> -->
                      <div class="order-image" fxLayout="column">
                        <div class="content" fxLayout="column">
                          <div>
                            <ng-container>
                          <div class="cart-item-view" fxLayout="row wrap" *ngFor="let style of brand.data;let iy=index">
                            <div>

                            <div class="single-product-details" fxFlex="100">
                              <div class="product-name-type" fxLayout="row wrap">
                                <div fxLayout="column" fxFlex="40">
                                   <div style="font-size:16px;color:grey">{{style._id.style_code}}</div>
                                   <div style="font-size:18px;color:black">{{style.data[0].data[0].data[0].catalogue.category}}</div>
                                </div>
                                <div fxLayout="column" fxFlex="30">
                                  <div style="font-size:16px;color:black;margin-top:7px">{{style.data[0].data[0].data[0].catalogue.brandname}}</div>
                                </div>
                                <div fxLayout="column" fxFlex="30">
                                   <div style="font-size:16px;color:black;margin:7px 10px 0 0;text-align:right"><span>MRP: </span>&#x20B9;{{style.data[0].data[0].data[0].catalogue.MRP}}</div>
                                </div>

                              </div>
                          <div fxLayout="row">
                            <table fxFlex="100" cellspacing="0">
                                <tr style="height:45px">
                                  <th width="1%"></th>
                                  <th width="8%">Color</th>
                                  <th width="12%" *ngFor="let size of style.data[0].data ; let i = index;" style="padding-right: 15px;">{{size.sizeCode}}</th>
                                  <th width="8%">Qty</th>
                                  <th width="8%">Total</th>
                                </tr>
                                <tr style="height:45px" *ngFor="let color of style.data ;let i = index;">

                                  <td>
                                    <div class="Product_Color" [style.background]="color.data[0].colorCodeBySize"></div>
                                  </td>
                                   <td>{{color.data[0].colorNameBySize}}</td>

                                   <td *ngFor ="let products of color.data;let iz=index">
                                    <div>
                                        <input [readonly]="true" type="number" pattern="[0-9]+" #tab class="number-input" style="width:100%"  value="{{products.quantityBySize}}" placeholder="0">
                                    </div>
                                  </td>
                                  <td >
                                    {{color.totalquantity}}
                                  </td>
                                  <td >
                                  {{color.totalAmount | number:'1.2-2'}}
                                  </td>

                                </tr>
                              </table>
                              <!-- <table fxFlex="30" *ngIf="costdetails.length > 0">
                                  <tr style="height:45px">

                                    <th width="5%">Qty</th>
                                    <th width="6%">Total</th>
                                    <th width="6%">Action</th>
                                  </tr>
                                  <tr style="height:45px" *ngFor="let brand of costdetails[ix].data[iy].data">

                                    <td >
                                      {{returnqty(brand)}}
                                    </td>
                                    <td >
                                    {{returnamt(brand) | number:'1.2-2'}}
                                    </td>
                                    <td >
                                      <mat-icon *ngIf="brand.data[0].pin_verified === true" (click)="deleteParticularItem(style._id.style_code, brand.data[0].color_code, style._id.brand_id)">delete</mat-icon>
                                      <mat-icon *ngIf="brand.data[0].pin_verified === false" class="delete-icon-cart">delete</mat-icon>
                                    </td>
                                  </tr>
                                </table> -->

                            </div>
                            </div>
                            </div>
                          </div>
                          </ng-container>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  </form>
                </div>

              </div>
              <div class="order-details p-24" fxLayout="row wrap" *ngIf="this.cartdetails.length == 0">
                <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
                  <mat-icon>shopping_cart</mat-icon>
                  <h2>No Item In This Cart</h2>
                  <!-- <a class="link" [routerLink]="'/apps/shop/by-brands'">Go to Shop</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #addRetailer identifier="addRetailer">
  <div class="modal_container">
    <div class="modal_tile">Add Retailer</div>
    <form [formGroup]="distributorForm">
    <div fxLayout="row wrap">
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Company Name" formControlName="company_name">
      </mat-form-field>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Retail Chain Name" formControlName="retailer_name">
      </mat-form-field>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
      <div fxLayout="row" fxFlex="100%">
        <mat-form-field class="modal_input_50" >
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field class="modal_input_50">
          <mat-label>States</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.value">{{state.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="PINCODE" formControlName="pincode">
      </mat-form-field>
      <div fxLayout="row" fxFlex="100">
        <mat-form-field class="modal_input_50">
          <input matInput placeholder="Phone" formControlName="mobile">
        </mat-form-field>
        <mat-form-field class="modal_input_50">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <table class="inventory_tab">
        <tr class="tab_header_bg">
          <!-- <th class="Table_title" style="text-align:center;width:30px">#</th> -->
          <th class="Table_title" style="text-align:center;width:160px">Brand Name</th>
          <th class="Table_title" style="text-align:center;width:160px">Sale Terms</th>
        </tr>
        <ng-container formArrayName="connectionterms" *ngFor="let item of formValue;let i = index">
          <tr [formGroupName]="i">
              <!-- <td class="Table_title" *ngIf="brands[i]"><mat-checkbox formControlName="brand_id" (change)=""></mat-checkbox></td> -->
              <td class="Table_title">
                <mat-form-field class="modal_input_100" >
                  <mat-label>Brand</mat-label>
                  <mat-select formControlName="brand_id" disabled="true">
                    <mat-option *ngFor="let brand of brands"  [value]="brand._id">{{brand.brand_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="Table_title">
                <div style="width:100%">
                <mat-form-field class="modal_input_100" >
                  <mat-label>Connected With</mat-label>
                  <mat-select formControlName="distributor_id">
                    <mat-option value="Not Connected">No Access</mat-option>
                    <mat-option [value]="brands[i]._id">Directly Connected with {{brands[i].brand_name}}</mat-option>
                    <mat-option *ngFor="let distributor of distributors" [value]="distributor._id">{{distributor.company_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
              </td>
          </tr>
        </ng-container>
      </table>
    </div>
      <button type="button" class="tabbuttons primary" (click)="addRetailers()">Add Retailer</button>
    </form>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #addDistributor identifier="addDistributor">
  <div class="modal_container">
    <div class="modal_tile">Add Distributor</div>
    <form [formGroup]="distributorForm">
    <div fxLayout="row wrap">
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Company Name" formControlName="company_name">
      </mat-form-field>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
      <div fxLayout="row" fxFlex="100%">
        <mat-form-field class="modal_input_50" >
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field class="modal_input_50" >
          <mat-label>States</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.value">{{state.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="PINCODE" formControlName="pincode">
      </mat-form-field>
      <div fxLayout="row" fxFlex="100">
        <mat-form-field class="modal_input_50">
          <input matInput placeholder="Phone" formControlName="mobile">
        </mat-form-field>
        <mat-form-field class="modal_input_50">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <mat-form-field class="modal_input_100" >
        <input matInput placeholder="Intrakraft Email" formControlName="intrakraft_email">
      </mat-form-field>
      <table class="inventory_tab">
        <tr class="tab_header_bg">
          <th class="Table_title" style="text-align:center;width:160px">Brand Name</th>
          <th class="Table_title" style="text-align:center;width:160px">Sale Term</th>
        </tr>
        <ng-container formArrayName="connectionterms" *ngFor="let item of formValue;let i = index">
          <tr [formGroupName]="i">
              <td class="Table_title">
                <mat-form-field class="modal_input_100" >
                  <mat-label>Brand</mat-label>
                  <mat-select formControlName="brand_id" disabled="true">
                    <mat-option *ngFor="let brand of brands"  [value]="brand._id">{{brand.brand_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="Table_title">
                <div style="width:100%">
                <mat-form-field class="modal_input_100" >
                  <mat-label>Connected With</mat-label>
                  <mat-select formControlName="distributor_id">
                    <mat-option value="Not Connected">No Access</mat-option>
                    <mat-option [value]="brands[i]._id">Directly Connected with {{brands[i].brand_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
              </td>
          </tr>
        </ng-container>
      </table>
    </div>
      <button type="button" class="tabbuttons primary" style="margin-top:20px;float:right" mat-raised-button (click)="addDistributors()">Add Distributor</button>
    </form>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #pinVerification identifier="pinVerification">
  <div class="modal_container">
    <div class="modal_tile">Enter PIN</div>
    <div fxLayout="row wrap">
      <mat-form-field class="modal_input_100" >
        <input matInput [(ngModel)]="pinForVefication" placeholder="PIN">
      </mat-form-field>
    </div>
      <button type="button" class="tabbuttons primary" style="margin-top:20px;float:right" mat-raised-button (click)="verifyPinAction()">Verify PIN</button>
  </div>
</ngx-smart-modal>
