@import "src/@fuse/scss/fuse";
.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }


        .top-search {

            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }

            button {
                border-radius: 0 50px 50px 0;
                font-weight: normal;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }

    }
    //// For cart
    .order-details {

        .devider {
          border-top: 1px solid rgba(0, 0, 0, 0.12);
        }

        .order-image {

          .content {
            // background-color: #ffffff;

            .cart-item-view {

                background: #fff;
                margin-bottom: 20px;
                box-shadow: 0px 2px 10px 0px #969696;

              .multi-image {
                border-right: 1px solid whitesmoke;

                .image-box {
                  width: 100%;
                  padding: 10px;
                  cursor: pointer;
                  text-align: center;

                  img {

                  }

                  .delete-icon {
                      margin-top: 15px;
                  }
                }

              }
              .single-product-details {
                text-align: left;
                padding: 10px;

                .product-name-type {
                    h3 {
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 10px;

                        span {
                            padding-right: 15px;
                        }
                    }
                }

                table {
                    width: 100%;
                    border: 1px solid #f5f6fb;
                    border-collapse: collapse;
                    tr {
                        border-top: 1px solid #e8e8e8;
                        border-bottom: 1px solid #e8e8e8;
                        line-height: 28px;
                        th{
                          text-align: center;
                          background: #f5f6fb;
                        }
                        td {
                            padding: 2px;
                            text-align: center;
                            .color-ball {
                                height: 25px;
                                width: 25px;
                                border-radius: 100%;
                                border: 1px solid #d4d4d4;
                                cursor: pointer;
                            }
                            .red{
                            background-color: red;
                            }
                        }
                    }
                }
              }

            }

          }

          .number-input {
            padding: 0;
            width: 40px;
            border-top:0;
            border-left:0;
            border-right:0;
            border-bottom:1px solid #cacaca;
            -webkit-appearance: none;
            appearance: none;
            padding: 3px 5px;
            text-align: center;
          }

        }

        .order-info {
          padding-left: 25px;

          .content {
            background-color: #ffffff;

            .product-details {
              padding: 0;

              .product-info {

                h2 {
                    font-size: 18px;
                    padding: 10px;
                    margin: 0;
                }
                h3 {
                  margin: 0;
                }
              }

              .placeorder {
                width: 100%;
                padding: 3px 40px;
                margin-top: 15px;
              }

            }

          }

        }


        .mt-25 {
            margin-top: 25px;
        }

        .order-action {
            background: #ffffff;
            padding: 15px 15px;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 2px #d8d8d8;
            width: 100%;

            .bottom-section {
                width: 100%;

                .selectDate {
                  width: 35%;
                  margin: 0 auto;
                }

                .buttons {
                      float:right;
                    button {
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        line-height: 20px;
                        border-radius: 50px;
                        padding: 10px 10px;
                        box-shadow: 0px 1px 10px 1px #d8d8d8;
                        cursor: pointer;

                        img {
                            padding-right: 5px;
                        }
                    }
                    .mr-15 {
                        margin-right: 15px;
                    }
                    .blue {
                        background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
                    }
                }
            }

        }



      }

  }

.retailerContainer{
    width: 100%;
    background: #192c61;
}
.retailerName{
  font-size: 14px;
  font-weight: 500;
  padding: 5px 5px;
}
.retailerStatus{
  width:15px;height:15px;
  border-radius:20px;
}
.inactiveCard{
  background:#f5f5f5 !important;
  box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 1px 3px 0px rgba(0, 0, 0, 0) !important;
}
.Card{
  color: white;
  border-bottom: 1px dotted #2c3a5d;
  // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

}

/// for cart
.ordergrp button{
  width: 100%;
  border-radius: 30px;
  margin-right: 10px;
}
.cartlogo{
  height: 30px;
 margin-left: 20px;
}
.cartlogo1{
  height: 30px;
}
.brandname{
  margin-left:10px;
  padding-top:5px;
  font-size:16px;
  font-weight: 600;
}
.order_summary{
  width: 100%;
  box-shadow: 0px 2px 6px 0px #d6d6d6;
  padding-left: 15px;
  padding-top: 3px;
}
.order_summary th{
  text-align: left;
  padding-left: 2px;
}
.summarytitle{
  height: 10px;
}
.total_order_summary{
  background: white;
  box-shadow: 0px 2px 6px 0px #d6d6d6;
  margin-top:20px;
  height: 40px;
}
.TOS_title{
  font-size:18px;
}
.tostable{
height: 49px;
background: white;
margin-top: 10px;
width: 100%;
box-shadow: 0px 2px 6px 0px #d6d6d6;
padding-left: 15px;
padding-top: 3px;
}

.summary-total {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0px 2px 6px 0px #d6d6d6;
  padding: 0 15px;
  border-radius: 4px;
  p {
    font-size: 16px;
    font-weight: 600;
  }
}
.placeorder-button {
  background-image: linear-gradient(to right, #a3a3a3, #bfbfbf) !important;
color: #5d5d5d !important;
width: 100% !important;
margin-top: 20px;
margin-left: 22px;
}
.disabledbtn{
      background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
      color: white !important;
}
.Product_Color{
  height: 15px;
  width: 14px;
  margin-left: 10px;
  margin-top:6px;
  border-radius: 20px;
  box-shadow: 0px 2px 6px 0px #d6d6d6;
}

.delete-item {
  position: relative;
  left: 10px;
  cursor: pointer;
}
.mb-20{
  margin-bottom: 20px;
}

.item-total-amount{
  width: 100%;
  padding: 10px;
  text-align: right;
  font-weight: bold;
}

.select-box {

  width: 300px;
  padding-right: 15px;

  select {
    width: 100%;
    border-radius: 22px;
    box-shadow: 0px 2px 5px 0px #b1b1b1;
    height: 36px;
    padding: 0 15px;
  }

}
.ordergrp button{
    height: 40px;
    width: 100%;
    max-width: 150px;
    border-radius: 30px;
    margin-right: 10px;
  }
  .cartlogo{
    height: 30px;
   margin-left: 20px;
  }
  .cartlogo1{
    height: 30px;
  }
  .brandname{
    margin-left:10px;
    padding-top:5px;
    font-size:16px;
    font-weight: 600;
  }
//   .order_summary{
//     width: 100%;
//     box-shadow: 0px 2px 6px 0px #d6d6d6;
//     padding-left: 15px;
//     padding-top: 3px;
//   }
  .order_summary th{
    text-align: left;
    padding-left: 2px;
  }
  .summarytitle{
    height: 10px;
  }
  .total_order_summary{
    background: white;
    box-shadow: 0px 2px 6px 0px #d6d6d6;
    margin-top:20px;
    height: 40px;
  }
  .TOS_title{
    font-size:18px;
  }
  .tostable{
  height: 49px;
  background: white;
  margin-top: 10px;
  width: 100%;
  box-shadow: 0px 2px 6px 0px #d6d6d6;
  padding-left: 15px;
  padding-top: 3px;
  }
  .Product_Color{
    height: 15px;
    width: 14px;
    margin-left: 10px;
    margin-top:6px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px 0px #d6d6d6;
  }

  .content-details {
    .modal-header {
        padding: 5px 0;
        text-align: center;
        font-weight: bold;

        h2 {

        }
    }
    .modal-body {
      padding: 20px;
        .order_summary {

            .summary-heading {
                margin-bottom: 10px;
                h2 {
                  font-size: 16px;
                  margin: 0;
                  font-weight: bold;
                  color: #797779;
                }
                a {
                  font-size: 16px;
                  margin: 0;
                  font-weight: bold;
                  text-decoration: none;
                }
            }

            .summary-text {
              margin-bottom: 10px;

              p {
                margin: 0;
                font-size: 14px;
                font-weight: bold;
                color: #A8A6A8;
              }
            }
            .summary-total {
              background: #efefef;
              padding: 10px 5px;
              p {
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                color: #797779;
              }
            }
            .confirm-button{
              background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
              color: white !important;
              padding: 8px 15px;
              margin: 10px 0;
            }
            .bottom-text {
              color: #D5BB8F;
              text-align: center;
            }
        }
    }
  }

.DelLocation{
  min-width: 300px;
  max-width: 450px;
  padding-top: 5px;
  margin-right: 10px;
  position: absolute;
  right: 32%;
  top:0px;

}

.invalid{
  border-bottom: 2px solid red !important;
}

.mat-expansion-panel {
  margin-top:20px !important;
}

.error{
border-bottom: 1px solid red !important;
}

.activeCard {
  background: white !important;
  color: black !important;
  box-shadow: 0px 2px 1px -1px rgb(24, 30, 60), 0px 1px 1px 0px rgb(25, 45, 97), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.comPanyName{
font-size: 16px;
font-weight: 500;
width: 100%

}
.userName{
font-size: 14px;

}
.userMobile{
font-size: 14px;

}
.userEmail{
font-size: 14px;

}

.delete-icon-cart {
    color: grey;
}
