<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout">
      <div class="content content-wrapper">

        <!-- CENTER -->
        <div class="center p-24" fusePerfectScrollbar>

          <!-- CONTENT -->
          <div class="content inner-padding">
            <div fxLayout="row" style="display:inline-block">
            <h2 class="PageHeader">Connections</h2>
            </div>
            <div style="height:2px;background:#cacaca;width:100%"></div>
            <div class="Parent_Container">
              <ul class="tabgroup" style="float:left">
                <li >
                  <button [ngClass]="{'active':activetab1}" (click)="changetoConnected()">Connected</button>
                </li>
                <li>
                  <button [ngClass]="{'active':activetab2}" (click)="changetoPWA()">Pending with Admin</button>
                </li>
                <li>
                  <button [ngClass]="{'active':activetab3}" (click)="changetoIS()">Invite Sent</button>
                </li>
                <li>
                  <button [ngClass]="{'active':activetab4}" (click)="changetoIR()">Invite Recieved</button>
                </li>
              </ul>
              <div class="" *ngIf="status == 0">
                  <app-connected></app-connected>
              </div>
              <div class="" *ngIf="status == 1">
                  <app-pending-with-admin></app-pending-with-admin>
              </div>
              <div class="" *ngIf="status == 2">
                  <app-invite-sent></app-invite-sent>
              </div>
              <div class="" *ngIf="status == 3">
                  <app-invite-recieved></app-invite-recieved>
              </div>
          </div>
          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

      </div>
      <!-- / CONTENT -->

    </div>
