@import "src/@fuse/scss/fuse";

.tab-inner-section {
    padding: 25px 0;

    .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        background: #fff;
        color: rgba(0,0,0,.54);
        @include mat-elevation(1);

        @include media-breakpoint('xs') {
            width: 100%;
        }

        .search {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 18px;

            input {
                width: 100%;
                height: 40px;
                min-height: 40px;
                max-height: 40px;
                padding: 0 16px;
                border: none;
                outline: none;
            }
        }
    }

    @include media-breakpoint('xs') {
        padding: 8px 0;
        height: 160px !important;
        min-height: 160px !important;
        max-height: 160px !important;
    }

    .buttonTab {
        button {
            margin-right: 15px;
        }
    }

    .tableSection {
        padding: 15px 0;

        table {
            width: 100%;
        }
    }

}