<div id="about" style="padding: 24px 24px">
  <div class="container" fxlayout="row">
      <div class="widget" fxFlex="100" fxFlex.gt-sm="40" fxFlex.gt-md="40">
        <div class="card">
            <div class="card_title">Operations Details</div>
            <div fxLayout="row">
              <div  class="operations_card_right">
                <img class="icon_ops" src="./assets/images/calendar.png">
                <div class="center_text"><b>{{data.established_on | date: 'dd/MMM/yyyy'}}</b> <br>Established on</div>
              </div>
              <div  class="operations_card">
                <img class="icon_ops" src="./assets/images/store.png">
                <div class="center_text"><b>{{data.number_ops_stores}}</b> <br> Number of Operational Stores</div>
              </div>
              <div  class="operations_card">
                <img class="icon_ops" src="./assets/images/storesize.png">
                <div class="center_text"><b>{{data.largest_store}}</b><br> Largest Store (sqft) </div>
              </div>
            </div>
        </div>
      </div>
      <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="60" fxFlex.gt-md="60">
        <div class="card">
          <div class="card_title">About the Retailer</div>
            <quill-view [content]="data.about_retailer" class="viewmode" format="text" style="height:200px" ></quill-view>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="20" fxFlex.gt-md="20">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="center center" >
          <img class="icon1" src="./assets/images/headquaters.png">
          </div>
          <div class="center_text1">Headquaters</div>
        </div>
        <div class="card_value">
          <div class="chip">{{data.registered_address}}</div>
          <div class="chip">{{data.registered_city}} , {{data.registered_state}}</div>
          <div class="chip">{{data.registered_pincode}}</div>
          <div class="chip">{{data.registered_mobile}} / {{data.registered_landline}}</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="20" fxFlex.gt-md="20">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="center center" >
          <img class="icon1" src="./assets/images/segment.png" style="height:50px;width:50px">
          </div>
          <div class="center_text1">Top Segments</div>
        </div>
        <div class="card_value">
          <div class="chip" *ngFor="let x of data.top_segments">{{x}}</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="20" fxFlex.gt-md="20">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="center center" >
          <img class="icon1" src="./assets/images/shop.png" style="height:50px;width:50px">
          </div>
          <div class="center_text1">Top 3 Brands</div>
        </div>
        <div class="card_value">
          <div class="chip" *ngFor="let x of data.top_brands">{{x}}</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="20" fxFlex.gt-md="20">
      <div class="card">
        <div class="card_title">
            <div fxLayout="row" fxLayoutAlign="center center" >
          <img class="icon1" src="./assets/images/Top-dept.png">
          </div>
          <div class="center_text1">Top Departments</div>
        </div>
        <div class="card_value">
          <div class="chip" *ngFor="let x of data.top_departments">{{x}}</div>
        </div>
      </div>
    </div>
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="20" fxFlex.gt-md="20">
      <div class="card">
        <div class="card_title">
          <div fxLayout="row" fxLayoutAlign="center center" >
          <img class="icon1" src="./assets/images/Top-Categories.png">
          </div>
          <div class="center_text1">Top Vertical</div>
        </div>
        <div class="card_value">
          <div class="chip" *ngFor="let x of data.top_categories">{{x}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="operation_details" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        <div class="card_value">
          <ul style="list-style: none;display: inline-flex;">
            <li><img src="./assets/images/fb.png" alt="facebook"></li>
            <li><img src="./assets/images/gp.png" alt="Google +"></li>
            <li><img src="./assets/images/insta.png" alt="Instagram"></li>
            <li><img src="./assets/images/linkedin.png" alt="Linkedin"></li>
            <li><img src="./assets/images/tweet.png" alt="Twitter"></li>
            <li><img src="./assets/images/youtube.png" alt="Youtube"></li>
          </ul>
          <!-- <mat-icon *ngIf="viewsocial" (click)="editsocial()" class="icon_class">mode_edit</mat-icon> -->
          <div style="text-align:center">{{data.website_link}}</div>
        </div>
      </div>
    </div>

</div>
