<div class="page-layout simple left-sidebar inner-sidebar inner-scroll custom-layout" *ngIf="linesheetdetails.data.length>0">

      <!-- HEADER -->
      <div class="header white" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="border-bottom">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start start">
            <h2>{{linesheetdetails.data[0].name}}</h2>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" style="padding:10px">
                <mat-slide-toggle (change)="activatelinesheet(linesheetdetails.data[0].publish)" [checked]="linesheetdetails.data[0].publish" ></mat-slide-toggle>
            </div>
          </div>

          <div class="top-search">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input #filter placeholder="Search">
              <mat-icon>search</mat-icon>
            </div>
            <!-- <button mat-raised-button class="cta-button" color="accent" [routerLink]="'/apps/catalogue/upload'">Upload Catalogue</button> -->
          </div>
        </div>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div class="content content-wrapper">

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

          <!-- CONTENT -->
          <div class="content-section">
            <div fxLayout="row">
              <ul class="linesheettableoptions">
                <li><button class="secondarybtn" matBadge="{{columnviscount}}" matBadgePosition="after" matBadgeColor="accent" [ngClass]="{'primarybtn' : columnvis}" (click)="togglecolumnvis()">Column visibility</button></li>
                <li><button class="secondarybtn" [ngClass]="{'primarybtn' : activatefilter}" matBadge="{{fitlercount}}" matBadgePosition="after" matBadgeColor="accent" (click)="togglefilter()">Product Catalogue</button></li>
                <li><button class="secondarybtn" [ngClass]="{'primarybtn' : preview}" matBadge="{{selectedproducts.length}}" matBadgePosition="after" matBadgeColor="accent" (click)="activatepreview()">Edit Linesheet</button></li>
              </ul>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="columnvis" style="border: 1px solid #cacaca;padding: 16px;background: #f0f3ffc7;margin:0px 0px 10px 0px">
              <div fxLayout="row" fxFlex="100">
                <div fxLayout="column" fxFlex="90" fxLayoutAlign="start start">
              <span style="font-size:16px;font-weight:600; margin:15px 0px">Column Visibility</span>
                </div>
                <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center">
                  <mat-icon (click)="togglecolumnvis()">close</mat-icon>
                </div>
              </div>
              <div fxLayout="column" fxFlex="14" fxLayoutAlign="start start" *ngFor="let column of columns">
                <div class="checkboxcontainer">
                  <mat-checkbox [(ngModel)]="column.visibility" (change)="setcolviscount()">{{column.value}}</mat-checkbox>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="activatefilter" style="border: 1px solid #cacaca;padding: 16px;background: #f0f3ffc7;">
              <div fxLayout="row" fxFlex="100">
                <div fxLayout="column" fxFlex="98" fxLayoutAlign="start start">
              <span style="font-size:16px;font-weight:600; margin:15px 0px">Product Selection Filters</span>
                </div>
                <div fxLayout="column" fxFlex="2" fxLayoutAlign="center center">
                  <mat-icon (click)="togglefilter()">close</mat-icon>
                </div>
              </div>
            <ng-container *ngFor="let filter of orderedfilter ; let i =index">
              <div fxLayout="column" fxFlex="20" fxLayoutAlign="start start">

                  <div fxLayout="row" fxFlex="20">
                    <mat-form-field style="width:280px;">
                      <mat-label *ngIf="filter.filtername === 'Size_Code'">Select Size</mat-label>
                      <mat-label *ngIf="filter.filtername === 'Color_code'">Select Colour</mat-label>
                      <mat-label *ngIf="filter.filtername !== 'Size_Code' && filter.filtername !=='Color_code'">Select {{ filter.filtername | titlecase}}</mat-label>
                      <mat-select multiple [(ngModel)]="filtergroup[i]" (selectionChange)="formthebody($event,filter)">
                        <mat-option *ngFor="let value of filter.filters; let j = index;" [value]="value">
                          <!-- {{value._id }} -->
                          <ng-container *ngIf="filter.filtername !== 'Color_code'"> {{value._id }} </ng-container>
                          <ng-container *ngIf="filter.filtername === 'Color_code'"><div style="display:inline-flex"><div [style.background]="value._id" style="height:15px;width:15px;border-radius:10px;margin: 15px"></div> {{value.colorName }} </div></ng-container>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>
              <div fxLayout="row" fxLayoutAlign="center center" fxFlex="99" style="margin: 20px 0px">
                <a (click)="togglefilter()" style="margin:0px 20px">Close</a>
                <button class="primarybtn" style="height: 30px;width: 180px;border-radius: 30px;" (click)="getProducts()">GET PRODUCTS</button>
              </div>
            </div>
            <ng-container *ngIf="!preview">
            <div fxLayout="row"  fxLayoutAlign="center center" *ngIf="linesheetResult.length == 0 && searchfetchcount == 0">
              <p style="font-size: 16px;color: #787a7f;text-align: center;font-style:italic">Select from the filters above to fetch products from your catalogue </p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="linesheetResult.length == 0 && searchfetchcount > 0">
              <p style="font-size: 16px;color: #787a7f;text-align: center;font-style:italic"> No Products Found, Please change your search query and try again </p>
            </div>
            </ng-container>
            <ng-container *ngIf="!preview">
            <div class="" style="max-height:60vh;overflow-y:auto" *ngIf="linesheetResult.length > 0">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="100" class="tab-menu">
                    <div class="inventory">
                        <div class="inventory_table" style="overflow-x:scroll" fxLayout="row">
                          <table class="inventory_tab">
                            <tr class="tab_header_bg">
                              <th style="width:5%"><mat-checkbox (change)="selectAllProducts($event)" [checked]="allchecked"></mat-checkbox></th>
                              <ng-container *ngFor="let column of columns">
                                <th class="Table_title" style="text-align:center" *ngIf="column.visibility">{{column.value}}</th>
                              </ng-container>
                            </tr>
                            <ng-container *ngFor="let products of linesheetResult">
                            <tr *ngFor="let data of products.data;let i = index">
                                  <td><mat-checkbox (change)="selectProduct($event,data,i)" ([ngModel])="checkboxes[i]" [checked]="checkboxes[i]" name="{{data.EAN_code}}"></mat-checkbox></td>
                                  <td class="Table_title" *ngIf="columns[0].visibility">{{data.EAN_code}}</td>
                                  <td class="Table_title" *ngIf="columns[1].visibility">{{data.Style_code}}</td>
                                  <td class="Table_title" *ngIf="columns[2].visibility">{{data.Style_Name}}</td>
                                  <td class="Table_title" *ngIf="columns[3].visibility">{{data.Style_Name}}</td>
                                  <td class="Table_title" *ngIf="columns[4].visibility">{{data.IK_Colour_Name}}</td>
                                  <td class="Table_title" *ngIf="columns[5].visibility">{{data.Size_Code}}</td>
                                  <td class="Table_title" *ngIf="columns[6].visibility">{{data.MRP}}</td>
                                  <td class="Table_title" *ngIf="columns[7].visibility">{{data.season_name}}</td>
                                  <td class="Table_title" *ngIf="columns[8].visibility">{{data.season_code}}</td>
                                  <td class="Table_title" *ngIf="columns[9].visibility">{{data.season_code}}</td>
                                  <td class="Table_title" *ngIf="columns[10].visibility">{{data.segment}}</td>
                                  <td class="Table_title" *ngIf="columns[11].visibility">{{data.portfolio}}</td>
                                  <td class="Table_title" *ngIf="columns[12].visibility">{{data.department}}</td>
                                  <td class="Table_title" *ngIf="columns[13].visibility">{{data.vertical}}</td>
                                  <td class="Table_title" *ngIf="columns[14].visibility">{{data.category}}</td>
                                  <td class="Table_title" *ngIf="columns[15].visibility">{{data.brick}}</td>
                                  <td class="Table_title" *ngIf="columns[16].visibility">{{data.occassion}}</td>
                                  <td class="Table_title" *ngIf="columns[17].visibility">{{data.sleeve}}</td>
                                  <td class="Table_title" *ngIf="columns[18].visibility">{{data.neck}}</td>
                                  <td class="Table_title" *ngIf="columns[19].visibility">{{data.collar}}</td>
                                  <td class="Table_title" *ngIf="columns[20].visibility">{{data.pattern}}</td>
                                  <td class="Table_title" *ngIf="columns[21].visibility">{{data.fabric}}</td>
                                  <td class="Table_title" *ngIf="columns[22].visibility">{{data.fit}}</td>
                                  <td class="Table_title" *ngIf="columns[23].visibility">{{data.material}}</td>
                                  <td class="Table_title" *ngIf="columns[24].visibility">{{data.material}}</td>
                                  <td class="Table_title" *ngIf="columns[25].visibility">{{data.material}}</td>
                                  <td class="Table_title" *ngIf="columns[26].visibility">{{data.material}}</td>
                                  <td class="Table_title" *ngIf="columns[27].visibility">{{data.material}}</td>
                                  <td class="Table_title" *ngIf="columns[28].visibility">{{data.material}}</td>
                                  <td class="Table_title" *ngIf="columns[29].visibility">{{data.closure_type}}</td>
                                  <td class="Table_title" *ngIf="columns[30].visibility">{{data.closure_type}}</td>
                                  <td class="Table_title" *ngIf="columns[31].visibility">{{data.closure_type}}</td>
                                  <td class="Table_title" *ngIf="columns[32].visibility">{{data.closure_type}}</td>
                                  <td class="Table_title" *ngIf="columns[33].visibility">{{data.closure_type}}</td>
                                  <td class="Table_title" *ngIf="columns[34].visibility">{{data.weave}}</td>
                                  <td class="Table_title" *ngIf="columns[35].visibility">{{data.technique}}</td>
                                  <td class="Table_title" *ngIf="columns[36].visibility">{{data.length}}</td>
                                  <td class="Table_title" *ngIf="columns[37].visibility">{{data.hemline}}</td>
                                  <td class="Table_title" *ngIf="columns[38].visibility">{{data.rise}}</td>
                                  <td class="Table_title" *ngIf="columns[39].visibility">{{data.pack_qty}}</td>
                                  <td class="Table_title" *ngIf="columns[40].visibility">{{data.pleat}}</td>
                                  <td class="Table_title" *ngIf="columns[41].visibility">{{data.closure_type}}</td>
                                  <td class="Table_title" *ngIf="columns[42].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[43].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[44].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[45].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[46].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[47].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[48].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[49].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[50].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[51].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[52].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[53].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[54].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[55].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[56].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[57].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[58].visibility">{{data.weather}}</td>
                                  <td class="Table_title" *ngIf="columns[59].visibility">{{data.style_type}}</td>
                                  <td class="Table_title" *ngIf="columns[60].visibility">{{data.style_type}}</td>
                                  <td class="Table_title" *ngIf="columns[61].visibility">{{data.special_feature_1}}</td>
                                  <td class="Table_title" *ngIf="columns[62].visibility">{{data.special_feature_2}}</td>
                                  <td class="Table_title" *ngIf="columns[63].visibility">{{data.special_feature_3}}</td>
                                  <!--
                                  <td class="Table_title">{{data.brick}}</td>
                                  -->
                            </tr>
                            </ng-container>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            </ng-container>

          <ng-container *ngIf="preview">
            <div fxLayout="row" fxLayoutAlign="end center">
              <button (click)="exportAsXLSX()" class="exportBtn">Excel</button>
            </div>
              <div  fxLayout="row" fxLayoutAlign="start center"  style="max-height:60vh;overflow-y:auto" *ngIf="selectedproducts.length > 0 && preview">
                    <div class="tab-menu">
                      <div class="inventory">
                          <div class="inventory_table" style="overflow-x:scroll" fxLayout="row">
                            <table class="inventory_tab">
                              <tr class="tab_header_bg">
                                <th style="width:5%"><mat-icon (click)="deleteallproduct()">delete</mat-icon></th>
                                <ng-container *ngFor="let column of columns">
                                  <th class="Table_title" style="text-align:center" *ngIf="column.visibility">{{column.value}}</th>
                                </ng-container>
                              </tr>
                              <tr *ngFor="let data of selectedproducts;let i = index">
                                    <td><mat-icon (click)="deleteproduct(i)">delete</mat-icon></td>
                                    <td class="Table_title" *ngIf="columns[0].visibility">{{data.EAN_code}}</td>
                                    <td class="Table_title" *ngIf="columns[1].visibility">{{data.Style_code}}</td>
                                    <td class="Table_title" *ngIf="columns[2].visibility">{{data.Style_Name}}</td>
                                    <td class="Table_title" *ngIf="columns[3].visibility">{{data.Style_Name}}</td>
                                    <td class="Table_title" *ngIf="columns[4].visibility">{{data.IK_Colour_Name}}</td>
                                    <td class="Table_title" *ngIf="columns[5].visibility">{{data.Size_Code}}</td>
                                    <td class="Table_title" *ngIf="columns[6].visibility">{{data.MRP}}</td>
                                    <td class="Table_title" *ngIf="columns[7].visibility">{{data.season_name}}</td>
                                    <td class="Table_title" *ngIf="columns[8].visibility">{{data.season_code}}</td>
                                    <td class="Table_title" *ngIf="columns[9].visibility">{{data.season_code}}</td>
                                    <td class="Table_title" *ngIf="columns[10].visibility">{{data.segment}}</td>
                                    <td class="Table_title" *ngIf="columns[11].visibility">{{data.portfolio}}</td>
                                    <td class="Table_title" *ngIf="columns[12].visibility">{{data.department}}</td>
                                    <td class="Table_title" *ngIf="columns[13].visibility">{{data.vertical}}</td>
                                    <td class="Table_title" *ngIf="columns[14].visibility">{{data.category}}</td>
                                    <td class="Table_title" *ngIf="columns[15].visibility">{{data.brick}}</td>
                                    <td class="Table_title" *ngIf="columns[16].visibility">{{data.occassion}}</td>
                                    <td class="Table_title" *ngIf="columns[17].visibility">{{data.sleeve}}</td>
                                    <td class="Table_title" *ngIf="columns[18].visibility">{{data.neck}}</td>
                                    <td class="Table_title" *ngIf="columns[19].visibility">{{data.collar}}</td>
                                    <td class="Table_title" *ngIf="columns[20].visibility">{{data.pattern}}</td>
                                    <td class="Table_title" *ngIf="columns[21].visibility">{{data.fabric}}</td>
                                    <td class="Table_title" *ngIf="columns[22].visibility">{{data.fit}}</td>
                                    <td class="Table_title" *ngIf="columns[23].visibility">{{data.material}}</td>
                                    <td class="Table_title" *ngIf="columns[24].visibility">{{data.material}}</td>
                                    <td class="Table_title" *ngIf="columns[25].visibility">{{data.material}}</td>
                                    <td class="Table_title" *ngIf="columns[26].visibility">{{data.material}}</td>
                                    <td class="Table_title" *ngIf="columns[27].visibility">{{data.material}}</td>
                                    <td class="Table_title" *ngIf="columns[28].visibility">{{data.material}}</td>
                                    <td class="Table_title" *ngIf="columns[29].visibility">{{data.closure_type}}</td>
                                    <td class="Table_title" *ngIf="columns[30].visibility">{{data.closure_type}}</td>
                                    <td class="Table_title" *ngIf="columns[31].visibility">{{data.closure_type}}</td>
                                    <td class="Table_title" *ngIf="columns[32].visibility">{{data.closure_type}}</td>
                                    <td class="Table_title" *ngIf="columns[33].visibility">{{data.closure_type}}</td>
                                    <td class="Table_title" *ngIf="columns[34].visibility">{{data.weave}}</td>
                                    <td class="Table_title" *ngIf="columns[35].visibility">{{data.technique}}</td>
                                    <td class="Table_title" *ngIf="columns[36].visibility">{{data.length}}</td>
                                    <td class="Table_title" *ngIf="columns[37].visibility">{{data.hemline}}</td>
                                    <td class="Table_title" *ngIf="columns[38].visibility">{{data.rise}}</td>
                                    <td class="Table_title" *ngIf="columns[39].visibility">{{data.pack_qty}}</td>
                                    <td class="Table_title" *ngIf="columns[40].visibility">{{data.pleat}}</td>
                                    <td class="Table_title" *ngIf="columns[41].visibility">{{data.closure_type}}</td>
                                    <td class="Table_title" *ngIf="columns[42].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[43].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[44].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[45].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[46].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[47].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[48].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[49].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[50].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[51].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[52].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[53].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[54].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[55].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[56].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[57].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[58].visibility">{{data.weather}}</td>
                                    <td class="Table_title" *ngIf="columns[59].visibility">{{data.style_type}}</td>
                                    <td class="Table_title" *ngIf="columns[60].visibility">{{data.style_type}}</td>
                                    <td class="Table_title" *ngIf="columns[61].visibility">{{data.special_feature_1}}</td>
                                    <td class="Table_title" *ngIf="columns[62].visibility">{{data.special_feature_2}}</td>
                                    <td class="Table_title" *ngIf="columns[63].visibility">{{data.special_feature_3}}</td>
                                    <!--
                                    <td class="Table_title">{{data.brick}}</td>
                                    -->
                              </tr>
                            </table>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-container>
          <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

      </div>
      <!-- / CONTENT -->

    </div>
