@import "src/@fuse/scss/fuse";
#mat-badge-content-0{
  background: #b6048b ;
    color: white;
}
#mat-badge-content-2{
  background: #3eae5f ;
    color: white;
}
#mat-badge-content-1{
  background: #ff9300 ;
    color: white;
}


.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }

        .top-search {

            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }

            button {
                border-radius: 0 50px 50px 0;
                font-weight: normal;
                background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }

    }

    .content-wrapper {

        .top-tabs {
            width: 100%;
            padding: 10px 24px;

            .user-tab-menu {
                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0;

                    li {
                        display: inline-block;
                        // margin-right: 15px;
                        width: 16.26%;

                        button {
                            background: transparent;
                            border: 1px solid #e0e0e0;
                            padding: 15px 10px;
                            cursor: pointer;
                            transition: all 0.3s;
                            width: 100%;
                            box-shadow: 0px 0px 6px 0px #d8d8d8;
                        }
                        &:nth-child(even){
                            margin-right: 15px;
                        }
                        &:nth-child(6) {
                            margin-right: 0 !important;
                        }
                    }
                    .active {
                        button {
                            color: #094cff;
                            border: 1px solid #094cff;
                        }
                    }
                }
            }
        }

        .content-section {
            padding: 10px 24px;

            .table-section {
                background: #ffffff;
                background: #ffffff;
                padding: 15px 15px;
                border-radius: 4px;
                box-shadow: 0px 1px 10px 2px #d8d8d8;

                .tab-menu {

                    ul {
                        padding: 0;
                        list-style: none;
                        margin: 0;

                        li {
                            display: inline-block;
                            margin-right: 15px;

                            button {
                                background: #ffffff;
                                border: 1px solid #9c9c9c;
                                border-radius: 22px;
                                padding: 5px 30px;
                                cursor: pointer;
                                transition: all 0.3s;
                            }
                        }
                        .active {
                            button {
                                background: #094cff;
                                color: #ffffff;
                                border: 1px solid #094cff;
                            }
                        }
                    }
                }

            }

            .tab-content {

                .option-select {
                    padding: 15px 0;
                    .radio-button {
                        display: inline-block;
                        padding: 5px 0;
                        min-width: 100px;

                        [type="radio"]:checked,
                        [type="radio"]:not(:checked) {
                            position: absolute;
                            left: -9999px;
                        }
                        [type="radio"]:checked + label,
                        [type="radio"]:not(:checked) + label {
                            position: relative;
                            padding-left: 28px;
                            cursor: pointer;
                            line-height: 20px;
                            display: inline-block;
                            color: #000000;
                            font-size: 15px;
                        }
                        [type="radio"]:checked + label:before,
                        [type="radio"]:not(:checked) + label:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 18px;
                            height: 18px;
                            border: 1px solid #000000;
                            border-radius: 100%;
                            background: #fff;
                        }
                        [type="radio"]:checked + label:after,
                        [type="radio"]:not(:checked) + label:after {
                            content: '';
                            width: 12px;
                            height: 12px;
                            background: #094cff;
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            border-radius: 100%;
                            -webkit-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                        }
                        [type="radio"]:not(:checked) + label:after {
                            opacity: 0;
                            -webkit-transform: scale(0);
                            transform: scale(0);
                        }
                        [type="radio"]:checked + label:after {
                            opacity: 1;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                        }
                    }
                }

            }
        }

    }

}



.inventory {
  background: white;
  margin-top: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Table_title {
  // width: 170px;
  text-align: left !important;
  padding:0px 15px;
  width: 15%;
  height: 35px;
}

.Table_size {
  // width: 30px;
  text-align: center;
}

.table_color {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
}

.inventory_tab td {
  height: 40px;
  text-align: center;
}

.inventory_tab th {
  height: 40px;
  text-align: center;
}

.inventory_table {
  width: 100%;
}

.inventory_tab {
  width: 100%;
  border: 1px solid #eaeaea
}

.tab_header_bg {
  background: #ecefff;
  font-size: 16px;
}

.inventory_tab tr:nth-child(even) {
  background-color: #fafbff;
}

.inventory_header {
  position: absolute;
  left: 77px;
  font-weight: 600;
  font-size: 18px;
}
.checkboxcontainer{
  width: 180px;
}
.linesheettableoptions{
  list-style-type: none;
  display: inline-flex;
  padding: 0px;
}
.secondarybtn{
  width: 180px;
  height: 38px;
  border-radius: 5px;
  margin-right: 10px;
}
.secondarybtn:hover {
  background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
  color: white !important;

}
