@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    > .nav {
        margin: 0;
        padding: 0;
        width: 100%;

        .active {
            // background-color: red !important;
            background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
        }
    }
}
