// Import Fuse core library
@import "@fuse/scss/core";
@import "~ngx-smart-modal/ngx-smart-modal";
// Import app.theme.scss
@import "app/app.theme";

a{
  color:#074bff;
}
body{
font-family: 'Mukta Vaani', sans-serif !important;
}
.nsm-dialog{
  top:25%;
}

.profile-image{
  background: white;
}

.primarybtn{
  background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
  color: white !important;
}
.secondarybtn{
    background-image: linear-gradient(to right, #f6f7fc, #f3f4f7) !important;
}
.dt-buttons{
    float: right !important;
  }
  .dataTables_filter label{
  border: 1px solid #cacaca;
  width: 300px;
  border-radius: 30px;
  padding: 10px 30px 10px 16px;
  margin-top: 25px;
  margin-right: 10px;
  position: relative;
  top: 10px;
  }

  .dataTables_wrapper{
    // bottom: 70px !important;
    overflow-x: auto;
  }

  .display{
    width: 100%;
    overflow-x: auto;
  }
  .Product_Avatar{
    min-height: 300px;
    height:300px;
    margin-bottom: 15px;
  }
  .Product_Colors{
    width: 10%;
    position: relative;
    right: 0px;
    top: 12px;
  }
  .Product_Color{
    width: 15px;
    height:15px;
    border-radius:15px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)

  }
  .Product_Color_catalogue{
    width: 25px;
    height:25px;
    border-radius:15px;
    border: transparent;
    margin-bottom: 7px;
  }


  .dataTable thead{
    background: #f6f7fc !important;
  }
  table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid #cacaca !important;
  }
  .sorting_1{
    background: #fff ;
  }
  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
    background-color: #fafbfb !important;
  }
  table.dataTable{
    border-collapse:unset !important;
    border-spacing:2px !important;
    border-bottom: 1px solid #f5f5f5 !important;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.01), 0 30px 6px rgba(0, 0, 0, 0);
    margin: 30px 0px 30px 0px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current{
        background-image: linear-gradient(to right, #f6f7fc, #f3f4f7) !important;
    color: #ffffff !important;
    border:none !important;
  }


  .dt-buttons{
    float: right !important;
  }
  .dataTables_filter label{
  border: 1px solid #cacaca;
  width: 300px;
  border-radius: 30px;
  padding: 10px 30px 10px 16px;
  margin-right: 10px;
  }


  .buttons-copy,.buttons-excel,.buttons-csv,.buttons-print {
    background: none;
    border:1px solid #fafafa;
    color: #2d323e
  }

  .buttons-copy,.buttons-excel,.buttons-csv,.buttons-print :hover {
    background-image: linear-gradient(to right, #f6f7fc, #f3f4f7) !important;
    border:1px solid #fafafa;
    color: white;
  }

  // Import Fuse core library
  @import "@fuse/scss/core";


  @import "~ngx-smart-modal/ngx-smart-modal";


  // Import app.theme.scss
  @import "app/app.theme";

  a{
    color:#074bff ;
  }

  .nsm-dialog{
    top:10%;
  }


  .primarybtn{
    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
    color: white !important;
  }
  .toolbar{
    background: white !important;
  }
  // global css
  .coloredcustom button{
    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
  }
  body.theme-default .accent{
    background: none !important;
    color: #000;
    border-bottom: 1px solid #cacaca !important;
  }

  .price-tables .price-table{
    width: 265px !important;
  }

  .dataTable thead{
    background: #f6f7fc !important;
  }
  table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid #cacaca !important;
  }
  .sorting_1{
    background: #fff ;
  }
  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
    background-color: #fafbfb !important;
  }
  table.dataTable{
    border-collapse:unset !important;
    border-spacing:2px !important;
    border-bottom: 1px solid #f5f5f5 !important;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.01), 0 30px 6px rgba(0, 0, 0, 0);
    margin: 30px 0px 30px 0px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current{
        background-image: linear-gradient(to right, #f6f7fc, #f3f4f7) !important;
    color: #ffffff !important;
    border:none !important;
  }


  .dt-buttons{
    float: right !important;
    bottom:7px;
    margin-bottom: 20px;
  }
  .dataTables_filter label{
  border: 1px solid #cacaca;
  width: 300px;
  border-radius: 30px;
  padding: 8px 15px;
  margin-right: 10px;
  }

  .dataTables_wrapper{

    width: 100%;
    overflow-x: auto;
    padding: 10px;
  }
  .buttons-copy,.buttons-excel,.buttons-csv,.buttons-print {
    background: none;
    border:1px solid #fafafa;
    color: #2d323e
  }

  .buttons-copy,.buttons-excel,.buttons-csv,.buttons-print :hover {
    background-image: linear-gradient(to right, #f6f7fc, #f3f4f7) !important;
    border:1px solid #fafafa;
    color: white;
  }

  .active{
    background-image: linear-gradient(to right, #f6f7fc, #f3f4f7) !important;
    border:1px solid #fafafa;
  }
  .view_profile{
    margin-right: 5px;
  }
  .edit{
    margin-right: 5px;
  }
  .AcceptConnect{
    margin-right: 5px;
  }

  .Product_Cards{
    position: relative;
  }
  .Product_Card{
    background: white;
    width: 280px;
    margin-right: 20px;
    margin-bottom:25px;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0.19), 0 3px 5px rgba(0, 0, 0, 0.23) !important;
  }
  .padding_scrollbar{
    padding: 15px;
  }
  .Product_Image{
    width: 250px;
    margin-left: 20px;
    height: 315px;
  }
  .Product_Name{
    font-size: 14px;
    margin: 10px 5px 5px 5px;
  }
  .Product_MRP{
    float: left;
    width: 35%;
    padding-left:5px;

  }
  .Product_Cost{
      float:right;
      padding-right: 5px;
      text-align: right;
  }
  .Product_Discounts{
      margin-bottom: 5px;
  }
  .Product_Price{
    margin-bottom: 5px;
  }
  .Add_to_Cart_Button{
    border:none;
    height: 30px;
    margin-top:10px;
    color:white;
    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
  }
  .Product_Avatar{
    min-height: 300px;
    height:300px;
    margin-bottom: 15px;
  }
  .Product_Colors{
    width: 10%;
    position: relative;
    right: 0px;
    top: 12px;
  }
  .Product_Color{
    width: 15px;
    height:15px;
    border-radius:15px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)

  }
  .Product_Color_catalogue{
    width: 25px;
    height:25px;
    border-radius:15px;
    border: transparent;
    margin-bottom: 7px;
  }

  .imagebg{
    filter: blur(8px);
  }

  .error{
    border-bottom: 1px solid red !important;
  }

.editeddata
{
  border-radius: 2px !important;
  border: 1px solid #f3c00c !important;
}

.page_title{
  margin-left: 10px;
  font-size: 20px;
}
.divider{
  width: 100%;
  background-color: #cacaca;
  height: 2px;
}
.nsm-dialog{
  top:10% !important;
}
.mat-form-field-wrapper{
  margin-right: 30px;
}
.tabbuttongroup{
list-style-type: none;
display: inline-flex;
}
.tabbuttongroup li{
margin-right: 20px;
}

.tabbuttons{
  height: 35px;
  width: 150px;
  margin-right: 20px;
  border-radius: 30px !important;
  border: 1px !important;
}

.primary{
  background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
  color: white;
  font-size: 12px;
}

.Header h2{
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
  border-bottom: 1px solid #cacaca;
  width: 100%;
}

.widget{
  height: 330px;
}

.card{
  margin:10px 10px;
  background: white;
  min-height: 290px;
  max-height: 290px;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0.19), 0 3px 5px rgba(0, 0, 0, 0.23)
}

.card_title{
padding: 12px;
font-size: 16px;
font-weight: 600;
border-bottom: 1px solid #cacaca;
}


.center_text{
  text-align: center;
  margin-top: 15px;
  color: #666667;
  line-height: 25px;
}
.center_text1{
  text-align: center;
  color: #666667;
  line-height: 25px;
}

.card_paragraph{
    padding: 10px;
    font-size: 14px;
    color: #666667;
    line-height: 25px;
    overflow-y: auto;
height: 200px;
}
.card_value{
  padding: 20px;
  text-align: center;
  color: #666667;
}
.align_center_top{
  text-align: center;
}
.teamName{
  margin-top:10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.designation{
  margin-top:5px;
  font-weight: 400;
  font-size: 14px;
}
.email{
    margin-top:5px;
    font-weight: 400;
    font-size: 14px;
}
.phone{
    margin-top:5px;
    font-weight: 400;
    font-size: 14px;
      text-align: center;
}
.phone1{
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.addnew{
  height: 80px;
  width: 80px;
  margin-left: 30%;
  margin-top:30%;
}
.addnewtext{
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: grey;
}

.modal_container{
  padding: 20px;
}
.modal_input_50{
  width: 50%;
  margin: 0 10px;
}
.modal_input_100{
  width: 100%;
  margin: 0 10px;
}
.modal_tile{
  padding: 10px;
  font-size: 18px;
  color: #093259;
}
.togglestatus{
  position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}

// .deleteicon{
//   float: right;
// margin: 10px 10px 0 0px;
// position: relative;
// right: 0;
// }

.deleteicon{
float:right;
color: #cacaca;
}

.deleteicon:hover{
  color:black;
}

.operations_card{
  padding:15px;
  width: 50%;
  height: 245px;
  border-left:1px solid #cacaca;
}
.pagetitle{
  font-size: 20px;
  font-weight: 600;
  margin-left:15px;
}
.tagline{
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
}

.mat-form-field-underline{
  background-color: #3d70bb !important;
}
.mat-form-field-underline .mat-form-field-disabled{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%) !important;
  background-size: 4px 100% !important;
  background-repeat: repeat-x !important;
  background-color: grey !important;
}

.modalbuttons{
  height: 30px;
  width: 80px;
  border-radius: 30px;
}

.btn{
  height: 30px;
  float: right;
  width: 150px
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.uploadbtn {
  border: 2px solid #0850ad;
  color: #0850ad;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.login #login {
    width: 100%;
    overflow: hidden;
    background: url(/assets/images/backgrounds/dark-material-bg.jpg);
    background-size: 100% 100% !important;
    color: black;
}
.mat-checkbox-layout .mat-checkbox-label{
  font-size: 14px !important;
}

#mat-badge-content-0{
  background: #b6048b ;
    color: white;
}
#mat-badge-content-2{
  background: #3eae5f ;
    color: white;
}
#mat-badge-content-1{
  background: #ff9300 ;
    color: white;
}
.viewmode .ql-editor{
  height: 200px !important;
}

.inventory {
  background: white;
  margin-top: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Table_title {
  text-align: left !important;
  padding:0px 15px;
  height: 35px;
}

.Table_size {
  // width: 30px;
  text-align: center;
}

.table_color {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
}

.inventory_tab td {
  height: 40px;
  text-align: center;
}

.inventory_tab th {
  height: 40px;
  font-size: 13px;
  text-align: center;
}

.inventory_table {
  width: 100%;
}

.inventory_tab {
  width: 100%;
  border: 1px solid #eaeaea
}

.tab_header_bg {
  background: #ecefff;
  font-size: 16px;
}

.inventory_tab tr:nth-child(even) {
  background-color: #fafbff;
}

.inventory_header {
  position: absolute;
  left: 77px;
  font-weight: 600;
  font-size: 18px;
}

td .mat-form-field-wrapper{
  width: 100% !important;
  margin-right: 0px !important;
}
.exportBtn{
  height: 30px;
width: 124px;
border: 1px solid #d0d0d0;
border-radius: 10px;
background: #eaedff;
}

.exportBtn:hover{
  background: #8eadff;
}
