@import "src/@fuse/scss/fuse";

#profile {


    .header {
        height: 350px;
        min-height: 350px;
        max-height: 350px;
        background: url('/assets/images/banner/raymond01.jpg') no-repeat 0 45% #000000;
        background-size: cover;



        .profile-image {

            .user-info{
              margin-right: 10px;
            }

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 16px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .top-slider {
        position: relative;
        margin: 10px 10px 0 10px;
        .user-info {
          position: absolute;
              left: 35px;
              bottom: -40px;
              z-index: 1;
            .name {
                  font-size: 22px;
                  color: #000;
                  margin-left: 20px;
                  position: relative;
                  top: 55px;

            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }

        .profiletabs{

          .mat-tab-labels{
                height: 50px;
                float: right;
                position: relative;
                top: 0px;
                right: 0%;
          }

          .mat-tab-label-container{
            z-index: 0;
          }

          .mat-tab-label{
            border: 1px solid #d2d2d2;
            border-radius: 50px;
            margin: 5px;
            min-width: 120px;
            opacity: 1;
            height: 40px
          }
          .mat-ink-bar{
            background-color: rgba(255, 255, 255, 0);
          }
          .mat-tab-label-active{
            background-image: linear-gradient(to right, #0046ff, #81a6fe) ;
            color: white;
          }

        }
    }
}

.profile-image{
    width: 150px;
    height: 150px;
    max-width: 150px;
    border: 3px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 9px rgba(120, 120, 120, 0.5294117647058824);
    -moz-box-shadow: 0px 0px 10px 9px rgba(120, 120, 120, 0.5294117647058824);
    box-shadow: 0px 0px 10px 9px rgba(120, 120, 120, 0.5294117647058824);
}

.icon_class{
  position: relative;
  bottom:5px;
  color: #939393;
  margin: 5px;
}

.icon_class_image1{
  position: absolute;
  top:0px;
  color: #939393;
}

.icon_class:hover{
  color:#3e74c2;
}
.icon_class_image{
  position: relative;
  bottom:40px;
  color: #939393;
}

.icon_class_image:hover{
  color:#3e74c2;
}

.inputstyle1{
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid grey;
    background: transparent;
    height: 30px;

}
.inputstyle2{
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid grey;
    background: transparent;
    height: 30px;
    margin: 10px;

}
.addnew{
  height: 80px;
  width: 80px;
  margin-left: 30%;
  margin-top:30%;
}
.addnewtext{
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: grey;
}
.modal_container{
  padding: 20px;
}
.modal_input_50{
  width: 50%;
  margin: 0 10px;
}
.modal_input_100{
  width: 100%;
  margin: 0 10px;
}
.modal_tile{
  padding: 10px;
  font-size: 18px;
  color: #093259;
}
.filepos{
  opacity: 0;
  position: absolute;
  left: 0;
}

.uploadbanner{
  position: absolute;
    top: 10px;
    right: 15px;
    height: 30px;
    border-radius: 20px;
}

.uploadbannebtn{
  position: absolute;
    top: 10px;
    right: 0;
    height: 30px;
    border-radius: 20px;
}
