<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="top-slider">
        <slideshow
            [imageUrls]="data.banner_images"
            [height]="height"
            [autoPlay]="true"
            [showArrows]="true"
        ></slideshow>
        <div class="uploadwrapper">
        <button class="uploadbanner primarybtn">Upload Banner Images </button>
        <input type="file" class="uploadbannebtn" (change)="uploadbannerapi($event)" style="opacity:0" multiple="multiple" />
        </div>

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                    fxLayoutAlign.gt-sm="start center">
            <img class="profile-image " [src]="data.logo"
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <div class="wrapper">
                    <mat-icon class="icon_class_image1">mode_edit</mat-icon>
                    <input type="file" class="icon_class_image1 filepos" (change)="profilepicture($event)">
                    </div>
            <div *ngIf="Profile_Name"  [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              <div class="name" style="margin-left:20px;" fxLayout="row">{{data.brand_name}}</div>
              <div fxLayout="row" style="position:absolute;font-size:14px;bottom: -10px;left: 72%;width: 100%;">  {{data.tag_line}} </div>

              <!-- <span>  {{data.tag_line}} </span> <mat-icon (click)="editname()" class="icon_class">mode_edit</mat-icon> -->
            </div>
            <div *ngIf="!Profile_Name" class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              <form [formGroup]="Profile_Name_form"><span><input class="inputstyle1" formControlName="Profile_Name" placeholder="Retailer Name"></span> <mat-icon class="icon_class" (click)="okeditname()">done</mat-icon></form>
            </div>
        </div>
    </div>


    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true" class="profiletabs">

            <mat-tab label="About">
                <profile-about></profile-about>
            </mat-tab>

           <mat-tab label="Team">
                <profile-team></profile-team>
            </mat-tab>


            <mat-tab label="Warehouses">
                <profile-warehouse></profile-warehouse>
            </mat-tab>

            <mat-tab label="Bank Info">
                <profile-bank-info></profile-bank-info>
            </mat-tab>

            <mat-tab label="Gallery">
                <profile-photos-videos></profile-photos-videos>
            </mat-tab>
  <!--
            <mat-tab label="Store">
                <profile-store></profile-store>
            </mat-tab>


 -->

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
