<div id="about" style="padding: 0 24px">
  <div class="Header" fxLayout="row">
   <h2>Banks</h2>
 </div>
  <div class="container">
    <div class="operation_details widget" fxFlex="100" fxFlex.gt-sm="15" fxFlex.gt-md="18" *ngFor="let x of banks">
      <div class="card">
        <div class="team_title">
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10%">
          <img class="avicon" src="./assets/images/Bank.png">
          </div>
          <div style="font-size:16px;font-weight:600;margin-top:20px;margin-left:10px;text-align:center">{{x.benificiary_name}}</div>
          <div class="phone1" style="margin-left:10px">{{x.account_number}}</div>
          <div class="phone1 " style="margin-left:10px">{{x.ifsc_code}}</div>
          <div class="phone1 " style="margin-left:10px">{{x.branch_name}}</div>
          <div class="phone1 " style="margin-left:10px">{{x.swift_code}}</div>

        </div>
      </div>
    </div>
  </div>

</div>
