<div class="selectDate">
  <h2> Approve Order Test </h2>
  <form [formGroup]="form">
    <mat-form-field style="margin-right: 10px;">
      <input matInput [matDatepicker]="picker" formControlName="expectedShipmentDate" placeholder="Choose Shipment date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" formControlName="expectedDeliveryDate" placeholder="Choose Delivery date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <div class="buttons" fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: 20px;">
      <button type="button" class="primarybtn" (click)="submitOrderDate()">
        Submit
      </button>
    </div>
  </form>
</div>
