<div class="page-layout carded left-sidebar">

  <fuse-sidebar class="sidebar" name="carded-left-sidebar-1" position="left" lockedOpen="gt-md">
    <mat-card>
      <ng-container *ngFor="let filter of orderedfilter ; let i =index">
        <div class="sidebar-filter-item">
          <label id="example-radio-group-label" class="filtername">
            <ng-container *ngIf="filter.filtername === 'Size_Code'">Size</ng-container>
            <ng-container *ngIf="filter.filtername === 'Color_code'">Colour</ng-container>
            <ng-container *ngIf="filter.filtername !== 'Size_Code' && filter.filtername !=='Color_code'">{{ filter.filtername |titlecase}}</ng-container>
          </label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group1">
            <ng-container *ngFor="let value of filter.filters; let j = index;">
              <mat-checkbox class="example-radio-button" [(ngModel)]="filtercheckbox[value._id].value" (ngModelChange)="showmevalue($event,filter.filtername,value._id,value.colorName)">
                <ng-container *ngIf="filter.filtername !== 'Color_code'">{{value._id }} ({{value.count}})</ng-container>
                <ng-container *ngIf="filter.filtername === 'Color_code'">
                  <div style="display:inline-flex">
                    <div [style.background]="value._id" style="height:15px;width:15px;border-radius:30px;margin: 5px 10px 0px 0px"></div> {{value.colorName }} ({{value.count}})
                  </div>
                </ng-container>
              </mat-checkbox>
            </ng-container>
            <div class="divider1" fxLayoutAlign="center center" style="height:1px;width:100%;background:rgb(219, 232, 254)"></div>
          </mat-radio-group>
        </div>
      </ng-container>
    </mat-card>
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center ml-sm-32">

    <!-- CONTENT HEADER -->
    <div class="p-12">
      <h2 class="m-0">{{BrandName}} - {{api.SearchResult.length}} Styles</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT TOOLBAR -->
    <div class="px-12 py-8">
      <div fxLayout="row" class="h-100-p" style="height:50px">
        <div fxLayout="column" class="catalogueStore" fxFlex="100">
          <button mat-raised-button class="primarybtn my-12" fxHide.gt-md (click)="toggleSidebar('carded-left-sidebar-1')">
            <mat-icon>filter_list</mat-icon>
            <span>Filter</span>
          </button>
        </div>
      </div>

    </div>
    <!-- / CONTENT TOOLBAR -->
    <div fxLayout="row mb-12">
      <div fxLayout="column">
      <mat-chip-list>
        <ng-container  *ngFor="let filter of filtertag ; let i =index">
        <mat-chip  *ngFor="let value of filter.filters; let j = index;"
        [removable]="removable" [selectable]="selectable " (removed)="removetag(filter,value)">
        <ng-container *ngIf="filter.filtername === 'Color_code'"> {{filter.filters.selectedColorName | titlecase}} </ng-container>
        <ng-container *ngIf="filter.filtername !== 'Color_code'"> {{value | titlecase}} </ng-container>
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon></mat-chip>
        </ng-container>
      </mat-chip-list>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="content mt-20" >
      <div fxLayout="row grid" fxFlex.gt-sm="column">
        <div fxLayout="column" class="px-8 mb-16" fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="16.65" *ngFor="let calalogue of api.SearchResult">
          <mat-card>
            <div fxLayout="row" (click)="getCatalogueDetails(calalogue)" fxLayoutAlign="end start">
              <div class="Product_Avatar text-center">
                <img [defaultImage]="defaultImage" [lazyLoad]="calalogue.data[0].catalogue_imgs" style="height:236px;">
              </div>
              <div class="Product_Colors">
                <div *ngFor="let color1 of calalogue.colorCodes ">
                  <button class="Product_Color" [style.background]=color1></button>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" (click)="getCatalogueDetails(calalogue)" class="my-8">
              <div class="Product_Name" fxLayout="column" fxFlex=100>
                <p class="max-lines"> {{calalogue.data[0].brandname}} {{calalogue.data[0].Style_Name}} {{calalogue.data[0].occassion}} {{calalogue.data[0].pattern}} {{calalogue.data[0].brick}} </p>
              </div>
              <div class="Product_Price" fxLayout="column" fxFlex=100>
                <div class="Product_MRP"> MRP : ₹{{calalogue.data[0].MRP | number : '1.2-2'}}</div>
                <!-- <div class="Product_Cost"><small style="font-size:13px;font-weight:500;color: black;">Cost : ₹{{calalogue.data[0].cost | number : '1.2-2'}}</small> </div> -->
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <!-- / CONTENT -->


  </div>
  <!-- / CENTER -->

</div>
