.Product_Avatar{
  min-height: 100%;
  max-height: 100%;
  // min-height: 300px;
  // height:300px;
  // margin-bottom: 15px;
}
.Product_Img{
  width: 215px;
  height: 315px;
}
.max-lines {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  min-height: 54px;
  font-weight: 500;
}
.Product_Colors{
  width: 10%;
  position: relative;
  right: 10px;
  top: 10px;
}
.Product_Color{
  width: 15px;
  height:15px;
  border-radius:15px;
  border: transparent;
  margin-bottom: 7px;

}
.Product_Color_catalogue{
  width: 25px;
  height:25px;
  border-radius:15px;
  border: transparent;
  margin-bottom: 7px;
}
.Product_Cards{
  position: relative;
}

.Product_MRP{
  width:110px;
}

.bg-white {
    background: #ffffff;
    .sidebar-filter {

        .clearAll {
            float: right;
            margin-right: 15px;
        }

        .sidebar-filter-item{
            padding: 10px;

            h2{
                font-size: 16px;
                margin: 0;
                font-weight: 600;
            }

            .filter-divider {
                margin: 10px 0px;
                border-top: 1px solid rgba(0,0,0,.12);
            }

            .searchRetailer{
                margin-bottom: 15px;

                input {
                    height: 30px;
                    border: 1px solid #e0e0e0;
                    width: 100%;
                    border-radius: 22px;
                }
            }

            .radio-button {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label {
                    position: relative;
                    padding-left: 28px;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                    color: #000000;
                    font-size: 15px;
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #000000;
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: #094cff;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

            .checkbox-button {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                /* Base for label styling */
                [type="checkbox"]:not(:checked),
                [type="checkbox"]:checked {
                position: absolute;
                left: -9999px;
                }
                [type="checkbox"]:not(:checked) + label,
                [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 1.95em;
                cursor: pointer;
                color: #000000;
                font-size: 15px;
                }

                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 1.25em; height: 1.25em;
                border: 1px solid #000000;
                background: #fff;
                border-radius: 4px;
                // box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
                }
                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                content: '\2713\0020';
                position: absolute;
                top: 2px;
                left: 2px;
                font-size: 1.3em;
                line-height: 0.8;
                color: #094cff;
                transition: all .2s;
                font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
                }
                /* checked mark aspect changes */
                [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
                }
                [type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
                }
                /* disabled checkbox */
                [type="checkbox"]:disabled:not(:checked) + label:before,
                [type="checkbox"]:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
                }
                [type="checkbox"]:disabled:checked + label:after {
                color: #999;
                }
                [type="checkbox"]:disabled + label {
                color: #aaa;
                }
                /* accessibility */
                [type="checkbox"]:checked:focus + label:before,
                [type="checkbox"]:not(:checked):focus + label:before {
                border: 1px solid #094cff;
                }

                /* hover style just for information */
                // label:hover:before {
                // border: 2px solid #4778d9!important;
                // }

                .color-ball {
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    border-radius: 22px;
                    margin-right: 5px;
                }
            }

            .select-box {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                select {
                    height: 30px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 0 12px;
                }
            }
        }
    }
}
.sidebarretailer{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 22px;
}
.sidebar-filter{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: white;
}

.item-count{
    font-size: 12px;
    color: #656565;
}

.example-radio-group1 {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.example-radio-button {
  margin: 5px;
  font-size: 15px;
}
.filtername{
  font-weight: 400;
  color: #7c7c7c;
  font-size: 14px;
}

.example-radio-button .mat-checkbox-label{
  font-size: 14px !important;
}
.sidebar-filter-item{
  padding: 10px;
}


/*@import "src/@fuse/scss/fuse";
.custom-layout{

    .header {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        padding: 0 24px;

        h2 {
            font-weight: bold;
            color: #000000;
        }


        .top-search {

            .search {
                position: relative;
                height: 36px;
                width: 350px;
                border-radius: 50px 0 0 50px;

                input {
                    height: 36px;
                    width: 350px;
                    border-radius: 50px 0 0 50px;
                    padding-right: 50px;
                    box-shadow: 0px 2px 5px 0px #b1b1b1;
                    margin-right: 10px;
                }

                mat-icon {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 5px;
                    width: 35px;
                }
            }

            button {
                border-radius: 0 50px 50px 0;
                font-weight: normal;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #e0e0e0;
        }

    }

    .content-wrapper {

        .content-section {
            padding: 10px 24px;

            .custom-button{
                margin: 10px 0 10px 0;
                border-radius: 22px;
                color: #fff;
                padding: 0 20px;
                font-size: 12px;
                font-weight: normal;

                mat-icon{
                    font-size: 20px;
                }
            }

            .retailer-store {
                text-align: right;

                .store-badge{
                    padding: 3px 8px;
                    background-image: linear-gradient(to right, #0046ff, #81a6fe) !important;
                    color: #fff;
                    font-size: 12px;
                    border-radius: 22px;
                    text-align: center;
                }

            }

            .price-tables {
                margin-left: -12px;
                margin-right: -12px;

                .mat-divider {
                    margin: 10px 15px !important;
                }

                .terms {
                    padding: 10px 15px;
                    font-size: 14px;
                    .secondary-text {

                    }
                }

                .price-table.style-1 {
                    transition: all 0.3s;
                    cursor: pointer;
                    width: 225px;

                    &:hover {
                        transition: all 0.3s;
                        cursor: pointer;
                        box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
                    }

                    .price {
                        padding: 15px 15px;

                        .brand-profile {
                            height: 180px;
                            width: 100%;
                            text-align: center;
                            padding-top: 10px;
                            img {
                                height: 170px;
                                max-width: 100%;
                            }
                        }
                    }

                    .retailer-details {
                        padding: 15px 15px;
                        p {
                            margin: 0;
                            font-size: 12px;
                            color: #000;
                            font-weight: 600;
                        }
                        mat-icon {
                            font-size: 28px;
                            background: linear-gradient(to right, #0046ff, #81a6fe 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -webkit-transform: rotate(145deg);
                            transform: rotate(145deg);
                            width: 28px;
                            line-height: 25px;
                        }
                        label {
                            background: linear-gradient(to right, #0046ff, #81a6fe 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .dress-colors {
                        .color-pic {
                            width: 8px;
                            height: 8px;
                            margin: 2px;
                            border-radius: 100%;
                        }

                        .red {
                            background: red;
                        }
                        .blue {
                            background: blue;
                        }
                        .yellow {
                            background: yellow;
                        }
                    }

                }
            }
        }

    }

}

.Product_Avatar{
  min-height: 300px;
  height:300px;
  margin-bottom: 15px;
}
.max-lines{
  display: block;// or inline-block
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  min-height: 54px;
}
.Product_Colors{
  width: 10%;
  position: relative;
  right: 10px;
  top: 10px;
}
.Product_Color{
  width: 15px;
  height:15px;
  border-radius:15px;
  border: transparent;
  margin-bottom: 7px;

}
.Product_Color_catalogue{
  width: 25px;
  height:25px;
  border-radius:15px;
  border: transparent;
  margin-bottom: 7px;
}
.Product_Cards{
  position: relative;
}
.Product_Card{
  background: white;
    width: 250px;
  margin-right: 20px;
  margin-top:20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.Product_MRP{
  width:120px;
}
.Product_Cost{
  width:130px;
}


.bg-white {
    background: #ffffff;
    .sidebar-filter {

        .clearAll {
            float: right;
            margin-right: 15px;
        }

        .sidebar-filter-item{
            padding: 5px 15px;

            h2{
                font-size: 16px;
                margin: 0;
                font-weight: 600;
            }

            .filter-divider {
                margin: 10px 0px;
                border-top: 1px solid rgba(0,0,0,.12);
            }

            .searchRetailer{
                margin-bottom: 15px;

                input {
                    height: 30px;
                    border: 1px solid #e0e0e0;
                    width: 100%;
                    border-radius: 22px;
                }
            }

            .radio-button {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label {
                    position: relative;
                    padding-left: 28px;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                    color: #000000;
                    font-size: 15px;
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #000000;
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: #094cff;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

            .checkbox-button {
                display: inline-block;
                padding: 5px 10px;
                width: 100%;

                // Base for label styling
                [type="checkbox"]:not(:checked),
                [type="checkbox"]:checked {
                position: absolute;
                left: -9999px;
                }
                [type="checkbox"]:not(:checked) + label,
                [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 1.95em;
                cursor: pointer;
                color: #000000;
                font-size: 15px;
                }

                // checkbox aspect
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 1.25em; height: 1.25em;
                border: 1px solid #000000;
                background: #fff;
                border-radius: 4px;
                // box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
                }
                // checked mark aspect
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                content: '\2713\0020';
                position: absolute;
                top: 2px;
                left: 2px;
                font-size: 1.3em;
                line-height: 0.8;
                color: #094cff;
                transition: all .2s;
                font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
                }
                // checked mark aspect changes
                [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
                }
                [type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
                }
                // disabled checkbox
                [type="checkbox"]:disabled:not(:checked) + label:before,
                [type="checkbox"]:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
                }
                [type="checkbox"]:disabled:checked + label:after {
                color: #999;
                }
                [type="checkbox"]:disabled + label {
                color: #aaa;
                }
                // accessibility
                [type="checkbox"]:checked:focus + label:before,
                [type="checkbox"]:not(:checked):focus + label:before {
                border: 1px solid #094cff;
                }

                // hover style just for information
                // label:hover:before {
                // border: 2px solid #4778d9!important;
                // }

                .color-ball {
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    border-radius: 22px;
                    margin-right: 5px;
                }
            }

            .select-box {
                display: inline-block;
                padding: 5px 0;
                width: 100%;

                select {
                    height: 30px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 0 12px;
                }
            }
        }
    }
}
.sidebarretailer{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 22px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.item-count{
    font-size: 12px;
    color: #656565;
}

.example-radio-group1 {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.example-radio-button {
  margin: 5px;
  font-size: 15px;
}
.filtername{
  font-weight: 400;
  color: #7c7c7c;
  font-size: 14px;
}

.example-radio-button .mat-checkbox-label{
  font-size: 14px !important;
}
*/
